{% layout "_RootLayout" %}


<div class="wrapper">

<header class="header-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- logo -->
                <div class="header-logo float-left">
                    <a href="/"><img src="{{store.logoUrl}}" alt="main logo"></a>
                </div>
                <!-- header-search & total-cart -->
                <div class="float-right">
                    <div class="header-option-btns float-right">
                        <!-- header-search -->
                        <div class="header-search float-left">
                            <button class="search-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <div class="dropdown-menu header-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Search">
                                    <button><i class="fa fa-long-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- header Account -->
                        <div class="header-account float-left">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="login.html">Log in</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="wishlist.html">Wish list</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Header Cart -->
                        <div class="header-cart float-left">
                            <!-- Cart Toggle -->
                            <a class="cart-toggle" href="{% route Cart %}" data-toggle="dropdown">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span>{{cart.totalItems}}</span>
                            </a>
                            <!-- Mini Cart Brief -->
                            <div class="mini-cart-brief dropdown-menu text-left">
                                <!-- Cart Products -->
                                <div class="all-cart-product clearfix">
                                    {% for cartItem in cart.items %}
                                    <div class="single-cart clearfix">
                                        <div class="cart-image">
                                            <a href='{% route SingleProduct seName="{{cartItem.slug}}" %}'><img src="{{cartItem.imageUrl}}" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h5><a href='{% route SingleProduct seName="{{cartItem.slug}}" %}'>{{cartItem.productName}}</a></h5>
                                            <p>
                                                {{cartItem.attributeText}}
                                            </p>
                                            <p>{{cartItem.quantity}} x {{cartItem.price}}</p>
                                            <a href="#" class="cart-delete" title="Remove this item"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- Cart Total -->
                                <div class="cart-totals">
                                    <h5>Total <span>{{cart.subTotal}}</span></h5>
                                </div>
                                <!-- Cart Button -->
                                <div class="cart-bottom  clearfix">
                                    <a href="{% route Cart %}">Check out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="main-menu menu-right float-right">
                        <ul>
                            <li class="active">
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="Product.html">shop</a>
                                <ul class="sub-menu">
                                    <li><a href="Product.html">Product</a></li>
                                    <li><a href="Productdetails.html">Product details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="cart.html">cart</a></li>
                                    <li><a href="checkoutpage.html">Checkout</a></li>
                                    <li><a href="Loginpage.html">login</a></li>
                                    <li><a href="register.html">REgister</a></li>
                                    <li><a href="Loginpage.html">wishlist</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <ul>
                    <li>
                        <a href="{% route AccountProfile %}" class='{% if active_menu == "AccountProfile" %}active{% endif %}'>{{"Profile Information" | t}}</a>
                    </li>
                    <li>
                        <a href="{% route AccountAddresses %}" class='{% if active_menu == "AccountAddresses" %}active{% endif %}'>{{"Saved Addresses" | t}}</a>
                    </li>
                    <li>
                        <a href="{% route AccountOrders %}" class='{% if active_menu == "AccountOrders" %}active{% endif %}'>{{"Orders" | t}}</a>
                    </li>
                    <li>
                        <a href="{% route AccountWishlist %}" class='{% if active_menu == "AccountWishlist" %}active{% endif %}'>{{"Wishlist" | t}}</a>
                    </li>
                    <li>
                        <a href="{% route AccountReviews %}" class='{% if active_menu == "AccountReviews" %}active{% endif %}'>{{"Review Center" | t}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                {% bodyContent %}
            </div>
        </div>

    </div>
</div>
    

<div class="footer-top-section footer-top-dark section pt-100 pb-60">
    <div class="container">
        <div class="row">

            <!-- Footer Widget -->
            <div class="footer-widget footer-widget-dark col-md-4 col-sm-6 col-xs-12 mb-40">
                <h5 class="widget-title">ABOUT THE STORE</h5>
                <p>There are many variations of passages of Lor available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                <div class="footer-social fix">
                    <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-2x fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
                </div>
            </div>

            <!-- Footer Widget -->
            <div class="footer-widget footer-widget-dark col-md-3 col-sm-6 col-xs-12 mb-40">
                <h5 class="widget-title">CUSTOMER SERVICE</h5>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Returns & Refunds</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">online store</a></li>
                    <li><a href="#">Conditions</a></li>
                </ul>
            </div>

            <!-- Footer Widget -->
            <div class="footer-widget footer-widget-dark col-md-2 col-sm-6 col-xs-12 mb-40">
                <h5 class="widget-title">PROFILE</h5>
                <ul>
                    <li><a href="#">my Account</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">help</a></li>
                    <li><a href="#">support</a></li>
                    <li><a href="#">wishlist</a></li>
                </ul>
            </div>

            <!-- Footer Widget -->
            <div class="footer-widget footer-widget-dark col-md-3 col-sm-6 col-xs-12 mb-40">
                <h5 class="widget-title">instagram</h5>
                <ul class="instagram-feed">
                    <li><a href="#"><img src="img/instagram/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="img/instagram/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="img/instagram/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="img/instagram/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="img/instagram/5.jpg" alt=""></a></li>
                    <li><a href="#"><img src="img/instagram/6.jpg" alt=""></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="footer-bottom-section footer-bottom-dark section">
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="copyright text-left col-sm-6 col-xs-12">
                <p>Powered by <a href="https://hastech.company/">VALUEWORX</a></p>
            </div>
            <!-- Payment Method -->
            <div class="footer-menu text-right col-sm-6 col-xs-12">
                <a href="#">Help & Support</a>
            </div>
        </div>
    </div>
</div>


</div>