{% layout "_RootLayout" %}

<!-- START HEADER SECTION -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <!-- logo -->
                <div class="header-logo float-left">
                    <a href="{{store.url}}"><img width="100" height="100" src="/common/assets/images/logo.png" alt="main logo"></a>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a>{{"Billing & Shipping" | t}}</a>
                    </li>
                    <li>
                        <a>{{"Payment Info" | t}}</a>
                    </li>
                    <li>
                        <a>{{"Order Summary" | t}}</a>
                    </li>
                    <li>
                        <a>{{"Order Placed" | t}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER SECTION -->
<!-- MAIN SECTION START -->
<div class="section">
    {% bodyContent %}
</div>
<!-- MAIN SECTION END -->