<!doctype html>
<html class="no-js" lang="en">
<head>
    {% widget "head_start" %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{seoMeta.pageTitle}} - {{store.name}}</title>
    <meta name="description" content="{{seoMeta.metaDescription}}">
    <meta name="keywords" content="{{seoMeta.metaKeywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <!-- All CSS Files -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{{store.theme.url}}/assets/css/bootstrap.min.css">
    <!-- Icon Font -->
    <link rel="stylesheet" href="{{store.theme.url}}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{store.theme.url}}/assets/css/font-awesome.css">
    <link rel="stylesheet" href="{{store.theme.url}}/assets/css/pe-icon-7-stroke.css">
    <!-- Plugins css file -->
    <link rel="stylesheet" href="{{store.theme.url}}/assets/css/plugins.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{{store.theme.url}}/assets/css/style.min.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{{store.theme.url}}/assets/css/responsive.css">
    <!-- jQuery latest version -->
    <script src="{{store.theme.url}}/assets/js/jquery-3.1.1.min.js"></script>
    <!-- Modernizr JS -->
    <script src="{{store.theme.url}}/assets/js/modernizr-2.8.3.min.js"></script>

    <script type="text/javascript">
        //helper for quick calls
        var ready = function (callback) {
            jQuery(document).ready(callback);
        }
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% widget "head_end" %}
</head>
<body>
    {% widget "body_start" %}
    {% bodyContent %}
    <!-- Placed JS at the end of the document so the pages load faster -->
    <!-- Bootstrap js -->
    <script src="{{store.theme.url}}/assets/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="{{store.theme.url}}/assets/js/plugins.js"></script>
    <!-- Ajax Mail js -->
    <script src="{{store.theme.url}}/assets/js/ajax-mail.js"></script>
    <!-- Main js -->
    <script src="{{store.theme.url}}/assets/js/main.js"></script>
    <script src="{{store.theme.url}}/assets/js/wow.min.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-validator/jquery.validate.min.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-validator/additional-methods.js"></script>
    <script src="{{store.url}}/common/assets/lib/navigo/navigo.js"></script>
    <script src="{{store.url}}/common/assets/lib/liquidjs/liquid.js"></script>
    <script src="{{store.url}}/common/assets/js/ajax.js"></script>
    <script src="{{store.url}}/common/assets/js/helpers.js"></script>
    <script src="{{store.url}}/common/assets/js/catalog.js"></script>
    {% widget "body_end" %}
</body>
</html>