<div class="product-carousel">
    <div class="container">
        <h3 class="title">{{title}}</h3>
        <div class="row" id="product-carousel-{{widgetId}}">
            {% for product in products %}
            {% partial "Products/_ProductBox" %}
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
    ready(function() {
        jQuery("#product-carousel-{{widgetId}}").slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4
        });
    });
</script>