<div class="product-carousel">
    <div class="container">
        <h3 class="title">{{title}}</h3>
        <div class="row" id="product-carousel-{{widgetId}}">
            {% for product in products %}
            <div class="product-item product-item-2 text-center" style="margin: 20px;" id="product-{{product.id}}">
                <!-- Product Image -->
                <div class="product-img">
                    <!-- Image -->
                    <a class="image" href='{% route SingleProduct seName="{{product.seName}}" %}'>
                        <img src="{{product.media[0].url}}" alt="{{product.name}}" />
                    </a>
                    <!-- Action Button -->
                    <div class="action-btn-2">
                        <a href="#" title='{{"Add to Cart" | t}}'><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal" title='{{"Quick View" | t}}'><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="wishlist" href="#" title='{{"Wishlist" | t}}'><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- Portfolio Info -->
                <div class="product-info">
                    <!-- Title -->
                    <h5 class="title"><a href='{% route SingleProduct seName="{{product.seName}}" %}'>{{product.name}}</a></h5>
                    {% partial "Products/_RatingMini" %}
                    <!-- Price -->
                    <div class="price-ratting fix">
                        <span class="price"><span class="new">{{product.price | withCurrency}}</span></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
    ready(function() {
        jQuery("#product-carousel-{{widgetId}}").slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4
        });
    });
</script>