{% layout "_Layout" %}
{% global page_title=@t"Email Templates" active_menu="EmailTemplatesList" parent_active_menu="EmailsList" %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-title">
                {{"Email Templates" | t}}
                <button class="btn btn-sm btn-primary float-right" onclick="editEmailTemplate(0)">{{"Add email template" | t}}</button>
            </div>
            <div class="panel-body no-padding">
                <table id="grid-selection" class="table table-condensed table-hover">
                    <thead style="display: none">
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                        <th data-column-id="templateName">{{"Template Name" | t}}</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                    </tr>
                    </thead>
                </table>
                {{emailTemplates | scriptJson : 'initData'}}
                <script type="text/javascript">
                    var editEmailTemplate = function(id) {
                        var url = '{% route Admin.GetEmailTemplate emailTemplateId="_id" %}';
                        url = url.replace("_id", id);
                        navigate(url);
                    }
                    ready(function() {

                        generateGrid({
                            element: "grid-selection",
                            initialData: {
                                emailTemplates: initData,
                                current: parseInt("{{current}}"),
                                total: parseInt("{{total}}"),
                                rowCount: parseInt("{{rowCount}}")
                            },
                            method: "GET",
                            navigation: 0,
                            selection: false,
                            url: "{% route api_Admin.EmailTemplatesList %}",
                            responseObject: "emailTemplates",
                            formatters: {
                                "commands": function(column, row) {
                                    return "<button class=\"btn btn-sm btn-secondary command-edit\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='editEmailTemplate(" +
                                        row.id +
                                        ")'><span class=\"rbicon-edit\"></span></button> " +
                                        "<button class=\"btn btn-sm btn-danger command-preview\" data-row-id=\"" +
                                        row.id +
                                        "\"><span class=\"rbicon-trash-2\"></span></button>";
                                }
                            }
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>

