{% layout "_Layout" %}
{% global page_title=@t"Email Accounts" active_menu="EmailAccountsList" parent_active_menu="EmailsList" %}

<div class="row">
    <div class="col-md-10 col-offset-2">
        <div class="panel">
            <div class="panel-title">
                {{"Email Accounts" | t}}
                <button class="btn btn-sm btn-primary float-right" onclick="editEmailAccount(0)">{{"Add email account" | t}}</button>
            </div>
            <div class="panel-body no-padding">
                <table id="grid-selection" class="table table-condensed table-hover">
                    <thead style="display: none">
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                        <th data-column-id="email">{{"Email" | t}}</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                    </tr>
                    </thead>
                </table>
                {{emailAccounts | scriptJson : 'initData'}}
                <script type="text/javascript">
                    var editEmailAccount = function(id) {
                        var url = '{% route GetEmailAccount emailAccountId="_id" %}';
                        url = url.replace("_id", id);
                        navigate(url);
                    }
                    ready(function() {
                        generateGrid({
                            element: "grid-selection",
                            initialData: {
                                emailAccounts: initData,
                                current: parseInt("{{current}}"),
                                total: parseInt("{{total}}"),
                                rowCount: parseInt("{{rowCount}}")
                            },
                            method: "GET",
                            navigation: 0,
                            selection: false,
                            url: "{% route api_EmailAccountsList %}",
                            responseObject: "emailAccounts",
                            formatters: {
                                "commands": function(column, row) {
                                    return "<button class=\"btn btn-sm btn-secondary command-edit\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='editEmailAccount(" +
                                        row.id +
                                        ")'><span class=\"rbicon-edit\"></span></button> " +
                                        "<button class=\"btn btn-sm btn-danger command-preview\" data-row-id=\"" +
                                        row.id +
                                        "\"><span class=\"rbicon-trash-2\"></span></button>";
                                }
                            }
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>

