{% layout "_Layout"%}
{% global page_title=@t"Email Template Editor" active_menu="GetEmailTemplate" parent_active_menu="EmailsList" menu_group="EmailTemplateEdit" %}

<form action="{% route api_SaveEmailTemplate %}" method="post" id="template-editor-form">
    {% control xsrf %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-title">
                    {% if emailTemplate.id != 0 %}
                    {{ emailTemplate.templateName }} ({{ emailTemplate.templateSystemName }})
                    {% else %}
                    {{"Add email template" | t }}
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control label text=@t"Template Name" for="templateName" %}
                        <div class="panel-help">
                            {{"The name to identify the template. It doesn't necessarily need to be unique." | t}}
                        </div>
                        {% control text name="templateName" value="{{emailTemplate.templateName}}"%}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"System Name" for="templateSystemName" %}
                        <div class="panel-help">
                            {{"The system name is used internally by EvenCart. It must be unique across email templates." | t}}
                        </div>
                        {% if emailTemplate.isSystem %}
                        {% control text name="templateSystemName" value="{{emailTemplate.templateSystemName}}"%}
                        {% else %}
                        {% control label text="{{emailTemplate.templateSystemName}}"%}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Subject" for="subject" %}
                        <div class="panel-help">
                            {{"It specifies the subject line in the email. You can also use object tokens in the subject line." | t}}
                        </div>
                        {% control text name="subject" value="{{emailTemplate.subject}}"%}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Template" for="template" %}
                        <div class="panel-help">
                            {{"The body the email that will be sent. You can include values from the available objects listed below e.g. 'store.name' displays the store name in the email. Use double curly brackets to surround the object values. Refer to <a href='https://docs.evencart.com/api-endpoints/'>EvenCart API</a> to see the object properties." | t}}
                        </div>
                        {% if availableTokens.size > 0 %}
                        <small class="text-muted text-sm">
                            <span>
                                {{"Available objects : " | t}}
                            </span>
                            <strong> {{availableTokens | join : ", "}}</strong>
                        </small>
                        {% endif %}
                        {% if emailTemplate.isMaster %}
                        {% control textarea id="emailTemplate_template" name="template" value="{{emailTemplate.template}}" style="height:300px" %}
                        {% else %}
                        {% control wyswyg id="emailTemplate_template" name="template" value="{{emailTemplate.template}}" style="height:300px" %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% control checkbox text=@t"Is Master" name="isMaster" value="emailTemplate.isMaster" %}
                        <div class="panel-help">
                            {{"A master template is a template that is parent to all the other templates. It acts as a skin to the other templates which use it. A master template must have % bodyContent % tag which will be replaced by the template content before sending emails." | t}}
                        </div>
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Master Template" for="parentEmailTemplateId" %}
                        <div class="panel-help">
                            {{"Select a master template that'll be used for this template." | t}}
                        </div>
                        {% control select id="parentEmailTemplateId" name="parentEmailTemplateId" value="emailTemplate.parentEmailTemplateId" items="availableMasterTemplates" %}
                    </div>

                    <div class="form-group">
                        {% control label text=@t"Email Account" for="emailAccountId" %}
                        {% control select id="emailAccountId" name="emailAccountId" value="emailTemplate.emailAccountId" required="true" items="availableEmailAccounts" %}
                    </div>
                </div>
            </div>
            {% control hidden name="id" value="{{emailTemplate.id}}" %}
            <div class="save-button-container">
                <button type="submit" class="btn btn-success">{{"Save Email Template" | t}}</button>
            </div>
        </div>

    </div>
</form>
<script type="text/javascript">
    ready(function() {
        initAjaxForm("template-editor-form",
            {
                onSuccess: function() {
                    notify("success", '{{"Email template was saved successfully." | t }}');
                    setTimeout(function() {
                            navigate("{% route EmailTemplatesList %}");
                        },
                        500);

                }
            });
    });
</script>
