{% layout "_Layout" %}
<div class="page-section section wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">
                    {{"Register" | t}}
                </h3>
            </div>
           
            <div class="col-sm-8 offset-2">
                <div class="login-reg-form">
                    <div class="text-center">
                        {{"Already have an account?" | t}} <a href="{% route Login %}">{{"Login Now" | t }}</a>
                    </div>
                    {% if registrationDisabled %}
                    <div class="alert alert-danger mt-10 text-center">
                        {{"New registrations are not allowed at the moment" | t}}
                    </div>
                    {% if allowInvites %}
                    <div class="text-center">
                        <p>
                            {{"You can however request an invite if you would like to create the account early."}}
                        </p>
                        <a href="{% route RequestInvite %}">
                            {{"Request Invite"}}
                        </a>
                    </div>
                    {% endif %}
                    {% else %}
                    <form action="{% route api_Register %}" method="post" id="formRegistration">
                        {% control xsrf %}
                        <div class="row">
                            <div class="col-sm-12 mb-20">
                                {% control label text=@t"Email" for="email" %}
                                {% control text name="email" id="email" %}
                                {% control validator for="email" required="true" email="true" %}
                            </div>
                            <div class="col-sm-12 mb-20">
                                {% control label text=@t"Password" for="password" %}
                                {% control password name="password" id="password" %}
                                {% control validator for="password" required="true" %}
                            </div>
                            <div class="col-sm-12 mb-20">
                                {% control label text=@t"Confirm Password" for="confirmPassword" %}
                                {% control password name="confirmPassword" id="confirmPassword" %}
                                {% control validator for="confirmPassword" required="true" %}
                            </div>
                            {% for consent in consents %}
                            <div class="col-sm-12 mb-20">
                                <input id="consent_{{consent.id}}" name="Consents[{{forloop.index0}}].ConsentStatus" value="Accepted" type="checkbox">
                                <input name="Consents[{{forloop.index0}}].Id" value="{{consent.id}}" type="hidden">
                                <label for="consent_{{consent.id}}">{{consent.title}}</label>
                                <small>
                                    {{consent.description}}
                                </small>
                            </div>
                            {% endfor %}
                            <div class="col-sm-12">
                                {% control hidden name="inviteCode" value="{{inviteCode}}" %}
                                <input value="register" type="submit">
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        ready(function () {
                            initAjaxForm("formRegistration",
                                {
                                    onSuccess: function (response) {
                                        var msg = "{{'Thank you for joining us.' | t}}";
                                        if (response.mode == "Immediate" || response.mode == "InviteOnly") {
                                            msg += "{{'You will be redirected to login page to proceed.' | t}}";
                                        }
                                        else if (response.mode == "WithActivationEmail") {
                                            msg += "{{'Please check your email inbox for activation link.' | t}}";
                                        }
                                        else if (response.mode == "ManualApproval") {
                                            msg += "{{'You will get an email once your account is approved.' | t}}";
                                        }
                                        notify("success", msg);
                                        setTimeout(function() {
                                                var loginUrl = "{% route Login %}";
                                                window.location.href = loginUrl;
                                            },
                                            1000);
                                    },
                                    errorPlacement: function (error, element) {
                    
                                    }
                                });
                        });
   
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

