{% layout "_Layout" %}
<div class="page-section section wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">
                    {{"Register" | t}}
                </h3>
            </div>
           
            <div class="col-sm-8 offset-2">
                <div class="login-reg-form">
                    <p>
                        {{"Thank you for confirming your email address. Your account is now active." | t}}
                    </p>
                    <a href="{% route Login %}">{{"Login" | t}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

