EvenCart.Services/bin/
EvenCart.Data/obj/
EvenCart.Data/bin/
EvenCart.Services/obj/
EvenCart.Core/obj/
EvenCart.Core/bin/
EvenCart.Infrastructure/obj/
EvenCart/obj/
Tests/EvenCart.Core.Tests/obj/
Tests/EvenCart.Core.Tests/bin/
Tests/EvenCart.Services.Tests/bin/
Tests/EvenCart.Services.Tests/obj/
Tests/EvenCart.Tests.Data/bin/
Tests/EvenCart.Tests.Data/obj/
EvenCart.Infrastructure/bin/
EvenCart/bin/
.vs/
EvenCart/wwwroot/content/Uploads/
*.pdb
EvenCart/Plugins/
Plugins/Shipping.FedEx/obj/
Plugins/Payments.PaypalDirect/obj/
Plugins/Payments.PaypalDirect/bin/
Plugins/Ui.Slider/obj/
Plugins/Payments.PaypalWithRedirect/obj/
Plugins/Payments.PaypalWithRedirect/bin/
Tests/EvenCart.WebHost.Tests/bin/
Tests/EvenCart.WebHost.Tests/obj/
EvenCart/wwwroot/bundles/*.js
EvenCart/wwwroot/bundles/*.css
