src/EvenCart.Services/bin/
src/EvenCart.Data/obj/
src/EvenCart.Data/bin/
src/EvenCart.Services/obj/
src/EvenCart.Core/obj/
src/EvenCart.Core/bin/
src/EvenCart.Infrastructure/obj/
src/EvenCart/obj/
src/Tests/EvenCart.Core.Tests/obj/
src/Tests/EvenCart.Core.Tests/bin/
src/Tests/EvenCart.Services.Tests/bin/
src/Tests/EvenCart.Services.Tests/obj/
src/Tests/EvenCart.Tests.Data/bin/
src/Tests/EvenCart.Tests.Data/obj/
src/EvenCart.Infrastructure/bin/
src/EvenCart/bin/*/*
!src/EvenCart/bin/plugins/index.html
src/.vs/
src/EvenCart/wwwroot/content/Uploads/*/*
src/EvenCart/wwwroot/content/Uploads/*.*
!src/EvenCart/wwwroot/content/Uploads/Serves/index.html
*.pdb
src/EvenCart/Plugins/*
!src/EvenCart/Plugins/index.html
src/Plugins/Shipping.FedEx/obj/
src/Plugins/Payments.PaypalDirect/obj/
src/Plugins/Payments.PaypalDirect/bin/
src/Plugins/Ui.Slider/obj/
src/Plugins/Payments.PaypalWithRedirect/obj/
src/Plugins/Payments.PaypalWithRedirect/bin/
src/Tests/EvenCart.WebHost.Tests/bin/
src/Tests/EvenCart.WebHost.Tests/obj/
src/EvenCart/wwwroot/bundles/*.js
src/EvenCart/wwwroot/bundles/*.css
src/Plugins/Shipping.UPS/obj/
src/EvenCart/wwwroot/bundles/*.*
!src/EvenCart/wwwroot/bundles/index.html
publish/
site-template/
src/Build/Cleanup/obj/
src/Plugins/Payments.Stripe/obj/
src/Plugins/Payments.Stripe/bin/
src/Plugins/Support.Forums/obj/
plugin-project/
src/Plugins/Ui.SearchPlus/obj/
src/Plugins/Payments.Square/bin/
src/Plugins/Payments.Square/obj/
src/Tests/EvenCart.Tests.Runner/bin/
src/Tests/EvenCart.Tests.Runner/obj/
src/Plugins/Shipping.Shippo/bin/
src/Plugins/Shipping.Shippo/obj/
src/EvenCart/App_Data/database.config
