<form action="{% route api_Admin.SaveConsent %}" method="post" id="consent-editor-form">
    {% control xsrf %}
    <div class="panel">
        <div class="panel-title">
            {{"Consent Editor" | t}}
            <a class="popup-close float-right">
                <span class="rbicon-x"></span>
            </a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    {% if consent.id > 0 %}
                    <div class="form-group">
                        {% control label text=@t"Group" for="group" %}
                        <div class="panel-help">
                            {{"Select the consent group to which the consent belong. Select 'Select' to use the default consent group." | t}}
                        </div>
                        {% control select name="ConsentGroup.Id" value="consent.consentGroup.id" items="consentGroups" %}
                    </div>
                    {% else %}
                    {% control hidden name="ConsentGroup.Id" value="{{consent.consentGroup.id}}" %}
                    {% endif %}
                    <div class="form-group">
                        {% control label text=@t"Title" for="title" %}
                        <div class="panel-help">
                            {{"The title that is shown to the customer for the consent. This is optional." | t}}
                        </div>
                        {% control textarea name="title" value="{{consent.title}}" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Description" for="description" %}
                        <div class="panel-help">
                            {{"The description that is shown to the customer for the consent." | t}}
                        </div>
                        {% control textarea id="description" name="description" value="{{consent.description}}" %}
                    </div>
                    <div class="form-group">
                        {% control checkbox name="isRequired" value="consent.isRequired" text=@t"Required" %}
                        <div class="panel-help">
                            {{"Check if the consent is required. The user can't proceed without accepting the consent." | t}}
                        </div>
                    </div>
                    <div class="form-group">
                        {% control checkbox name="enableLogging" value="consent.enableLogging" text=@t"Enable Logging" %}
                        <div class="panel-help">
                            {{"Check if the consent history should be logged." | t}}
                        </div>
                    </div>
                    <div class="form-group">
                        {% control checkbox name="oneTimeSelection" value="consent.oneTimeSelection" text=@t"One time selection" %}
                        <div class="panel-help">
                            {{"Check if the consent is only selected on the registration page and can't be modified later." | t}}
                        </div>
                    </div>
                    <div class="form-group">
                        {% control checkbox name="published" value="consent.published" text=@t"Published" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="popup-actions text-center">
                    {% control hidden name="id" value="{{consent.id}}" %}
                    <button type="submit" class="btn btn-sm btn-primary">{{"Save Consent" | t}}</button>
                    <button class="btn btn-secondary btn-sm close-popup" type="reset">{{"Cancel" | t}}</button>
                </div>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    initAjaxForm("consent-editor-form",
        {
            onSuccess: function () {
                hidePopup("edit-consent-popup");
            }
        });

</script>