{% layout "_LayoutCheckout" %}
{% global active_menu="OrderSummary" step_index="3" %}

<div class="checkout-container">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">
                {{"Order Summary" | t}}
            </h4>
            {% component "CartSection" cart="@cart" checkout="true" %}

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <form action="{% route api_CheckoutConfirm %}" method="post" id="form-checkout-confirm">
                    {% control xsrf %}
                    <input type="submit" class="btn btn-default pull-right" value='{{"Complete Payment" | t}}' />
                </form>
                <script type="text/javascript">
                    ready(function () {
                        initAjaxForm("form-checkout-confirm",
                            {
                                onSuccess: function(response) {
                                    if (response.success) {
                                        var orderGuid = response.orderGuid;
                                        var url = '{% route CheckoutComplete orderGuid="%id%" %}'.replace("%id%",
                                            orderGuid);
                                        window.location.href = url;
                                    }
                                }
                            });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
