{% layout "_LayoutCheckout" %}
{% global active_menu="OrderSummary" step_index="2" %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>
                {{"Order Summary" | t}}
            </h3>
            {% component "CartSection" cart="@cart" checkout="true" %}

        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <form action="{% route api_CheckoutConfirm %}" method="post" id="form-checkout-confirm">
                {% control xsrf %}
                <input type="submit" class="btn btn-default" value='{{"Complete Order" | t}}' />
            </form>
            <script type="text/javascript">
                ready(function() {
                    initAjaxForm("form-checkout-confirm",
                        {
                        });
                });
            </script>
        </div>
    </div>
</div>
