{% layout "_LayoutCheckout" %}
{% global active_menu="PaymentInfo" step_index="2" %}
<form action="{% route api_CheckoutPayment %}" method="post" id="form-payment-info">
    {% control xsrf %}
    <div class="checkout-container">
        <div class="row">
            <div class="col-8 offset-2">
                {% if error %}
                <div class="alert alert-danger">
                    {{"An error occurred while processing payment. Please try a different payment method" | t}}
                </div>
                {% endif %}
            </div>
            <div class="col-8 offset-2">
                <h4>
                    {{"Payment Info" | t}}
                </h4>
                {% if availableStoreCredits > 0 %}
                <label for="useStoreCredits">
                    <input type="checkbox" name="useStoreCredits" value="true" id="useStoreCredits" /> {{"Use store credits"}} ~ <strong>{{"Available Credits: " | t}}{{availableStoreCreditAmount | withCurrency}}</strong>
                </label>
                {% endif %}
                <div id="payment-selection-section">
                    {% if paymentMethods.size > 0 %}
                    <select name="SystemName" class="form-control" id="PaymentMethodSystemName">
                        {% for paymentMethod in paymentMethods %}
                        <option value="{{paymentMethod.systemName}}">
                            {{paymentMethod.friendlyName}}
                        </option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <div id="payment-info-form">
                    </div>
                </div>
                {% if cart.finalAmount <= availableStoreCreditAmount %}
                <script type="text/javascript">
                    ready(function () {
                        jQuery("#useStoreCredits").change(function () {
                            if (jQuery(this).is(":checked")) {
                                jQuery("#payment-selection-section").hide();
                            } else {
                                jQuery("#payment-selection-section").show();
                            }
                        });
                    });
                </script>
                {% endif %}
            </div>
        </div>
        <div class="text-center checkout-proceed">
            <input type="hidden" name="orderGuid" value="{{orderGuid}}" />
            <input type="submit" class="btn btn-default" id="btn-paymentform-submit" value='{{"Proceed" | t}}' />
        </div>
    </div>
</form>
<script type="text/javascript">
    ready(function () {
        var paymentMethods = [];
        //{% for paymentMethod in paymentMethods %}
        paymentMethods["{{paymentMethod.systemName}}"] = "{{paymentMethod.url}}";
        //{% endfor %}
        initAjaxForm("form-payment-info",
            {
                onSuccess: function (response) {
                    var confirmInfoUrl = "";
                    //{% unless orderGuid %}
                    confirmInfoUrl = "{% route CheckoutConfirm %}";
                    //{% else %}
                    confirmInfoUrl = '{% route CheckoutComplete orderGuid="{{orderGuid}}" %}';
                    //{% endunless %}
                    window.location.href = confirmInfoUrl;
                },
                onError: function() {

                }
            });
        jQuery("#PaymentMethodSystemName").change(function() {
            var method = jQuery(this).val();
            var url = paymentMethods[method];
            jQuery("#btn-paymentform-submit").hide();
            if (url == "") {
                jQuery("#payment-info-form").html("{{'The payment method is not available at the moment.' | t}}");
                return;
            }
            jQuery("#btn-paymentform-submit").unbind("click");
            jQuery("#payment-info-form").html("{{'Loading...' | t}}");
            get({
                url: url,
                data: {
                    orderGuid:"{{orderGuid}}"
                },
                done: function (response) {
                    jQuery("#payment-info-form").html(response);
                    jQuery("#btn-paymentform-submit").show();
                }
            });
        });
        jQuery("#PaymentMethodSystemName").trigger("change");
    });
</script>