{% layout "_LayoutCheckout" %}
{% global active_menu="ShippingInfo" step_index="1" %}
<form method="post" id="form-shipping-info" action="{% route api_CheckoutShippingInfo %}">
    {% control xsrf %}
    <div class="checkout-container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h4>
                    {{"Delivery Provider" | t}}
                </h4>
                <ul id="shipping-methods-list">
                    {% for shippingMethod in shippingMethods %}
                    <li>
                        <label>
                            <input name="ShippingMethod.SystemName" value="{{shippingMethod.systemName}}" type="radio" />
                            {{shippingMethod.description}}
                            {% if shippingMethod.fee > 0 %}
                            [ + {{shippingMethod.fee | withCurrency}} ]
                            {% endif %}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div id="shipping-options">
                    <h4>
                        {{"Shipping Options" | t}}
                    </h4>
                    <div id="shipping-options-list">
                        {{"Select shipping method to load available options"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center checkout-proceed">
                    <input type="submit" class="btn btn-default" value='{{"Proceed" | t}}' />
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    var loadShippingOptions = function(providerName) {
        var url = '{% route CheckoutShippingOptions shippingMethodSystemName="%id%" %}'.replace("%id%", providerName);
        jQuery("#shipping-options-list").html("{{'Loading shipping options...' | t}}");
        loadHtml({
            url: url,
            element: "#shipping-options-list"
        });
    }
    ready(function() {
        initAjaxForm("form-shipping-info",
            {
                onSuccess: function() {
                    var paymentInfoUrl = "{% route CheckoutPayment %}";
                    window.location.href = paymentInfoUrl;
                }
            });
        jQuery("#shipping-methods-list input").change(function() {
            loadShippingOptions(jQuery(this).val());
        });
    });
</script>
