{% partial "Navigation/PrimaryNavigation" %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{store.faviconUrl}}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{store.url}}/administration/assets/lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{store.url}}/administration/assets/lib/rbicon/style.css">
    <link href="{{store.url}}/administration/assets/lib/simple-mde/css/simplemde.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/simplebar/simplebar.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/trumbowyg/ui/sass/trumbowyg.min.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/trumbowyg/plugins/colors/ui/sass/trumbowyg.colors.min.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/jquery-bootgrid/jquery.bootgrid.min.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/css/style.min.css" rel="stylesheet" />

    <script src="{{store.url}}/administration/assets/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        window._xsrf = "{{store.xsrfToken}}";
        //helper for quick calls
        var ready = function (callback) {
            jQuery(document).ready(callback);
        }
    </script>
    <title>{{ page_title }} - EvenCart Administration</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="sidenav">
            <div class="user-menu dropdown">
                <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="workspace">EvenCart</div>
                    <div class="user-info">
                        <span class="user-name margin-r-5">{{currentUser.firstName}}</span>
                        <span class="rbicon-chevron-down"></span>
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% route Home %}" target="_blank">{{"Public Store" | t}}</a>
                    <a class="dropdown-item" href="{% route Logout %}">{{"Logout" | t}}</a>
                </div>
            </div>
            {% json source="AdminNavigation" var="navigation" %}
            {% json source="AdminNavigationGroup" var="navigation_groups" %}


            <script type="text/javascript">
                var capabilities = null;
                /*{% for c in currentUser.Capabilities %}*/
                capabilities = capabilities || [];
                capabilities.push("{{c}}");
                /*{% endfor %}*/
                var applyNavigationFilters = function (nav, type) {
                    if (!nav)
                        return null;
                    var newNav = [];
                    for (var i = 0; i < nav.length; i++) {
                        var menuItem = nav[i];
                        if (menuItem.type !== type)
                            continue;
                        if (menuItem.capabilities != null && capabilities != null) {
                            if (menuItem.capabilities.filter(function (c) { return capabilities.includes(c); }).length == 0) {

                                continue;
                            }
                        }
                        newNav.push(menuItem);
                    }
                    return newNav;
                }
                var primary_navigation = applyNavigationFilters(navigation, "primary_navigation");
                var secondary_navigation = applyNavigationFilters(navigation, "secondary_navigation");
                ready(function () {

                    var parent_active_menu = "{{parent_active_menu}}";
                    for (var j = 0; j < navigation_groups.length; j++)
                    {
                        var groupItem = navigation_groups[j];
                        if (groupItem.name != '') {
                            var groupLi = "<li class='group-item'>" + groupItem.name + "</li>";
                            jQuery("#primaryNavigationUl").append(groupLi);
                        }

                        for (var i = 0; i < primary_navigation.length; i++) {
                            var menuItem = primary_navigation[i];
                            if (menuItem.groupId != groupItem.id)
                                continue;
                            for (var k = 0; k < secondary_navigation.length; k++) {
                                var sMenuItem = secondary_navigation[k];
                                if (sMenuItem.parent === menuItem.systemName) {
                                    menuItem.url = sMenuItem.url;
                                    break;
                                }
                            }
                            var li = "<li class='" + (menuItem.systemName == parent_active_menu ? "active" : "") + "'>";
                            li += "<a href='" + menuItem.url + "'>";
                            if (menuItem.iconClass) {
                                li += "<span class='" + menuItem.iconClass + "'></span>";
                            }
                            li += menuItem.title;
                            li += "</a>";
                            li += "</li>";
                            jQuery("#primaryNavigationUl").append(li);
                        }
                    }

                });
            </script>
            <ul id="primaryNavigationUl" class="sidenav-links"></ul>
            <!-- Default dropup button -->
            <div class="btn-group dropup maintenance-dropup">
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="rbicon rbicon-settings"></span> {{"Maintenance" | t}}
                </button>
                <div class="dropdown-menu">
                    <form class="dropdown-item" method="post" action="{% route api_PurgeCache %}" id="form-purge-cache">
                        {% control xsrf %}
                        <button class="btn btn-warning btn-sm" type="submit">{{"Purge Cache" | t}}</button>
                    </form>
                    <form class="dropdown-item" method="post" action="{% route api_RestartApplication %}" id="form-restart">
                        {% control xsrf %}
                        <button class="btn btn-danger btn-sm" type="submit">{{"Restart EvenCart" | t}}</button>
                    </form>
                    <script type="text/javascript">
                        ready(function() {
                            initAjaxForm("form-purge-cache",
                                {
                                    onSuccess: function() {
                                        notify("success", "{{'Successfully purged the cache' | t}}");
                                    }
                                });
                            initAjaxForm("form-restart",
                                {
                                    onSuccess: function () {
                                        notify("success", "{{'Successfully restarted the application. Please wait while page is being reloaded...' | t}}");
                                        setTimeout(function() {
                                                window.location.reload();
                                            },
                                            3000);

                                    }
                                });
                        })
                    </script>
                </div>
            </div>

            
        </div>
        <div class="client-main">
            <div class="client-main-navlinks">

                <script type="text/javascript">
                    ready(function () {
                        var active_menu = "{{active_menu}}";
                        var parent_active_menu = "{{parent_active_menu}}";
                        var menu_group = "{{menu_group}}";
                        if (secondary_navigation) {
                            for (var i = 0; i < secondary_navigation.length; i++) {
                                var menuItem = secondary_navigation[i];
                                if (menu_group != "") {
                                    if (menuItem.groupId !== menu_group) {

                                        continue;
                                    }
                                } else {
                                    if (menuItem.parent != parent_active_menu) {
                                        continue;
                                    }
                                }
                                var li = "<li class='" + (menuItem.systemName == active_menu ? "active" : "") + "'>";
                                li += "<a href='" + menuItem.url + "'>";
                                if (menuItem.iconClass) {
                                    li += "<span class='" + menuItem.iconClass + "'></span>";
                                }
                                li += menuItem.title;
                                li += "</a>";
                                li += "</li>";
                                jQuery("#secondaryNavigationUl").append(li);
                            }
                        }

                    });
                </script>
                <ul id="secondaryNavigationUl" class="list-inline">

                    {% unless back_page == nil %}
                    <li>
                        <a href="{{ back_page }}">
                            <span class="rbicon-chevron-left"></span> {{ back_link_title }}
                        </a>
                    </li>
                    {% endunless %}

                </ul>
            </div>
            <div class="client-main-content">
                {% bodyContent %}
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{store.url}}/administration/assets/lib/popper.min.js"></script>
    <script src="{{store.url}}/administration/assets/lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="{{store.url}}/administration/assets/lib/simple-mde/js/simplemde.js"></script>
    <script src="{{store.url}}/administration/assets/lib/simplebar/simplebar.js"></script>
    <script src="{{store.url}}/administration/assets/lib/typeahead/typeahead.js"></script>
    <script src="{{store.url}}/administration/assets/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="{{store.url}}/administration/assets/lib/trumbowyg/trumbowyg.js"></script>
    <script src="{{store.url}}/administration/assets/lib/trumbowyg/plugins/upload/trumbowyg.upload.js"></script>
    <script src="{{store.url}}/administration/assets/lib/trumbowyg/plugins/colors/trumbowyg.colors.js"></script>
    <script src="{{store.url}}/administration/assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-bootgrid/jquery.bootgrid.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-fileupload/jquery.ui.widget.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-fileupload/jquery.fileupload.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-validator/jquery.validate.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-validator/additional-methods.js"></script>
    <script src="{{store.url}}/common/assets/lib/navigo/navigo.js"></script>
    <script src="{{store.url}}/common/assets/lib/liquidjs/liquid.js"></script>
    <script src="{{store.url}}/administration/assets/lib/chartjs.js"></script>
    <script src="{{store.url}}/administration/assets/lib/sortable.js"></script>
    <script src="{{store.url}}/administration/assets/js/router.js"></script>
    <script src="{{store.url}}/common/assets/js/helpers.js"></script>
    <script src="{{store.url}}/common/assets/js/ajax.js"></script>
    <script src="{{store.url}}/common/assets/js/catalog.js"></script>
    <script src="{{store.url}}/administration/assets/js/script.js"></script>

    <script type="text/javascript">
        ready(function () {
            useContext("{{ context }}", "{% route api_GetTemplates %}");
        });

    </script>

</body>


</html>	