{% layout "_Layout" %}
{% global active_menu="AccountAddresses" %}


<div class="page-section section pb-120 wrapper">
    <div class="container">
       
        <div class="row">
            <div class="col-8 offset-2">
                <div class="text-center">
                    <h3>
                        {% if address.id > 0 %}
                        {{"Edit Address" | t}}
                        {% else %}
                        {{"Add Address" | t}}
                        {% endif %}
                    </h3>
                    <small>
                        <a href='{% route AccountAddresses %}'>
                            <i class="fa fa-angle-left"></i> {{"Back to addresses" | t}}
                        </a>
                    </small>
                </div>
                <form action="{% route api_AccountSaveAddress %}" id="save-address-form" method="post">
                    {% partial "Addresses/AddressForm" %}
                    <div class="action-button-container text-center">
                        {% control hidden name="id" value="{{address.id}}" %}
                        <button type="submit" class="btn btn-default">
                            {{"Save Address" | t}}
                        </button>
                    </div>
                </form>
            </div>
            

        </div>
    </div>
    
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        initAjaxForm("save-address-form",
            {
                onSuccess: function() {
                    notify("success", '{{"Address saved successfully" | t}}');
                    window.location.href = '{% route AccountAddresses %}';
                }
            });
    })
</script>

