{% layout "_AccountLayout" %}
{% global active_menu="AccountOrders" %}
<h3>
    {{"Orders" | t}}
</h3>
<div class="page-section section pb-120">
    <div class="row">
        {% if orders.size == 0 %}
        <div>
            <p>
                {{"You don't have any recent orders here" | t}}
            </p>
        </div>
        {% else %}
        {% for order in orders %}
        <div class="row">
            <div class="col-md-3">
                <a href='{% route SingleOrder orderGuid="{{order.guid}}" %}'>
                    {{order.orderNumber}}
                </a>
            </div>
            <div class="col-md-3">
                <div>
                    <label>{{"Order Date" | t}}</label>
                </div>
                {{order.createdOn}}
            </div>
            <div class="col-md-3">
                <div>
                    <label>{{"Order Total" | t}}</label>
                </div>
                {{order.orderTotal | withCurrency}}
            </div>
            <div class="col-md-3">
                <div>
                    <label>{{"Order Status" | t}}</label>
                </div>
                {{order.orderStatus}}
            </div>
            <div class="col-md-12">

            </div>
        </div>
        {% endfor %}
        {% endif %}


    </div>
</div>