{% layout "_Layout"%}
{% global page_title=@t"Product Editor" active_menu="admin.products.edit" parent_active_menu="admin.products"%}

<h3>
    {% if product.id != 0 %}
    {{ product.name }}
    {% else %}
    {{"Add Product" | t }}
    {% endif %}
</h3>

<form action="{% route SaveProduct %}" method="post">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                {% control label text=@t"Product Name" for="name" %}
                {% control text name="name" placeholder=@t"e.g. Blue Denim Shirt" value="{{product.name}}"%}
            </div>
            <div class="form-group">
                {% control label text=@t"Product Summary" for="summary" %}
                {% control textarea name="summary" value="{{product.summary}}" %}
            </div>
            <div class="form-group">
                {% control label text=@t"Description" for="description" %}
                {% control textarea name="description" value="{{product.description}}" %}
            </div>
            <div class="form-group">
                {% control label text=@t"Sku" for="sku" %}
                {% control text name="sku" value="{{product.sku}}" %}
            </div>
            <div class="form-group">
                {% control label text=@t"Gtin" for="gtin" %}
                {% control text name="gtin" value="{{product.gtin}}" %}
            </div>
            <div class="form-group">
                {% control label text=@t"Mpn" for="mpn" %}
                {% control text name="mpn" value="{{product.mpn}}" %}
            </div>
            <div class="form-group">
                {% control checkbox name="isShippable" text=@t"Is Shippable?" value="{{product.is_shippable}}" %}
            </div>
            <div class="form-group">
                {% control checkbox name="isDownloadable" text=@t"Is Downloadable?" value="{{product.is_downloadable}}" %}
            </div>
            <div class="form-group">
                {% control checkbox name="isFeatured" text=@t"Is Featured?" value="{{product.is_featured}}" %}
            </div>
            <div class="form-group">
                {% control checkbox name="trackInventory" text=@t"Track Inventory" value="{{product.track_inventory}}" %}
            </div>
            <div class="form-group">
                {% control label text=@t"Stock Quantity" for="stockQuantity" %}
                {% control number name="stockQuantity" value="{{product.stock_quantity}}" min="0" %}
            </div>
            <div class="form-group">
                {% control label text=@t"Minimum Purchase Quantity" for="minPurchaseQuantity" %}
                {% control number name="minPurchaseQuantity" value="{{product.minimum_purchase_quantity}}" min="0" %}
            </div>
            <div class="form-group">
                {% control label text=@t"Maximum Purchase Quantity" for="maxPurchaseQuantity" %}
                {% control number name="maxPurchaseQuantity" value="{{product.maximum_purchase_quantity}}" min="0" %}
            </div>
            <div class="form-group">
                {% control checkbox name="canOrderWhenOutOfStock" value="{{product.can_order_when_out_of_stock}}" text=@t"Can order when out of stock?" %}
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% control label text=@t"Price" for="price" %}
                        {% control currency name="price" value="{{product.price}}" min="0" step="0.01" %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        {% control label text=@t"Compare Price" for="comparePrice" %}
                        {% control currency name="comparePrice" value="{{product.compare_price}}" min="0" step="0.01" %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {% control checkbox name="chargeTaxes" value="{{product.charge_taxes}}" text=@t"Charge Tax" %}
            </div>
            <div class="form-group">
                {% control checkbox name="published" value="{{product.published}}" text=@t"Published" %}
            </div>
            {% control hidden name="id" value="{{product.id}}" %}
            <div class="save-button-container">
                <button type="submit" class="btn btn-success">{{"Save Product" | t}}</button>
                <button type="reset" class="btn btn-default">{{"Cancel" | t}}</button>
            </div>
            
        </div>
    </div>
</form>
