{% layout "_Layout" %}
{% global page_title=@t"Discounts" active_menu="DiscountsList" parent_active_menu="DiscountsList" %}

<div class="row">
    <div class="col-md-12 col-offset-2">
        <div class="panel">
            <div class="panel-title">
                {{"Discounts" | t}} <button class="btn btn-sm btn-primary float-right" onclick="editDiscount(0)">{{"Add new discount" | t}}</button>
            </div>
            <div class="panel-body no-padding">
                <table id="grid-selection" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                        <th data-column-id="name">{{"Name" | t}}</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                    </tr>
                    </thead>
                </table>
                <script type="text/javascript">
                    ready(function() {
                        var initData = null;
                        /*{% unless discounts == blank %}*/
                        initData = JSON.parse('{{discounts}}');
                        /*{% endunless %}*/
                        generateGrid({
                            element: "grid-selection",
                            initialData: {
                                discounts: initData,
                                current: parseInt("{{current}}"),
                                total: parseInt("{{total}}"),
                                rowCount: parseInt("{{rowCount}}")
                            },
                            method: "GET",
                            url: '{% route api_DiscountsList %}',
                            responseObject: "discounts",
                            selection: false,
                            navigation: 3,
                            columnSelection: false,
                            formatters: {
                                "commands": function(column, row) {
                                    return "<button type='button' class='btn btn-secondary btn-sm command-edit' data-row-id='" +
                                        row.id +
                                        "' onclick='editDiscount(" +
                                        row.id +
                                        ")'><span class='rbicon-edit'></span></button> " +
                                        "<button type='button' class='btn btn-danger btn-sm command-preview' data-row-id='" +
                                        row.id +
                                        "' onclick='deleteDiscount(" +
                                        row.id +
                                        ")'><span class='rbicon-trash-2'></span></button>";
                                }
                            }
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var editDiscount = function(id) {
        var url = '{% route GetDiscount discountId="?" %}';
        url = url.replace("?", id);
        navigate(url);
    }

    var deleteDiscount = function(id) {
        var msg =
            '{{ "Are you sure you wish to delete this discount?" | t}}';
        confirm(msg,
            function() {
                post({
                    url: "{% route api_DeleteDiscount %}",
                    data: {
                      discountId: id
                    },
                    done: function(response) {
                        if (response.success) {
                            reloadGrid('grid-selection');
                            notify("success", '{{"Discount was deleted successfully" | t}}');
                        }
                    }
                });
            });
    }
</script>