{% global page_title=@t"General Settings" active_menu="GeneralSettings" parent_active_menu="Settings" if="settingType == 'general'" %}

<div class="panel">
    <div class="panel-title">
        {{"General Settings" | t}}
    </div>
    <div class="panel-body">
        <div class="form-group">
            {% control label text=@t"Store Name" for="storeName" %}
            {% control text name="storeName" value="{{settings.storeName}}"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Store Domain" for="store-domain" %}
            {% control text name="storeDomain" value="{{settings.storeDomain}}"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Default Timezone" for="defaultTimezoneId" %}
            {% control select name="defaultTimezoneId" value="settings.defaultTimezoneId" items="timezones" %}
        </div>
        <div class="form-group">
            {% control label text=@t"Store Logo" for="logoId" %}
            {% control imageupload name="logoId" id="logoId" value="{{settings.logoId}}" __url="{{settings.logoUrl}}" %}
        </div>
        <div class="form-group">
            {% control label text=@t"Store Favicon" for="faviconId" %}
            {% control imageupload name="faviconId" id="faviconId" value="{{settings.faviconId}}" __url="{{settings.faviconUrl}}" %}
        </div>
        <div class="form-group">
            {% control checkbox name="enableBreadcrumbs" text=@t"Enable breadcrumbs" value="{{settings.enableBreadcrumbs}}"%}
        </div>
        {% if availableMenus.size > 0 %}
        <div class="form-group">
            {% control label text=@t"Primary Site Navigation" for="primaryNavigationId" %}
            {% control select name="primaryNavigationId" value="settings.primaryNavigationId" items="availableMenus" %}
        </div>
        {% endif %}
        {% if availableCurrencies.size > 1 %}
        <div class="form-group">
            {% control label text=@t"Base Currency" for="baseCurrencyId" %}
            {% control select name="baseCurrency" value="settings.baseCurrencyId" items="availableCurrencies" %}
        </div>
        <div class="form-group">
            {% control label text=@t"Default Display Currency" for="primaryCurrencyId" %}
            {% control select name="primaryCurrency" value="settings.primaryCurrencyId" items="availableCurrencies" %}
        </div>
        {% endif %}
    </div>
</div>