{% global page_title=@t"Order Settings" active_menu="OrderSettings" parent_active_menu="Settings" if="settingType == 'order'" %}

<div class="panel">
    <div class="panel-title">
        {{"Order Settings" | t}}
    </div>
    <div class="panel-body">
        <div class="form-group">
            {% control label text=@t"Order Number Template" for="orderNumberTemplate" %}
            {% control text name="orderNumberTemplate" value="{{settings.orderNumberTemplate}}"%}
        </div>
        <div class="form-group">
            {% control checkbox name="allowReorder" text=@t"Allow customers to repeat the same order" value="settings.allowReorder" %}
        </div>
        <div class="form-group">
            {% control checkbox name="allowGuestCheckout" text=@t"Allow guest checkout" value="settings.allowGuestCheckout" %}
        </div>
        <div class="form-group">
            {% control checkbox name="enableWishlist" text=@t"Enable wishlist" value="settings.enableWishlist" %}
        </div>
    </div>
</div>