{% layout "_Layout" %}
{% global page_title=@t"Inventories" active_menu="InventoryList" parent_active_menu="ProductsList" menu_group="ProductEdit" %}
{% if errorCode == "PARENT_ID_MUST_NONZERO" %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">{{"Product must be saved first to access this page" | t}}</div>
    </div>
</div>
{% else %}
{% if hasVariants == true %}
    {% partial "Products/InventoryList.Variants" %}
    {% else %}
    {% partial "Products/InventoryList.Products" %}
    {% endif %}
{% endif %}


