<div class="panel">
    <div class="panel-title">
        {{"Categories" | t}}
    </div>
    <div class="panel-body">
        {% control label text=@t"New Category" %}
        <div class="panel-help">
            {{"You can add category hierarchy by separating names with '>' e.g. Shoes > Men > Sports will create three categories with Shoes being topmost parent." | t}}
        </div>
        {% control text id="category-selector" placeholder=@t"Start typing category name..." %}

        <div id="categories-container">
            <table id="table-categories" class="table table-bordered table-hover"></table>
            <input type="hidden" name="productid" value="{{product.id}}" />
        </div>

        <script type="text/html" id="category-item-template">
            <tr>
                <td>
                    <span>category_name</span>
                    <input type="hidden" name="categories[index].id" value="category_id" data-type="id" />
                    <input type="hidden" name="categories[index].displayorder" value="category_displayorder" data-type="displayorder" />
                    <input type="hidden" name="categories[index].fullcategorypath" value="category_name" />
                </td>
                <td style="width: 20px;" class="text-center">
                    <a class="trash-link" onclick="deleteCategory(this, '{{product.id}}', category_id)">
                        <span class="rbicon-trash-2"></span>
                    </a>
                </td>
            </tr>
        </script>
        <script type="text/javascript">
            var addCategory = function(category) {
                var template = jQuery("#category-item-template").html();
                template = template.replaceAll("category_name", category.name);
                template = template.replaceAll("index", jQuery("#table-categories tr").length);
                template = template.replaceAll("category_displayorder", category.displayOrder);
                template = template.replaceAll("category_id", category.id);
                jQuery("#table-categories").append(template);
            }
            var deleteCategory = function(link, productId, categoryId) {
                confirm('{{"Are you sure you want to delete this category?" | t}}',
                    function() {
                        var url = '{% route api_DeleteProductCategories %}';
                        post({
                            url: url,
                            data: {
                                productId: productId,
                                categories: [
                                    {
                                        id: categoryId
                                    }
                                ]
                            },
                            done: function() {
                                jQuery(link).closest("tr").remove();
                            }
                        });
                    });

            }
            ready(function() {
                inputTypeahead({
                    element: "category-selector",
                    initialData: null,
                    url: "{% route api_GetCategorySuggestions %}",
                    preserveAfterFirstCall: false,
                    clearAfterSelect: true,
                    select: function(item) {
                        addCategory({
                            name: item.text,
                            id: item.id,
                            displayOrder: jQuery("#table-categories tr").length
                        });
                        displayOrderSortable({
                            container: "table-categories",
                            itemSelector: "tr",
                            refresh: true
                        });
                    }
                });
                //add existing categories
                //{% for category in product.categories %}
                addCategory({
                    name: "{{category.fullCategoryPath}}",
                    id: "{{category.id}}",
                    displayOrder: "{{category.displayOrder}}"
                });
                //{% endfor %}
                displayOrderSortable({
                    container: "table-categories",
                    itemSelector: "tr",
                    update: function() {
                        //{% if product.id > 0 %}
                        post({
                            url: "{% route api_UpdateProductCategoryDisplayOrder %}",
                            data: jQuery("#categories-container input").serialize()
                        });
                        //{% endif %}
                    }
                });
            });
        </script>
    </div>

    <div class="panel-title">
        {{"Tags" | t}}
        <div class="panel-help">
            {{"Tags are collection of words or phrases that give extra information about the product. Whenever the user searches for a product, EvenCart also looks for those keywords in tags." | t}}
        </div>
    </div>
    <div class="panel-body">
        {% control text id="tags-selector" placeholder=@t"Add tags..." %}
        <div id="tags-container">
            {% for tag in product.tags %}
            <input type="hidden" name="tags[]" value="{{tag}}"/>
            {% endfor %}
        </div>
        <script type="text/javascript">
            var tagsToHiddenFields = function() {
                //recreate hidden tag fields
                jQuery("#tags-container").html("");

                var tags = inputTypeahead({
                    element: "tags-selector",
                    value: true,
                    multiple: true
                });
                var fields = "";
                for (var i = 0; i < tags.length; i++) {
                    fields += "<input type='hidden' name='tags[]' value='" + tags[i] + "' />";
                }
                jQuery("#tags-container").html(fields);
            }
            ready(function () {
                var initData = [];
                //add existing tags
                //{% for tag in product.tags %}
                initData.push("{{tag}}");
                //{% endfor %}
                inputTypeahead({
                    element: "tags-selector",
                    initialData: initData,
                    multiple: true,
                    substringMatch:false,
                    url: "{% route api_GetEntityTagsSuggestions %}",
                    preserveAfterFirstCall: false,
                    suggestNewAdditions: true,
                    minLength: 1,
                    clearAfterSelect: true,
                    stringTags: true,
                    itemAdded: tagsToHiddenFields,
                    itemRemoved:tagsToHiddenFields
                });
              
            });
        </script>
    </div>
</div>