{% layout "_Layout"%}
{% global page_title=@t"Product Editor" active_menu="GetProduct" parent_active_menu="ProductsList" menu_group="ProductEdit" %}


<form action="{% route api_SaveProduct %}" method="post" id="product-editor-form">
    {% control xsrf %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-title">
                    {{"Basic Info" | t}}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control label text=@t"Product Name" for="name" %}
                        {% control text name="name" placeholder=@t"e.g. Blue Denim Shirt" value="{{product.name}}"%}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Product Summary" for="summary" %}
                        {% control wyswyg id="summary" name="summary" value="{{product.summary}}" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Description" for="description" %}
                        {% control wyswyg id="description" name="description" value="{{product.description}}" %}
                    </div>
                    <div class="form-group">
                        {% control checkbox name="published" value="product.published" text=@t"Published" %}
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-title">
                    {{"Price" | t}}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {% control label text=@t"Price" for="price" %}
                                {% control currency name="price" value="{{product.price}}" min="0" step="0.01" %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {% control label text=@t"Compare Price" for="comparePrice" %}
                                {% control currency name="comparePrice" value="{{product.comparePrice}}" min="0" step="0.01" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {% control checkbox name="chargeTaxes" value="product.chargeTaxes" text=@t"Charge Tax" %}
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-title">
                    {{"Product Type" | t}}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control checkbox name="isShippable" text=@t"Is Shippable?" value="product.isShippable" %}
                    </div>
                    <div class="form-group">
                        {% control checkbox name="isDownloadable" text=@t"Is Downloadable?" value="product.isDownloadable" %}
                    </div>
                    <div class="form-group">
                        {% control checkbox name="isFeatured" text=@t"Is Featured?" value="product.isFeatured" %}
                    </div>

                </div>
            </div>
            <div class="panel">
                <div class="panel-title">
                    {{"Inventory" | t}}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control label text=@t"Sku" for="sku" %}
                        {% control text name="sku" value="{{product.sku}}" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Gtin" for="gtin" %}
                        {% control text name="gtin" value="{{product.gtin}}" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Mpn" for="mpn" %}
                        {% control text name="mpn" value="{{product.mpn}}" %}
                    </div>
                    {% if product.hasVariants == false %}
                    <div class="form-group">
                        {% control checkbox name="trackInventory" text=@t"Track Inventory" value="product.trackInventory" %}
                    </div>
                    {% else %}
                    <div class="form-group">
                        <div class="alert alert-info">{{"The inventory of this product is being tracked by it's variants" | t}}</div>
                    </div>
                    {% endif %}
                    <div class="row">
                        {% if product.hasVariants == false %}
                        <div class="col-md-4">
                            <div class="form-group">
                                {% control label text=@t"Stock Quantity" for="stockQuantity" %}
                                {% control number name="stockQuantity" value="{{product.stockQuantity}}" min="0" %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-4">
                            <div class="form-group">
                                {% control label text=@t"Min. Purchase Qty." for="minimumPurchaseQuantity" %}
                                {% control number name="minimumPurchaseQuantity" value="{{product.minimumPurchaseQuantity}}" min="0" %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {% control label text=@t"Max. Purchase Qty." for="maximumPurchaseQuantity" %}
                                {% control number name="maximumPurchaseQuantity" value="{{product.maximumPurchaseQuantity}}" min="0" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {% control checkbox name="canOrderWhenOutOfStock" value="product.canOrderWhenOutIfStock" text=@t"Can order when out of stock?" %}
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-title">
                    {{"Shipment Measurements & Options" | t}}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control checkbox name="individuallyShipped" value="product.individuallyShipped" text=@t"Individually shipped" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Additional shipping charge" for="additionalShippingCharge" %}
                        {% control number name="additionalShippingCharge" value="{{product.additionalShippingCharge}}" min="0" %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% control label text=@t"Package Width" for="packageWidth" %}
                                <div class="input-group">
                                    {% control number name="packageWidth" value="{{product.packageWidth}}" %}
                                    <div class="input-group-append">
                                        {% control select name="packageWidthUnit" value="product.packageWidthUnit" items="lengthUnits" required="true" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% control label text=@t"Package Height" for="packageHeight" %}
                                <div class="input-group">
                                    {% control number name="packageHeight" value="{{product.packageHeight}}" %}
                                    <div class="input-group-append">
                                        {% control select name="packageHeightUnit" value="product.packageHeightUnit" items="lengthUnits" required="true" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% control label text=@t"Package Length" for="packageLength" %}
                                <div class="input-group">
                                    {% control number name="packageLength" value="{{product.packageLength}}" %}
                                    <div class="input-group-append">
                                        {% control select name="packageLengthUnit" value="product.packageLengthUnit" items="lengthUnits" required="true" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% control label text=@t"Package Weight" for="packageWeight" %}
                                <div class="input-group">
                                    {% control number name="packageWeight" value="{{product.packageWeight}}" %}
                                    <div class="input-group-append">
                                        {% control select name="packageWeightUnit" value="product.packageWeightUnit" items="weightUnits" required="true" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% control hidden name="id" value="{{product.id}}" %}
            <div class="save-button-container">
                {% if product.id > 0 %}
                <a class="btn btn-sm btn-primary" target="_blank" href='{% route PreviewProduct id="{{product.id}}" %}'>
                    <i class="rbicon rbicon-external-link"></i>
                    {{"Preview" | t}}
                </a>
                {% endif %}
                <button type="submit" class="btn btn-sm btn-success">{{"Save Product" | t}}</button>
                <button type="reset" class="btn btn-sm btn-default">{{"Cancel" | t}}</button>
            </div>

        </div>

        <div class="col-lg-6">
            {% partial "Products/ProductEditor.ImagePanel" %}
            {% partial "Products/ProductEditor.CategoryPanel" %}
            {% partial "Products/ProductEditor.ManufacturerPanel" %}
            {% assign seoMeta = product.seoMeta %}
            {% partial "Pages/SeoMetaPanel" %}
        </div>
    </div>
</form>
<script type="text/javascript">
    ready(function () {
        initAjaxForm("product-editor-form",
            {
                onSuccess: function () {
                    notify("success", '{{"Product was saved successfully." | t }}');
                    //{% if product.id == 0 %}
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                    //{% endif %}

                }
            });
    })

</script>
