<div id="mini-cart">
    <!-- Cart Toggle -->
    <a class="cart-toggle" href="{% route Cart %}" data-toggle="dropdown">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        {% if cart.totalItems > 0 %}
        <span>{{cart.totalItems}}</span>
        {% endif %}
    </a>
    <!-- Mini Cart Brief -->
    <div class="mini-cart-brief dropdown-menu dropdown-menu-right keep-open text-left">
        <h4 class="margin-b-20 text-center">{{"Your Cart" | t}}</h4>
        {% if cart.items.size > 0 %}
        <!-- Cart Products -->
        <div class="all-cart-product clearfix">
            {% for cartItem in cart.items %}
            <div class="single-cart clearfix">
                <div class="cart-info">
                    <div class="row">
                        <div class="col-2">
                            <div class="cart-image">
                                <a href='{% route SingleProduct seName="{{cartItem.slug}}" %}'><img src="{{cartItem.imageUrl}}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-8 no-padding">
                            <h5><a href='{% route SingleProduct seName="{{cartItem.slug}}" %}'>{{cartItem.productName}}</a></h5>
                            <p>
                                {{cartItem.attributeText  | newLine2Br}}
                            </p>
                            <p>{{cartItem.quantity}} x {{cartItem.price | withCurrency}}</p>
                        </div>
                        <div class="col-2 no-padding text-center">
                            <form action="{% route api_UpdateCart %}" method="post" id="mini-remove-form-cart-{{cartItem.id}}">
                                {% control xsrf %}
                                <input name="quantity" id="remove-quantity-{{cartItem.id}}" type="hidden" value="0" />
                                {% control hidden name="cartItemId" value="{{cartItem.id}}" %}
                                <span href="#" id="a-mini-remove-form-cart-{{cartItem.id}}" class="remove-from-cart clickable">
                                    <i class="fa fa-times"></i>
                                </span>
                            </form>
                            <script type="text/javascript">
                                ready(function() {
                                    initAjaxForm("mini-remove-form-cart-{{cartItem.id}}",
                                        {
                                            onSuccess: function() {
                                                reloadComponent("MiniCart",
                                                    {
                                                        success: true //just there for the sake of any key
                                                    },
                                                    "#mini-cart");
                                            }
                                        });
                                    jQuery("#a-mini-remove-form-cart-{{cartItem.id}}").click(function(e) {
                                        e.preventDefault();
                                        jQuery(this).closest("form").submit();
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
        </div>
        <!-- Cart Total -->
        <div class="cart-totals">
            <h5>{{"Subtotal" | t}} <span>{{cart.subTotal | withCurrency}}</span></h5>
        </div>
        <!-- Cart Button -->
        <div class="cart-bottom  clearfix">
            <a href="{% route Cart %}">{{"Check out" | t}}</a>
        </div>
        {% else %}
        <div class="text-center">
            <div>
                <i class="fa fa-shopping-cart"></i>
            </div>
            {{"Your shopping cart is empty" | t}}
        </div>
        {% endif %}
    </div>
</div>
