<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-50">
    <div class="product-item product-item-2 text-center" id="product-{{product.id}}">
        <!-- Product Image -->
        <div class="product-img">
            <!-- Image -->
            <a class="image" href='{% route SingleProduct seName="{{product.seName}}" %}'>
                <img src="{{product.media[0].url}}" alt="{{product.name}}"/>
            </a>
            <!-- Action Button -->
            <div class="action-btn-2">
              {% partial "Products/_AddToWishlist" %}
            </div>
        </div>
        <!-- Portfolio Info -->
        <div class="product-info">
            <!-- Title -->
            <h5 class="title"><a href='{% route SingleProduct seName="{{product.seName}}" %}'>{{product.name}}</a></h5>
            {% partial "Products/_RatingMini" %}
            <!-- Price -->
            <div class="price-ratting fix">
                <span class="price"><span class="new">{{product.priceFormatted}}</span></span>
            </div>
        </div>
    </div>
</div>