{% layout "_Layout" %}
<!-- PAGE SECTION START -->
<div class="product-section section">
    <div class="container">
        <div class="row mb-40">
            <!-- Single Product Images -->
            <div class="col-md-5 col-sm-6 col-xs-12 mb-40">
                <!-- Tab panes -->
                <div class="tab-content mb-10">
                    {% for media in product.media %}
                    <div class="pro-large-img tab-pane {% if forloop.index == 1 %}active{% endif %}" id="pro-large-img-{{forloop.index}}">
                        <img src="{{media.url}}" alt="" />
                    </div>
                    {% endfor %}
                </div>
                <!-- Single Product Thumbnail Slider -->
                <div class="pro-thumb-img-slider">
                    {% for media in product.media %}
                    <div>
                        <a href="#pro-large-img-{{forloop.index}}" data-toggle="tab"><img src="{{media.thumbnailUrl}}" alt="" /></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Single Product Details -->
            <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
                <div class="product-details section">
                    <!-- Title -->
                    <h1 class="title">{{product.name}}</h1>
                    <!-- Price Ratting -->
                    <div class="price-ratting section">
                        <!-- Price -->
                        <span class="price float-left"><span class="new" id="priceFormatted">{{product.priceFormatted}}</span></span>
                        <a href="#reviews">
                            {% partial "Products/_Rating" %}
                        </a>
                        
                    </div>
                    <!-- Short Description -->
                    <div class="short-desc section">
                        <h5 class="pd-sub-title">Quick Overview</h5>
                        <p>
                            {{product.summary}}
                        </p>
                    </div>
                    <form action="{% route api_AddToCart %}" method="post" id="form-add-to-cart">
                        <input type="hidden" name="productId" value="{{product.id}}" />
                        {% partial "Products/Index.ProductAttributes" %}
                        <!-- Quantity Cart -->
                        <div class="quantity-cart section">
                            <div class="product-quantity">
                                <input name="quantity" type="text" value="{{product.minimumPurchaseQuantity}}">
                            </div>
                            <button class="add-to-cart">add to cart</button>
                        </div>
                    </form>
                    <script type="text/javascript">
                        ready(function () {
                            initAjaxForm("form-add-to-cart",
                                {
                                    onSuccess: function () {

                                    }
                                });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section">
                <h3>
                    {{"Description" | t}}
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        {{product.description}}
                    </div>
                </div>
            </div>
            <div class="section">
                <h3>
                    {{"Product Details" | t}}
                </h3>
                <div class="row">
                    {% for specGroup in product.productSpecificationGroups %}

                    <div class="col-md-12">
                        <h3>
                            {{specGroup.name}}
                        </h3>
                        <table class="table-data-sheet">
                            {% for spec in specGroup.productSpecifications %}
                            <tr class="{% cycle 'odd', 'even' %}">
                                <td>{{spec.name}}</td>
                                <td>{{spec.valuesCsv}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if reviews && reviews.size > 0 %}
            <div class="section section-reviews" id="reviews">
                <h3>
                    {{"Reviews" | t}}
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        {% for review in reviews %}
                        {% partial "Reviews/_ReviewBox" %}
                        {% endfor %}
                    </div>
                    <a href='{% route ReviewsList seName="{{product.seName}}" %}' class="btn btn-default">
                        {{"View All Reviews" | t}}
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->
{% partial "Products/_RelatedProducts" %}