{% layout "_Layout" %}
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-120">
    <div class="container">
        <div class="row mb-40">
            <!-- Single Product Images -->
            <div class="col-md-5 col-sm-6 col-xs-12 mb-40"> 
                <!-- Tab panes -->
                <div class="tab-content mb-10">
                    {% for media in product.media %}
                    <div class="pro-large-img tab-pane {% if forloop.index == 1 %}active{% endif %}" id="pro-large-img-{{forloop.index}}">
                        <img src="{{media.url}}" alt=""/>
                    </div>
                    {% endfor %}
                </div>
                <!-- Single Product Thumbnail Slider -->
                <div class="pro-thumb-img-slider">
                    {% for media in product.media %}
                    <div>
                        <a href="#pro-large-img-{{forloop.index}}" data-toggle="tab"><img src="{{media.thumbnailUrl}}" alt="" /></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Single Product Details -->
            <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
                <div class="product-details section">
                    <!-- Title -->
                    <h1 class="title">{{product.name}}</h1>
                    <!-- Price Ratting -->
                    <div class="price-ratting section">
                        <!-- Price -->
                        <span class="price float-left"><span class="new">{{product.price}}</span></span>
                        <!-- Ratting -->
                        <span class="ratting float-right">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <span> (01 Customer Review)</span>
                        </span>
                    </div>
                    <!-- Short Description -->
                    <div class="short-desc section">
                        <h5 class="pd-sub-title">Quick Overview</h5>
                        <p>
                            {{product.summary}}
                        </p>
                    </div>
                    <form action="{% route api_AddToCart %}" method="post" id="form-add-to-cart">
                        <input type="hidden" name="productId" value="{{product.id}}"/>
                        {% for attribute in product.productAttributes %}
                        <!-- Product Size -->
                        <div class="product-size section">
                            <input type="hidden" name="attributes[{{forloop.index0}}].name" value="{{attribute.name}}"/>
                            <h5 class="pd-sub-title">{{attribute.name}}</h5>
                            <select class="form-control" name="attributes[{{forloop.index0}}].selectedValues[0].name">
                                {% unless attribute.isRequired %}
                                <option value="-1">{{"Select" | t}}</option>
                                {% endunless %}
                                {% for value in attribute.availableValues %}
                                <option value="{{value.name}}">{{value.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                        <!-- Quantity Cart -->
                        <div class="quantity-cart section">
                            <div class="product-quantity">
                                <input name="quantity" type="text" value="{{product.minimumPurchaseQuantity}}">
                            </div>
                            <button class="add-to-cart">add to cart</button>
                        </div>
                    </form>
                    <script type="text/javascript">
                        ready(function() {
                                initAjaxForm("form-add-to-cart",
                                    {
                                        onSuccess: function() {

                                        }
                                    });
                            });
                    </script>
                   
                    <!-- Usefull Link -->
                    <ul class="usefull-link section">
                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email to a Friend</a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Wishlist</a></li>
                        <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i> print</a></li>
                    </ul>
                    <!-- Share -->
                    <div class="share-icons section">
                        <span>share :</span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Nav tabs -->
            <div class="col-xs-12">
                <ul class="pro-info-tab-list section">
                    <li class="active"><a href="#more-info" data-toggle="tab">More info</a></li>
                    <li><a href="#data-sheet" data-toggle="tab">Data sheet</a></li>
                    <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content col-xs-12">
                <div class="pro-info-tab tab-pane active" id="more-info">
                    <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                </div>
                <div class="pro-info-tab tab-pane" id="data-sheet">
                    <table class="table-data-sheet">
                        <tbody>
                        <tr class="odd">
                            <td>Compositions</td>
                            <td>Cotton</td>
                        </tr>
                        <tr class="even">
                            <td>Styles</td>
                            <td>Casual</td>
                        </tr>
                        <tr class="odd">
                            <td>Properties</td>
                            <td>Short Sleeve</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pro-info-tab tab-pane" id="reviews">
                    <a href="#">Be the first to write your review!</a>
                </div>
            </div>      
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->
    
<!-- PRODUCT SECTION START -->
<div class="product-section section pb-120">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-60">
                <h2>related products</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-slider product-slider-4">
                <!-- Product Item Start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="product-details.html"><img src="img/product/1.jpg" alt=""/></a>
                            <a class="wishlist" href="#" title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            <div class="action-btn fix">
                                <a href="#" data-toggle="modal"  data-target="#quickViewModal" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
                            </div>
                        </div>
                        <div class="product-info text-left">
                            <h5 class="title"><a href="product-details.html">Le Parc Minotti Chair</a></h5>
                            <div class="price-ratting fix">
                                <span class="price float-left"><span class="new">€169.00</span></span>
                                <span class="ratting float-right">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="product-details.html"><img src="img/product/2.jpg" alt=""/></a>
                            <a class="wishlist" href="#" title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            <div class="action-btn fix">
                                <a href="#" data-toggle="modal"  data-target="#quickViewModal" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
                            </div>
                        </div>
                        <div class="product-info text-left">
                            <h5 class="title"><a href="product-details.html">DSR Eiffel chair</a></h5>
                            <div class="price-ratting fix">
                                <span class="price float-left"><span class="new">€137.00</span><span class="old">€115.00</span></span>
                                <span class="ratting float-right">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="product-details.html"><img src="img/product/8.jpg" alt=""/></a>
                            <a class="wishlist" href="#" title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            <div class="action-btn fix">
                                <a href="#" data-toggle="modal"  data-target="#quickViewModal" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
                            </div>
                        </div>
                        <div class="product-info text-left">
                            <h5 class="title"><a href="product-details.html">pendant lights</a></h5>
                            <div class="price-ratting fix">
                                <span class="price float-left"><span class="new">€245.00</span></span>
                                <span class="ratting float-right">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="product-details.html"><img src="img/product/3.jpg" alt=""/></a>
                            <a class="wishlist" href="#" title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            <div class="action-btn fix">
                                <a href="#" data-toggle="modal"  data-target="#quickViewModal" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>>add to cart</a>
                            </div>
                        </div>
                        <div class="product-info text-left">
                            <h5 class="title"><a href="product-details.html">3d laser cut models</a></h5>
                            <div class="price-ratting fix">
                                <span class="price float-left"><span class="new">€185.00</span><span class="old">€125..00</span></span>
                                <span class="ratting float-right">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="col-xs-12">
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="product-details.html"><img src="img/product/4.jpg" alt=""/></a>
                            <a class="wishlist" href="#" title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            <div class="action-btn fix">
                                <a href="#" data-toggle="modal"  data-target="#quickViewModal" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
                            </div>
                        </div>
                        <div class="product-info text-left">
                            <h5 class="title"><a href="product-details.html">carl hansen ch25</a></h5>
                            <div class="price-ratting fix">
                                <span class="price float-left"><span class="new">€245.00</span></span>
                                <span class="ratting float-right">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT SECTION END --> 

