{% layout "_Layout" %}
{% global page_title=@t"Products" active_menu="ProductsList" parent_active_menu="ProductsList" %}
{% partial "Navigation/ProductSecondaryNavigation" %}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-title">
                {{"Products" | t}}
                <a class="btn btn-sm btn-primary float-right" href='{% route GetProduct productId="0" %}'>{{"Add new product" | t}}</a>
            </div>
            <div class="panel-body no-padding">
                <table id="grid-selection" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                        <th data-column-id="name">{{"Product" | t}}</th>
                        <th data-column-id="sku">{{"Sku" | t}}</th>
                        <th data-column-id="priceFormatted">{{"Price" | t}}</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                    </tr>
                    </thead>
                </table>
                <script type="text/javascript">
                    var editProduct = function(id) {
                        var url = '{% route GetProduct productId="product_id" %}';
                        url = url.replace("product_id", id);
                        navigate(url);
                    }
                    var deleteProduct = function (id) {
                        if (confirm("{{'The products are soft deleted to maintain cross references with order. Are you sure proceed with soft delete?' | t}}")) {
                            var url = '{% route DeleteProduct productId="product_id" %}';
                            url = url.replace("product_id", id);
                            post({
                                url: url,
                                done: function() {
                                    reloadGrid("#grid-selection");
                                }
                            });
                        }
                        
                    }
                    ready(function() {
                        var initData = null;
                        /*{% unless products == blank %}*/
                        initData = JSON.parse('{{products}}');
                        /*{% endunless %}*/

                        generateGrid({
                            element: "grid-selection",
                            initialData: {
                                products: initData,
                                current: parseInt("{{current}}"),
                                total: parseInt("{{total}}"),
                                rowCount: parseInt("{{rowCount}}")
                            },
                            method: "GET",
                            navigation : 3,
                            url: "{% route api_ProductsList %}",
                            responseObject: "products",
                            formatters: {
                                "commands": function (column, row) {
                                    return "<button class=\"btn btn-secondary btn-sm command-edit\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='editProduct(" +
                                        row.id +
                                        ")'><span class=\"rbicon-edit\"></span></button> " +
                                        "<button class=\"btn btn-danger btn-sm command-preview\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='deleteProduct(" +
                                        row.id +
                                        ")'><span class=\"rbicon-trash-2\"></span></button>";
                                }
                            }
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>

