{% layout "_Layout" %}
{% global page_title=@t"Product Attributes" active_menu="ProductAttributesList" parent_active_menu="ProductsList" %}
{% global back_page="{% route ProductsList %}" back_link_title=@t"Back to product" %}

{% partial "Navigation/ProductEditSecondaryNavigation" %}
<div class="row">
    <div class="col-md-12 col-offset-2">
        <div class="panel">
            <div class="panel-title">
                {{"Product Attributes" | t}} <button class="btn btn-primary float-right" onclick="editAttribute(0)">{{"Add New" | t}}</button>
            </div>
            <div class="panel-body no-padding">
                <table id="grid-selection" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                        <th data-column-id="name">{{"Name" | t}}</th>
                        <th data-column-id="label">{{"Display Text" | t}}</th>
                        <th data-column-id="inputFieldTypeDisplay">{{"Type" | t}}</th>
                        <th data-column-id="isRequired" data-formatter="isrequired">{{"Required" | t}}</th>
                        <th data-column-id="values" data-formatter="values">{{"Values" | t}}</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                    </tr>
                    </thead>
                </table>
                <script type="text/javascript">
                    ready(function() {
                        var initData = null;
                        /*{% unless attributes == blank %}*/
                        initData = JSON.parse('{{attributes}}');
                        /*{% endunless %}*/
                        generateGrid({
                            element: "grid-selection",
                            initialData: {
                                attributes: initData,
                                current: parseInt("{{current}}"),
                                total: parseInt("{{total}}"),
                                rowCount: parseInt("{{rowCount}}")
                            },
                            method: "GET",
                            url: '{% route api_ProductAttributesList productId="{{product.id}}" %}',
                            responseObject: "attributes",
                            selection: false,
                            navigation: false,
                            columnSelection: false,
                            formatters: {
                                isrequired: function(column, row) {
                                    return gridFormatters.binary(column, row, "isRequired");
                                },
                                "values": function(column, row) {
                                    if (!row.values)
                                        return "";
                                    var table = "<table class='table table-bordered'>";
                                    row.values.forEach(function(valueItem) {
                                        var label = valueItem.label;
                                        if (label)
                                            label = "(" + label + ")";
                                        if (!label)
                                            label = "";
                                        table += "<tr>";
                                        table += "<td>" + valueItem.attributeValue + " " + label + "</td>";
                                        table +=
                                            "<td style='width:20px'><a class='clickable' onclick='deleteAttributeValue(" +
                                            valueItem.id +
                                            ")'><span class='rbicon-trash-2'></span></a></td>";
                                        table += "</tr>";
                                    });
                                    table += "</table>";
                                    return table;
                                },
                                "commands": function(column, row) {
                                    return "<button type='button' class='btn btn-secondary command-edit' data-row-id='" +
                                        row.id +
                                        "' onclick='editAttribute(" +
                                        row.id +
                                        ")'><span class='rbicon-edit'></span></button> " +
                                        "<button type='button' class='btn btn-danger command-preview' data-row-id='" +
                                        row.id +
                                        "' onclick='deleteAttribute(" +
                                        row.id +
                                        ")'><span class='rbicon-trash-2'></span></button>";
                                }
                            }
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>


<div class="popup" id="add-attribute">
</div>

<script type="text/javascript">
   
    var editAttribute = function(id) {
        jQuery("#add-attribute").html("{{'Please wait...'}}");
        var centerPopup = showAsPopup("add-attribute",
            true,
            function(result) {
                if (result == "ok") {
                    //reload the grid
                    reloadGrid('grid-selection');
                    notify("success", '{{"Attribute was saved successfully" | t}}');
                }
            });
        var url = '{% route EditProductAttribute productId="{{product.id}}" productAttributeId="%id%" %}'.replaceAll("%id%", id);
        loadPage(url, true,
            null,
            function(response) {
                jQuery("#add-attribute").html(response);
                centerPopup();
            });
    }

    var deleteAttribute = function(id) {
        var msg =
            '{{ "Deleting a product attribute will delete all the associated variants. Are you sure you wish to continue?" | t}}';
        confirm(msg,
            function() {
                post({
                    url: "{% route api_DeleteProductAttribute %}",
                    data: {
                      productAttributeId: id  
                    },
                    done: function(response) {
                        if (response.success) {
                            reloadGrid('grid-selection');
                            notify("success", '{{"Attribute was deleted successfully" | t}}');
                        }
                    }
                });
            });
    }

    var deleteAttributeValue = function(id) {
        var msg =
            '{{ "Deleting a product attribute value will delete all the associated variants. The action can not be undone. Are you sure you wish to continue?" | t}}';
        return confirm(msg,
            function() {
                post({
                    url: "{% route api_DeleteProductAttributeValue %}",
                    data: {
                        productAttributeValueId: id  
                    },
                    done: function(response) {
                        if (response.success) {
                            reloadGrid('grid-selection');
                            notify("success", '{{"Value was deleted successfully" | t}}');
                        }
                    }
                });
            });
    }
</script>