{% layout "_Layout" %}
{% global page_title=@t"Orders" active_menu="OrdersList" parent_active_menu="UsersList" menu_group="UserEdit" %}
{% if errorCode == "PARENT_ID_MUST_NONZERO" %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">{{"User must be saved first to access this page" | t}}</div>
    </div>
</div>
{% else %}
<div class="panel">
    <div class="panel-title">
        {{"Orders" | t}}
    </div>
    <div class="panel-body no-padding">
        <table id="grid-selection" class="table table-condensed table-hover no-margin">
            <thead>
                <tr>
                    <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                    <th data-column-id="number" data-formatter="number">{{"Order#" | t}}</th>
                    <th data-column-id="createdOn">{{"Order Date" | t}}</th>
                    <th data-column-id="orderStatusDisplay">{{"Order Status" | t}}</th>
                    <th data-column-id="paymentStatusDisplay">{{"Payment Status" | t}}</th>
                    <th data-column-id="orderTotalFormatted">{{"Order Total" | t}}</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
        {{orders | scriptJson : 'initData'}}
        <script type="text/javascript">
                    var editOrder = function(id) {
                        var url = '{% route GetOrder OrderId="order_id" %}';
                        url = url.replace("order_id", id);
                        navigate(url);
                    }
                    var searchParams = {
                        orderStatus: [],
                        paymentStatus: [],
                        searchPhrase: "{{params.searchPhrase}}",
                        fromDate: "{{params.fromDate}}",
                        toDate: "{{params.toDate}}"
                    };
                    /* {% for os in params.orderStatus %}*/
                    searchParams.orderStatus.push("{{os}}");
                    /* {% endfor %}*/
                    /* {% for ps in params.paymentStatus %}*/
                    searchParams.paymentStatus.push("{{ps}}");
                    /* {% endfor %}*/

                    ready(function() {

                        generateGrid({
                            element: "grid-selection",
                            initialData: {
                                orders: initData,
                                current: parseInt("{{current}}"),
                                total: parseInt("{{total}}"),
                                rowCount: parseInt("{{rowCount}}")
                            },
                            method: "GET",
                            navigation: 3,
                            url: '{% route api_UserOrdersList userId="{{userId}}" %}',
                            data: function() {
                                return searchParams;
                            },
                            responseObject: "orders",
                            templates: {
                                "search": ""
                            },
                            done: function (response) {
                                if (response.params)
                                    searchParams = response.params;
                            },
                            selection:false,
                            formatters: {
                                "number": function(column, row) {
                                    return row.orderNumber || row.id;
                                },
                                "commands": function(column, row) {
                                    return "<button class=\"btn btn-secondary btn-sm command-edit\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='editOrder(" +
                                        row.id +
                                        ")'><span class=\"rbicon-edit\"></span></button> ";
                                }
                            }
                        });
                    });

        </script>
    </div>
</div>
{% endif %}