<?xml version="1.0" encoding="utf-8"?>
<!--<config>
  <ConnectionString>Server=localhost;Database=evencartpublic;Uid=root;Pwd=admin;</ConnectionString>
  <ProviderName>MySql</ProviderName>
</config>-->
<!--<config>
  <ConnectionString>Data Source=.;Initial Catalog=evencartpublic;Integrated Security=False;Persist Security Info=False;User ID=iis_user;Password=iis_user</ConnectionString>
  <ProviderName>SqlServer</ProviderName>
</config>-->
<config>
  <ConnectionString>Data Source=.;Initial Catalog=ms_fresh;Integrated Security=False;Persist Security Info=False;User ID=iis_user;Password=iis_user</ConnectionString>
  <ProviderName>SqlServer</ProviderName>
</config>