<div class="form-group">
    {% control label text=@t"From Order Date" %}
    {% control datetime id="fromDate" %}
</div>
<div class="form-group">
    {% control label text=@t"To Order Date" %}
    {% control datetime id="toDate" %}
</div>
<script type="text/javascript">
    ready(function() {
        jQuery("#fromDate").change(function () {
            searchParams.fromDate = jQuery(this).val();
            reloadGrid("grid-selection");
        });
        jQuery("#toDate").change(function () {
            searchParams.toDate = jQuery(this).val();
            reloadGrid("grid-selection");
        });
    });
</script>