<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{store.url}}/administration/assets/lib/rbicon/style.css">
    <link href="{{store.url}}/administration/assets/lib/simple-mde/css/simplemde.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/simplebar/simplebar.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/trumbowyg/ui/sass/trumbowyg.min.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/css/style.min.css" rel="stylesheet" />

    <title>{{ page_title }}</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="sidenav">
            <div class="user-menu dropdown">
                <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="workspace">{{store.name}}</div>
                    <div class="user-info">
                        <span class="user-name margin-r-5">Anshul S.</span>
                        <span class="rbicon-chevron-down"></span>
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h6 class="dropdown-header">Personal</h6>
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Preferences</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Workspace</h6>
                    <a class="dropdown-item" href="#">Teams</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Billing</h6>
                    <a class="dropdown-item" href="#">Account Status</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Signout of <strong>Apexol</strong></a>
                </div>
            </div>
            <ul class="sidenav-links">
                {% for menu_item in navigation %}
                <li class="{% if menu_item.system_name == parent_active_menu %}{%assign active_item = menu_item %}active{% endif %}">
                    <a href="{{menu_item.url}}">
                        <div>
                            {{menu_item.text}}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="client-main">
            <div class="client-main-navlinks">
                <ul class="list-inline">
                    {% for child_menu_item in active_item.child_items %}
                    <li class="{% if child_menu_item.system_name == active_menu %}active{% endif %}">
                        <a href="{{child_menu_item.url}}">
                            {{child_menu_item.text}}
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="client-main-content">
                {% bodyContent %}
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="{{store.url}}/administration/assets/lib/simple-mde/js/simplemde.js"></script>
    <script src="{{store.url}}/administration/assets/lib/simplebar/simplebar.js"></script>
    <script src="{{store.url}}/administration/assets/lib/typeahead/typeahead.js"></script>
    <script src="{{store.url}}/administration/assets/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="{{store.url}}/administration/assets/lib/trumbowyg/trumbowyg.js"></script>

    <script>
        //typeahead
        var tags = ["Development", "Testing", "Designing", "Business"];
        // constructs the suggestion engine
        var bloodHoundTagsEngine = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            // `states` is an array of state names defined in "The Basics"
            local: tags
        });
        bloodHoundTagsEngine.initialize();

        $('#select-tag-filter').tagsinput({
            typeaheadjs: {
                name: 'tags',
                source: bloodHoundTagsEngine
            }
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('textarea[rel="wyswyg"]').trumbowyg();
        });
    </script>
</body>


</html>	