{% partial "Navigation/PrimaryNavigation" %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{store.url}}/administration/assets/lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{store.url}}/administration/assets/lib/rbicon/style.css">
    <link href="{{store.url}}/administration/assets/lib/simple-mde/css/simplemde.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/simplebar/simplebar.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/trumbowyg/ui/sass/trumbowyg.min.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/lib/jquery-bootgrid/jquery.bootgrid.min.css" rel="stylesheet" />
    <link href="{{store.url}}/administration/assets/css/style.min.css" rel="stylesheet" />

    <script src="{{store.url}}/administration/assets/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        //helper for quick calls
        var ready = function (callback) {
            jQuery(document).ready(callback);
        }
    </script>
    <title>{{ page_title }} - RoastedMarketplace Administration</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="sidenav">
            <div class="user-menu dropdown">
                <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="workspace">SlateCart</div>
                    <div class="user-info">
                        <span class="user-name margin-r-5">{{currentUser.firstName}}</span>
                        <span class="rbicon-chevron-down"></span>
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% route Home %}" target="_blank">{{"Public Store" | t}}</a>
                    <a class="dropdown-item" href="{% route Logout %}">{{"Logout" | t}}</a>
                </div>
            </div>
            <ul class="sidenav-links">
                {% for menu_item in primary_navigation %}
                {% assign mItem = menu_item | split : "::::" %}
                <li class="{% if mItem[2] == parent_active_menu %}active{% endif %}">
                    <a href="{{mItem[1]}}">
                        <div>
                            {{mItem[0]}}
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
        <div class="client-main">
            <div class="client-main-navlinks">
                <ul class="list-inline">
                    
                    {% unless back_page == nil %}
                    <li>
                        <a href="{{ back_page }}">
                            <span class="rbicon-chevron-left"></span> {{ back_link_title }}
                        </a>
                    </li>
                    {% endunless %}
                    {% for menu_item in secondary_navigation %}
                    {% assign mItem = menu_item | split : "::::" %}
                    <li class="{% if mItem[2] == active_menu %}active{% endif %}">
                        <a href="{{mItem[1]}}">
                            <div>
                                {{mItem[0]}}
                            </div>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="client-main-content">
                {% bodyContent %}
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{store.url}}/administration/assets/lib/popper.min.js"></script>
    <script src="{{store.url}}/administration/assets/lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="{{store.url}}/administration/assets/lib/simple-mde/js/simplemde.js"></script>
    <script src="{{store.url}}/administration/assets/lib/simplebar/simplebar.js"></script>
    <script src="{{store.url}}/administration/assets/lib/typeahead/typeahead.js"></script>
    <script src="{{store.url}}/administration/assets/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="{{store.url}}/administration/assets/lib/trumbowyg/trumbowyg.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-bootgrid/jquery.bootgrid.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-fileupload/jquery.ui.widget.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-fileupload/jquery.fileupload.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-validator/jquery.validate.js"></script>
    <script src="{{store.url}}/administration/assets/lib/jquery-validator/additional-methods.js"></script>
    <script src="{{store.url}}/common/assets/lib/navigo/navigo.js"></script>
    <script src="{{store.url}}/common/assets/lib/liquidjs/liquid.js"></script>
    <script src="{{store.url}}/administration/assets/lib/sortable.js"></script>
    <script src="{{store.url}}/administration/assets/js/router.js"></script>
    <script src="{{store.url}}/common/assets/js/helpers.js"></script>
<script src="{{store.url}}/common/assets/js/ajax.js"></script>
<script src="{{store.url}}/common/assets/js/catalog.js"></script>
    <script src="{{store.url}}/administration/assets/js/script.js"></script>

    <script type="text/javascript">
    ready(function () {
        useContext("{{ context }}", "{% route api_GetTemplates %}");
    });

    </script>

</body>


</html>	