<h5 class="widget-title">{{title}}</h5>
<ul class="list list-inline">
    {% if facebookUrl %}
    <li class="list-inline-item">
        <a href="{{facebookUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-facebook"></i>
        </a>
    </li>
    {% endif %}
    {% if twitterUrl != "" %}
    <li class="list-inline-item">
        <a href="{{twitterUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-twitter"></i>
        </a>
    </li>
    {% endif %}
    {% if linkedInUrl != "" %}
    <li class="list-inline-item">
        <a href="{{linkedInUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-linkedin"></i>
        </a>
    </li>
    {% endif %}
    {% if youtubeUrl != "" %}
    <li class="list-inline-item">
        <a href="{{youtubeUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-youtube"></i>
        </a>
    </li>
    {% endif %}
    {% if instagramUrl != "" %}
    <li class="list-inline-item">
        <a href="{{instagramUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-instagram"></i>
        </a>
    </li>
    {% endif %}
    {% if skypeUrl != "" %}
    <li class="list-inline-item">
        <a href="{{skypeUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-skype"></i>
        </a>
    </li>
    {% endif %}
    {% if whatsappUrl != "" %}
    <li class="list-inline-item">
        <a href="{{whatsappUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-whatsapp"></i>
        </a>
    </li>
    {% endif %}
    {% if emailUrl != "" %}
    <li class="list-inline-item">
        <a href="{{emailUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-envelope"></i>
        </a>
    </li>
    {% endif %}
    {% if rssfeedUrl != "" %}
    <li class="list-inline-item">
        <a href="{{rssfeedUrl}}" class="margin-r-10">
            <i class="fa fa-2x fa-rss"></i>
        </a>
    </li>
    {% endif %}
</ul>