{% layout "_Layout" %}
{% partial "Seo/_ProductJsonLd" %}
<!-- PAGE SECTION START -->
<div class="product-section section wrapper">
    <div class="container">
       
        <div class="row mb-40">
            <!-- Single Product Images -->
            <div class="col-md-5 col-sm-6 col-xs-12 mb-40">
                <!-- Tab panes -->
                <div class="tab-content mb-10">
                    {% for media in product.media %}
                    <div class="pro-large-img tab-pane {% if forloop.index == 1 %}active{% endif %}" id="pro-large-img-{{forloop.index}}">
                        <img src="{{media.url}}" alt="" />
                    </div>
                    {% endfor %}
                </div>
                <!-- Single Product Thumbnail Slider -->
                <div class="pro-thumb-img-slider">
                    {% for media in product.media %}
                    <div>
                        <a href="#pro-large-img-{{forloop.index}}" data-toggle="tab"><img src="{{media.thumbnailUrl}}" alt="" /></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Single Product Details -->
            <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
                {% partial "Common/Breadcrumb" %}
                <div class="product-details section">
                    <!-- Title -->
                    <h1 class="title">
                        {{product.name}}
                        <small>
                            {% partial "Products/_AddToWishlist" %}
                        </small>
                        
                    </h1>
                    <a href="#reviews">
                        {% partial "Products/_Rating" %}
                    </a>
                    <!-- Price Ratting -->
                    <div class="price-ratting section">
                        <!-- Price -->
                        <span class="price">
                            {% if product.comparePrice %}
                            <del>
                                {{product.comparePrice | withCurrency }}
                            </del>
                            {% endif %}
                            <div class="new" id="priceFormatted">{{product.price | withCurrency }}</div>
                        </span>
                    </div>
                    <!-- Short Description -->
                    <div class="short-desc section">
                        <h5 class="pd-sub-title">{{"Quick Overview" | t}}</h5>
                        <p>
                            {{product.summary}}
                        </p>
                    </div>
                    <form action="{% route api_AddToCart %}" method="post" id="form-add-to-cart">
                        {% control xsrf %}
                        <input type="hidden" name="productId" value="{{product.id}}" />
                        {% partial "Products/Index.ProductAttributes" %}
                        {% if product.isAvailable %}
                        <!-- Quantity Cart -->
                        <div class="quantity-cart section">
                            <div class="product-quantity">
                                <input name="quantity" type="text" value="{{product.minimumPurchaseQuantity}}">
                            </div>
                            <button class="add-to-cart">{{"add to cart" | t }}</button>
                        </div>
                        {% else %}
                        <script type="text/javascript">
                            ready(function() {
                                jQuery(".product-unavailable").show();
                            });
                        </script>
                        {% endif %}
                        <div class="product-unavailable">
                            {{"The product is currently not available" | t}}
                        </div>
                    </form>
                    <script type="text/javascript">
                        ready(function() {
                            initAjaxForm("form-add-to-cart",
                                {
                                    onSuccess: function () {
                                        notify("success", '{{"Successfully added product to the cart" | t}}');
                                        reloadComponent("MiniCart",
                                            {
                                                success: true //just there for the sake of any key
                                            }, "#mini-cart");
                                    }
                                });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section">
                <div class="col-12">
                    <h3>
                        {{"Description" | t}}
                    </h3>
                    {{product.description}}
                </div>
            </div>
            <div class="section">
                <div class="margin-b-20">
                  
                    {% for specGroup in product.productSpecificationGroups %}
                  
                    <div class="col-md-12 margin-b-20">
                        <h3>
                            {% if forloop.index0 == 0 %}
                            {{"Product Details" | t}}
                            {% else %}
                            {{specGroup.name}}
                            {% endif %}
                        </h3>
                        <table class="table-data-sheet">
                            {% for spec in specGroup.productSpecifications %}
                            <tr class="{% cycle 'odd', 'even' %}">
                                <td>{{spec.name}}</td>
                                <td>{{spec.valuesCsv}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if reviews && reviews.size > 0 %}
            <div class="section section-reviews" id="reviews">
                <div class="col-md-12">
                    <h3>
                        {{"Reviews" | t}}
                    </h3>
                    {% for review in reviews %}
                    {% partial "Reviews/_ReviewBox" %}
                    {% endfor %}
                </div>
                <div class="text-center">
                    <a href='{% route UserReviewsList seName="{{product.seName}}" %}' class="btn btn-default">
                        {{"View All Reviews" | t}}
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->
{% partial "Products/_RelatedProducts" %}