{% layout "_Layout" %}
{% partial "Seo/_ProductJsonLd" %}
<!-- PAGE SECTION START -->
<div class="product-section section wrapper">
    <div class="container">
        <div class="row mb-40">
            <!-- Single Product Images -->
            <div class="col-md-5 col-sm-6 col-xs-12 mb-40">
                <div class="mb-10 tab-pane">
                    <div class="pro-large-img">
                        {% for media in product.media %}
                        <div id="product-detail-image-{{media.id}}" class="product-large-image" style="display: none;">
                            {% if media.mediaType == "Url" %}
                            {{media.metaData.html}}
                            {% else %}
                            <img alt="" src="{{media.url}}" />
                            {% endif %}
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
                <!-- Single Product Thumbnail Slider -->
                <div class="pro-thumb-img-slider">
                    {% for media in product.media %}
                    <div>
                        {% if media.mediaType == "Url" %}
                        <a href="#pro-large-img-{{forloop.index}}" class="product-thumb-link" data-url="{{media.url}}" data-id="{{media.id}}" data-toggle="tab">
                            <span>
                                <i class="fa fa-play"></i>
                            </span>
                            <img src="{{media.metaData.thumbnailUrl}}" alt=""/>
                        </a>
                        {% else %}
                        <a href="#pro-large-img-{{forloop.index}}" class="product-thumb-link" data-url="{{media.url}}" data-id="{{media.id}}" data-toggle="tab"><img src="{{media.thumbnailUrl}}" alt="" /></a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <script type="text/javascript">
                    ready(function() {
                        jQuery(".product-thumb-link").on("click",
                            function (e) {
                                jQuery(".product-large-image").hide();
                                var id = jQuery(this).data("id");
                                jQuery("#product-detail-image-" + id).show();
                            });
                        jQuery(".product-thumb-link:first").trigger("click");
                    });
                </script>
            </div>
            <!-- Single Product Details -->
            <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
                {% partial "Common/Breadcrumb" %}
                <div class="product-details section">
                    <!-- Title -->
                    <h1 class="title">
                        {{product.name}}
                        <small>
                            {% partial "Products/_AddToWishlist" %}
                        </small>

                    </h1>
                    {% if product.reviewSummary.totalRatings > 0 %}
                    <a href="#reviews">
                        {% partial "Products/_Rating" %}
                    </a>
                    {% else %}
                    {% partial "Products/_Rating" %}
                    <div>
                        <a href='{% route ReviewEditor productId="{{product.id}}" reviewId="0" %}'>
                            {{"Write a review" | t}}
                        </a>
                    </div>
                    {% endif %}
                    {% if product.summary %}
                    <!-- Short Description -->
                    <div class="short-desc section">
                        <p>
                            {{product.summary}}
                        </p>
                    </div>
                    {% endif %}
                    {% if product.isDownloadable %}
                    {% if downloads.size > 0 %}

                    <div class="alert alert-info">
                        <strong>{{"Downloads" | t}}</strong>
                        {% for download in downloads %}
                        <div>
                            <a href="{{download.downloadUrl}}"><i class="fa fa-download margin-r-5"></i>{{download.title}}</a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endif %}
                    {% unless product.requireLoginToViewPrice and currentUser.isVisitor %}
                    <!-- Price Ratting -->
                    <div class="price-ratting section">
                        <!-- Price -->
                        <span class="price">
                            {% if product.comparePrice %}
                            <del>
                                {{product.comparePrice | withCurrency }}
                            </del>
                            {% endif %}
                            <div class="new" id="priceFormatted">{{product.price | withCurrency }}</div>
                        </span>
                    </div>
                    {% endunless %}
                    
                    {% if product.requireLoginToPurchase and currentUser.isVisitor %}
                    <div class="alert alert-danger">
                        {{"Please login to complete your purchase" | t}}
                    </div>
                    {% else %}
                    <form action="{% route api_AddToCart %}" method="post" id="form-add-to-cart">
                        {% control xsrf %}
                        <input type="hidden" name="productId" value="{{product.id}}" />
                        {% partial "Products/Index.ProductAttributes" %}
                        {% if product.isAvailable %}
                        <!-- Quantity Cart -->
                        <div class="quantity-cart section">
                            <div class="product-quantity">
                                <input name="quantity" type="number" value="{{product.minimumPurchaseQuantity}}" min="{{product.minimumPurchaseQuantity}}">
                            </div>
                            <button class="add-to-cart">{{"add to cart" | t }}</button>
                        </div>
                        {% else %}
                        <script type="text/javascript">
                            ready(function () {
                                jQuery(".product-unavailable").show();
                            });
                        </script>
                        {% endif %}
                        <div class="product-unavailable alert alert-danger">
                            {{"The product is currently not available" | t}}
                        </div>
                    </form>
                    <script type="text/javascript">
                        ready(function() {
                            initAjaxForm("form-add-to-cart",
                                {
                                    onSuccess: function () {
                                        notify("success", '{{"Successfully added product to the cart" | t}}');
                                        reloadComponent("MiniCart",
                                            {
                                                success: true //just there for the sake of any key
                                            }, "#mini-cart");
                                    }
                                });
                        });
                    </script>
                    {% endif %}
                    {% widget "product-details-close" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section">
                <div class="col-12">
                    <h3>
                        {{"Description" | t}}
                    </h3>
                    {{product.description}}
                </div>
            </div>
            <div class="section">
                <div class="margin-b-20">
                  
                    {% for specGroup in product.productSpecificationGroups %}
                    <div class="col-md-12 margin-b-20">
                        <h3>
                            {% if forloop.index0 > 0 or specGroup.name %}
                            {{specGroup.name}}
                            {% else %}
                            {{"Product Details" | t}}
                            {% endif %}
                        </h3>
                        <table class="table-data-sheet">
                            {% for spec in specGroup.productSpecifications %}
                            <tr class="{% cycle 'odd', 'even' %}">
                                <td>{{spec.name}}</td>
                                <td>{{spec.valuesCsv}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if reviews && reviews.size > 0 %}
            <div class="section section-reviews" id="reviews">
                <div class="col-md-12">
                    <h3>
                        {{"Reviews" | t}}
                    </h3>
                    {% for review in reviews %}
                    {% partial "Reviews/_ReviewBox" %}
                    {% endfor %}
                </div>
                <div class="text-center">
                    <a href='{% route UserReviewsList seName="{{product.seName}}" %}' class="btn btn-default">
                        {{"View All Reviews" | t}}
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->
{% partial "Products/_RelatedProducts" %}