{% layout "_Layout" %}
<div class="page-section section wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">
                    {% if currentUser.isVisitor %}
                    {{"Password Reset" | t}}
                    {% else %}
                    {{"Change Password" | t}}
                    {% endif %}
                </h3>
            </div>
            <div class="col-sm-8 offset-2">
                <div class="login-reg-form">
                    {% if validCode %}
                    <form action="{% route api_ChangePassword %}" method="post" id="login-form">
                        {% unless currentUser.isVisitor %}
                        <div class="col-sm-12 mb-20">
                            <label>{{"Current Password" | t}} <span class="required">*</span></label>
                            <input name="currentPassword" type="password">
                        </div>
                        {% endunless %}
                        <div class="col-sm-12 mb-20">
                            <label>{{"New Password" | t}} <span class="required">*</span></label>
                            <input name="password" type="password">
                        </div>
                        <div class="col-sm-12 mb-20">
                            <label>{{"Confirm Password" | t}} <span class="required">*</span></label>
                            <input name="confirmPassword" type="password">
                        </div>
                        <div class="col-sm-12 mb-20 text-center">
                            {% control hidden name="code" value="{{code}}" %}
                            <input id="resetPwd" name="resetPwd" type="submit" value='{{"Change Password" | t}}'>
                        </div>
                    </form>
                    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            initAjaxForm("login-form",
                                {
                                    onSuccess: function(response) {
                                        jQuery("#resetPwd").hide();
                                        //{% if currentUser.isVisitor %}
                                        notify("success",
                                            '{{"The password has been reset successfully. Please login with your new password." | t}}');
                                        //{% else %}
                                        notify("success", '{{"The password has been reset successfully." | t}}');
                                        //{% endif %}
                                        setTimeout(function() {
                                                //{% if currentUser.isVisitor %}
                                                window.location.href = "{% route Login %}";
                                                //{% else %}
                                                window.location.href = "{% route AccountProfile %}";
                                                //{% endif %}

                                            },
                                            2000);
                                    }
                                });
                        });
                    </script>
                    {% else %}
                    {% if expired %}
                    <div class="">
                        <p class="text-danger text-center">
                            {{"The password reset link has expired. <br/> Please enter your email to generate a new link" | t}}
                        </p>
                    </div>
                    {% endif %}
                    <form action="{% route api_ForgotPassword %}" method="post" id="login-form">
                        <div class="row">
                            <div class="col-sm-12 mb-20">
                                <label id="email">{{"Email" | t}} <span class="required">*</span></label>
                                <input name="email" id="email" type="text">
                            </div>
                            <div class="col-sm-12 mb-20">
                                <input id="resetPwd" name="resetPwd" class="inline" type="submit">
                            </div>
                            <div class="col-sm-12">
                                <a href="{% route Login %}">{{"Login Now" | t}}</a>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            initAjaxForm("login-form",
                                {
                                    onSuccess: function(response) {
                                        notify("success",
                                            '{{"A password reset link has been sent to your email address." | t}}');
                                        jQuery("#email").val("");
                                    }
                                });
                        });
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

