<div class="panel">
    <div class="panel-title">
        {{"Shipped Products" | t}}
        <button class="btn btn-sm btn-primary float-right" type="button" onclick="editShipment(0)">{{"Add Shipment" | t}}</button>
        <a class="float-right clickable margin-r-10" onclick="window['reload_shipment_list']();"><span class="rbicon rbicon-refresh-ccw"></span></a>
    </div>
    <div class="panel-body">
        <div class="row" id="shipment_list">
            {% control ajaxedcontent source="getShipmentListUrl" id="shipment_list" %}
        </div>
    </div>
</div>

<div class="popup" id="edit-shipment-popup">
</div>
<script type="text/javascript">
    var getShipmentListUrl = function() {
        return '{% route ShipmentsList orderId="{{orderId}}" %}';
    }
    var editShipment = function (id) {
        jQuery("#edit-shipment-popup").html("{{'Please wait...'}}");
        var centerPopup = showAsPopup("edit-shipment-popup",
            true,
            function(result) {
                if (result == "ok") {
                    notify("success", '{{"Shipment was saved successfully" | t}}');
                }
            });
        var url = '{% route GetShipment orderId="{{orderId}}" shipmentId="%id%" %}'.replaceAll("%id%", id);
        loadPage(url, true,
            null,
            function (response) {
                jQuery("#edit-shipment-popup").html(response);
                centerPopup();
            });
    }

</script>