{% layout "_Layout" %}
{% global page_title=@t"States" active_menu="StatesList" parent_active_menu="CountriesList" menu_group="StateEdit" %}

<div class="row">
    <div class="col-md-10 col-offset-2">
        <div class="panel">
            <div class="panel-title">
                {{"States" | t}} <button class="btn btn-sm btn-primary float-right" onclick="editState(0)">{{"Add state" | t}}</button>
            </div>
            <div class="panel-body no-padding">
                <table id="grid-selection" class="table table-condensed table-hover">
                    <thead style="display: none">
                        <tr>
                            <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                            <th data-column-id="name">{{"Name" | t}}</th>
                            <th data-column-id="shippingEnabled" data-formatter="shippingEnabled">{{"Shipping Enabled" | t}}</th>
                            <th data-column-id="published" data-formatter="published">{{"Published" | t}}</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                        </tr>
                    </thead>
                </table>
                <script type="text/javascript">
                   
                    ready(function() {
                        var initData = null;
                        /*{% unless states == blank %}*/
                        initData = JSON.parse('{{states}}');
                        /*{% endunless %}*/

                        generateGrid({
                            element: "grid-selection",
                            initialData: {
                                states: initData,
                                current: parseInt("{{current}}"),
                                total: parseInt("{{total}}"),
                                rowCount: parseInt("{{rowCount}}")
                            },
                            method: "GET",
                            navigation: 3,
                            selection: false,
                            url: '{% route api_StatesList countryId="{{countryId}}" %}',
                            responseObject: "states",
                            formatters: {
                                "published": function(column, row) {
                                    return gridFormatters.binary(column, row, "published");
                                },
                                "shippingEnabled": function(column, row) {
                                    return gridFormatters.binary(column, row, "shippingEnabled");
                                },
                                "commands": function(column, row) {
                                    return "<button class=\"btn btn-sm btn-secondary command-edit\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='editState(" +
                                        row.id +
                                        ")'><span class=\"rbicon-edit\"></span></button> " + 
                                        "<button class=\"btn btn-sm btn-danger command-edit\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='deleteState(" +
                                        row.id +
                                        ")'><span class=\"rbicon-trash-2\"></span></button> ";;
                                }
                            }
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="edit-state-popup">
</div>

<script type="text/javascript">

    var editState = function(id) {
        jQuery("#edit-state-popup").html("{{'Please wait...'}}");
        var centerPopup = showAsPopup("edit-state-popup",
            true,
            function(result) {
                if (result == "ok") {
                    //reload the grid
                    reloadGrid('grid-selection');
                    notify("success", '{{"State was saved successfully" | t}}');
                }
            });
        var url = '{% route GetState stateId="%id%" %}'.replaceAll("%id%", id);
        loadPage(url, true,
            null,
            function(response) {
                jQuery("#edit-state-popup").html(response);
                centerPopup();
            });
    }

    var deleteState = function(id) {
        confirm('{{"Are you sure you wish to delete this state?" | t}}',
            function() {
                var url = '{% route api_DeleteState %}';
                post({
                    url: url,
                    data: {
                        stateId: id
                    },
                    done: function () {
                        reloadGrid("grid-selection");
                        notify("success", '{{"State was deleted successfully" | t}}');
                    }
                });
            });
        
        
    }
</script>