<div class="panel">
    <div class="panel-title">
        {{"Registration Summary" | t}}
        <small class="float-right">
            <select id="users-chart-group-by">
                <option value="years">
                    {{"Yearly"}}
                </option>
                <option value="months" selected="selected">
                    {{"Monthly"}}
                </option>
                <option value="weeks">
                    {{"Weekly"}}
                </option>
                <option value="days">
                    {{"Daily"}}
                </option>
            </select>
        </small>
    </div>
    <div class="panel-body">
        <div id="target-users-chart"></div>
    </div>
</div>

<script type="text/javascript">
    var loadUsersChart = function() {
        get({
            url: '{% route Admin.UsersChartReport %}',
            data: {
                groupBy : jQuery("#users-chart-group-by").val()
            },
            done: function(response) {
                jQuery("#target-users-chart").html(response);
            }
        });
    }
    ready(function() {
        jQuery("#users-chart-group-by").change(loadUsersChart).trigger("change");
    });
</script>
