{% layout "_Layout" %}
{% global page_title=@t"Content Pages" active_menu="ContentPagesList" parent_active_menu="ContentPagesList" %}
{% partial "Navigation/ContentPagesSecondaryNavigation" %}

<div class="row">
    <div class="col-md-10 col-offset-2">
        <div class="panel">
            <div class="panel-title">
                {{"Content Pages" | t}}
                <a class="btn btn-sm btn-primary float-right" href='{% route GetContentPage contentPageId="0" %}'>{{"Add page" | t}}</a>
            </div>
            <div class="panel-body no-padding">
                <table id="grid-selection" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                        <th data-column-id="name">{{"Name" | t}}</th>
                        <th data-column-id="published" data-formatter="binary">{{"Published" | t}}</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                    </tr>
                    </thead>
                </table>
                <script type="text/javascript">
                    var editContentPage = function(id) {
                        var url = '{% route GetContentPage contentPageId="_id" %}';
                        url = url.replace("_id", id);
                        navigate(url);
                    }
                    var deleteContentPage = function(id) {
                        var url = '{% route api_DeleteContentPage %}';
                        confirm('{{"Are you sure you want to delete this page?" | t }}',
                            function() {
                                post({
                                    url: url,
                                    data: {
                                        contentPageId: id
                                    },
                                    done: function() {
                                        reloadGrid("grid-selection");
                                    }
                                });
                            });

                    }
                    ready(function() {
                        var initData = null;
                        /*{% unless contentPages == blank %}*/
                        initData = JSON.parse('{{contentPages}}');
                        /*{% endunless %}*/

                        generateGrid({
                            element: "grid-selection",
                            initialData: {
                                contentPages: initData,
                                current: parseInt("{{current}}"),
                                total: parseInt("{{total}}"),
                                rowCount: parseInt("{{rowCount}}")
                            },
                            method: "GET",
                            navigation: 3,
                            selection: false,
                            url: "{% route api_ContentPagesList %}",
                            responseObject: "contentPages",
                            formatters: {
                                "binary": function(column, row) {
                                    return gridFormatters.binary(column, row, column.id);
                                },
                                "commands": function(column, row) {
                                    return "<button class=\"btn btn-secondary btn-sm command-edit\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='editContentPage(" +
                                        row.id +
                                        ")'><span class=\"rbicon-edit\"></span></button> " +
                                        "<button class=\"btn btn-danger btn-sm command-preview\" data-row-id=\"" +
                                        row.id +
                                        "\" onclick='deleteContentPage(" +
                                        row.id +
                                        ")'><span class=\"rbicon-trash-2\"></span></button>";
                                }
                            }
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>

