{% layout "_Layout"%}
{% global page_title=@t"Page Editor" active_menu="GetContentPage" parent_active_menu="ContentPagesList" menu_group="ContentPageEdit" %}

<form action="{% route api_Admin.SaveContentPage %}" method="post" id="content-editor-form">
    {% control xsrf %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-title">
                    {% if contentPage.id != 0 %}
                    {{ contentPage.name }}
                    {% else %}
                    {{"Add Page" | t }}
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control label text=@t"Page Title" for="name" %}
                        {% control text name="name" placeholder=@t"e.g. Privacy Policy" value="{{contentPage.name}}"%}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Description" for="content" %}
                        {% control wyswyg name="content" id="contentPage-content" value="{{contentPage.content}}" %}
                    </div>

                </div>
            </div>
            {% control hidden name="id" value="{{contentPage.id}}" %}
            <div class="save-button-container">
                {% if contentPage.id > 0 %}
                <a class="btn btn-sm btn-warning" target="_blank" href='{% route Admin.PreviewPage id="{{contentPage.id}}" %}'>
                    <i class="rbicon rbicon-external-link"></i>
                    {{"Preview" | t}}
                </a>
                {% endif %}
                <button type="submit" class="btn btn-sm btn-success">{{"Save Page" | t}}</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-title">
                    {{"Options" | t}}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control checkbox name="published" value="contentPage.published" text=@t"Published" %}
                    </div>
                    {% if themeTemplates.size > 0 %}
                    <div class="form-group">
                        {% control label text=@t"Page Template" %}
                        <div class="panel-help">
                            {{"The templates are pages which have specific design for a particular type of content. e.g. ContactUs template in the default theme includes a Contact Form. You can select a template depending on the content that this page represents. The templates are provided by the active theme's config file." | t}}
                        </div>
                        {% control select name="template" value="contentPage.template" items="themeTemplates" %}
                    </div>
                    {% endif %}
                    {% if availablePages.size > 0 %}
                    <div class="form-group">
                        {% control label text=@t"Parent" %}
                        <div class="panel-help">
                            {{"Parent Page" | t}}
                        </div>
                        {% control select name="ParentId" items="availablePages" value="contentPage.parentId"  %}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {% control label text=@t"Available in stores" %}
                        <div class="panel-help">
                            {{"Select the stores in which this page is available."}}
                        </div>
                        {% partial "Stores/AvailableStoresSelector" %}
                    </div>
                </div>
            </div>
            {% assign seoMeta = contentPage.seoMeta %}
            {% partial "Pages/SeoMetaPanel" %}
        </div>
    </div>
</form>
<script type="text/javascript">
    ready(function () {
        initAjaxForm("content-editor-form",
            {
                onSuccess: function (response) {

                    notify("success", '{{"Content was saved successfully." | t }}');
                    //{% if contentPage.id == 0 %}
                    window.location.href =
                        '{% route Admin.GetContentPage contentPageId="%id%" %}'.replace("%id%", response.contentPageId);
                    //{% endif %}
                }
            });
    })

</script>
