{% layout "_Layout"%}
{% global page_title=@t"Page Editor" active_menu="GetContentPage" parent_active_menu="ContentPagesList" menu_group="ContentPageEdit" %}

<form action="{% route api_SaveContentPage %}" method="post" id="content-editor-form">
    {% control xsrf %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-title">
                    {% if contentPage.id != 0 %}
                    {{ contentPage.name }}
                    {% else %}
                    {{"Add Page" | t }}
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control label text=@t"Page Title" for="name" %}
                        {% control text name="name" placeholder=@t"e.g. Privacy Policy" value="{{contentPage.name}}"%}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Description" for="content" %}
                        {% control wyswyg name="content" id="contentPage-content" value="{{contentPage.content}}" %}
                    </div>

                </div>
            </div>
            {% control hidden name="id" value="{{contentPage.id}}" %}
            <div class="save-button-container">
                {% if contentPage.id > 0 %}
                <a class="btn btn-sm btn-warning" target="_blank" href='{% route PreviewPage id="{{contentPage.id}}" %}'>
                    <i class="rbicon rbicon-external-link"></i>
                    {{"Preview" | t}}
                </a>
                {% endif %}
                <button type="submit" class="btn btn-sm btn-success">{{"Save Page" | t}}</button>
                <a class="btn btn-sm btn-default" href='{% route ContentPagesList %}'>{{"Cancel" | t}}</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-title">
                    {{"Visibility" | t}}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control checkbox name="published" value="contentPage.published" text=@t"Published" %}
                    </div>
                </div>
            </div>
            {% assign seoMeta = contentPage.seoMeta %}
            {% partial "Pages/SeoMetaPanel" %}
        </div>
    </div>
</form>
<script type="text/javascript">
    ready(function () {
        initAjaxForm("content-editor-form",
            {
                onSuccess: function () {
                    notify("success", '{{"Content was saved successfully." | t }}');
                    //{% if contentPage.id == 0 %}
                    window.location.reload();
                    //{% endif %}
                }
            });
    })

</script>
