{% if evencartUpdates.size > 0 %}
<div class="panel">
    <div class="panel-title">
        {{"From EvenCart Desks" | t}}
    </div>
    <div class="panel-body">
        <div class="row">
            {% if evencartUpdates.size == 1 %}
            {% assign col = 12 %}
            {% elseif evencartUpdates.size == 2 %}
            {% assign col = 6 %}
            {% elseif evencartUpdates.size == 3 %}
            {% assign col = 4 %}
            {% elseif evencartUpdates.size == 4 %}
            {% assign col = 3 %}
            {% endif %}

            {% for update in evencartUpdates %}
            <div class="col-md-{{ col }}">
                <h6><a target="_blank" href="{{update.url}}">{{update.title}}</a></h6>
                <p>
                    {{update.description}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}