<img src="%url%" id="image-{{name}}" width="100px"/>
<div>
    <span class="btn btn-primary clickable fileinput-button btn-sm" id="btn-{{name}}">
        {% if %value% == 0 %}
        <span>{{"Add Image" | t}}</span>
        {% else %}
        <span>{{"Update Image" | t}}</span>
        {% endif %}
        <input id="imageFile-{{name}}" name="mediaFile" type="file" />
        <input type="hidden" name="{{name}}" id="hidden-{{name}}" value="{{%value%}}" />
    </span>
    <span class="btn btn-danger btn-sm" id="clear-{{name}}" style="{% if %value% == 0 %}display:none;{% endif %}">
        {{"Clear" | t}}
    </span>
</div>

<script type="text/javascript">
    ready(function () {
        initFileUploader({
            element: "imageFile-{{name}}",
            url: "{% route api_Admin.UploadMedia %}",
            done: function (e, data) {
                var result = data.result;
                var media = result.media;
                jQuery("#image-{{name}}").attr("src", media.thumbnailUrl);
                jQuery("#hidden-{{name}}").val(media.id);
                jQuery("#clear-{{name}}").show();
            }
        });

        jQuery("#clear-{{name}}").click(function() {
            jQuery("#image-{{name}}").removeAttr("src");
            jQuery("#hidden-{{name}}").val(0);
            jQuery(this).hide();
        });
    });
</script>