{% layout "_RootLayout" %}

<!-- START HEADER SECTION -->
<header>
    <div class="checkout-container">
        <div class="row">
            <div class="col-md-2">
                <!-- logo -->
                <div class="header-logo float-left">
                    <a href="/"><img src="{{store.logoUrl}}" alt="main logo"></a>
                </div>
            </div>
            <div class="col-md-10">
                <ul class="list-inline checkout-wizard-links">
                    <li class="list-inline-item">
                        {% if orderGuid %}
                        <a class='done' target="_blank" href='{% route SingleOrder orderGuid="{{orderGuid}}" %}'>
                            <i class="fa fa-check-circle-o"></i>
                            {{"Order Details" | t}}
                        </a>
                        {% else %}
                        <a class='{% if active_menu == "BillingShipping" %}active{% endif %} {% if step_index > 0 %}done{% endif %}' {% if step_index > 0 %}href="{% route CheckoutAddress %}"{% endif %}>
                            {% if step_index > 0 %}
                            <i class="fa fa-check-circle-o"></i>
                            {% endif %}
                            {{"Addresses" | t}}
                        </a>
                        {% endif %}
                    </li>
                    <li class="list-inline-item">
                        <a class='{% if active_menu == "ShippingInfo" %}active{% endif %} {% if step_index > 1 %}done{% endif %}' {% if step_index > 1 %}href="{% route CheckoutShippingInfo %}"{% endif %}>
                            {% if step_index > 1 %}
                            <i class="fa fa-check-circle-o"></i>
                            {% endif %}
                            {{"Shipping Details" | t}}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class='{% if active_menu == "PaymentInfo" %}active{% endif %} {% if step_index > 2 %}done{% endif %}' {% if step_index > 2 %}href="{% route CheckoutPayment %}"{% endif %}>
                            {% if step_index > 2 %}
                            <i class="fa fa-check-circle-o"></i>
                            {% endif %}
                            {{"Payment Info" | t}}
                        </a>
                    </li>
                    {% unless orderGuid %}
                    <li class="list-inline-item">
                        <a class='{% if active_menu == "OrderSummary" %}active{% endif %} {% if step_index > 3 %}done{% endif %}' {% if step_index > 3 %}href="{% route CheckoutConfirm %}"{% endif %}>
                            {% if step_index > 3 %}
                            <i class="fa fa-check-circle-o"></i>
                            {% endif %}
                            {{"Order Summary" | t}}
                        </a>
                    </li>
                    {% endunless %}
                    <li class="list-inline-item">
                        <a class='{% if active_menu == "OrderConfirmed" %}active{% endif %}'>
                            {{"Complete Order" | t}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER SECTION -->
<!-- MAIN SECTION START -->
<div class="section">
    {% bodyContent %}
</div>
<!-- MAIN SECTION END -->