<!doctype html>
<html class="no-js" lang="en">
<head>
    {% widget "head_start" %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{pageTitle}} - {{store.name}}</title>
    <meta name="description" content="{{metaDescription}}">
    <meta name="keywords" content="{{metaKeywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--external css-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600,700|Lato:300,400,700|Montserrat:300,400,500,600,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{store.faviconUrl}}"/>

    {% css "/default/assets/css/bootstrap.min.css" %}
    {% css "/default/assets/css/font-awesome.min.css" %}
    {% css "/default/assets/css/pe-icon-7-stroke.css" %}
    {% css "/default/assets/css/plugins.css" %}
    {% css "/default/assets/css/style.min.css" %}

    <!--Render CSS-->
    {% bundle render="css" %}

    <!-- jQuery latest version -->
    {% js "/default/assets/js/jquery-3.1.1.min.js" bundle="headScripts" %}
    <!-- Modernizr JS -->
    {% js "/assets/js/modernizr-2.8.3.min.js" bundle="headScripts" %}

    {% bundle render="js" bundle="headScripts" %}
    <script type="text/javascript">
        window._xsrf = "{{store.xsrfToken}}";
        //helper for quick calls
        var ready = function (callback) {
            jQuery(document).ready(callback);
        }
    </script>
    <!--og tags-->
    {% if store.currentPage == "SingleProduct" %}
    {% partial "Seo/_ProductOgTags" %}
    {% endif %}
    {% widget "head_end" %}
</head>
<body>
    {% if preview %}
    <div class="preview">
        {{"Preview" | t}}
    </div>
    {% endif %}
    {% widget "body_start" %}
    {% bodyContent %}
    {% partial "Common/_ConsentPopup" %}
    <!-- Placed JS at the end of the document so the pages load faster -->
    {% js "/default/assets/js/popper.min.js" bundle="footerScripts" %}
    <!-- Bootstrap js -->
    {% js "/default/assets/js/bootstrap.min.js" bundle="footerScripts" %}

    <!-- Plugins js -->
    {% js "/default/assets/js/plugins.js" bundle="footerScripts" %}
    <!-- Ajax Mail js -->
    {% js "/default/assets/js/ajax-mail.js" bundle="footerScripts" %}
    <!-- Main js -->
    {% js "/default/assets/js/main.js" bundle="footerScripts" %}
    {% js "/default/assets/js/wow.min.js" bundle="footerScripts" %}
    {% js "/administration/assets/lib/jquery-validator/jquery.validate.min.js" bundle="footerScripts" %}
    {% js "/administration/assets/lib/jquery-validator/additional-methods.js" bundle="footerScripts" %}
    {% js "/common/assets/lib/navigo/navigo.js" bundle="footerScripts" %}
    {% js "/common/assets/lib/liquidjs/liquid.js" bundle="footerScripts" %}
    {% js "/common/assets/js/ajax.js" bundle="footerScripts" %}
    {% js "/common/assets/js/helpers.js" bundle="footerScripts" %}
    {% js "/common/assets/js/catalog.js" bundle="footerScripts" %}
    <!--render scripts-->
    {% bundle render="js" bundle="footerScripts" %}
    {% widget "body_end" %}
</body>
</html>