{% global page_title=@t"Email Settings" active_menu="EmailSettings" parent_active_menu="Settings" if="settingType == 'email'" %}

<div class="panel">
    <div class="panel-title">
        {{"Email Settings" | t}}
    </div>
    <div class="panel-body">
        <div class="form-group">
            {% control label text=@t"Default Email Account" for="defaultEmailAccountId" %}
            {% control select name="defaultEmailAccountId" value="settings.defaultEmailAccountId" required="true" items="emailAccounts" %}
        </div>
        <div class="form-group">
            {% control label text=@t"Active Emails" %}
            <ul class="list-no-style">
                <li>
                    {% control checkbox name="UserRegisteredEmailEnabled" text=@t"User Registered Email" value="settings.userRegisteredEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="UserRegisteredEmailToAdminEnabled" text=@t"User Registered Email - Administrator" value="settings.userRegisteredEmailToAdminEnabled" %}
                </li>
                <li>
                    {% control checkbox name="UserActivationEmailEnabled" text=@t"User Activation Email" value="settings.userActivationEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="InviteRequestCreatedEmailEnabled" text=@t"Invite Requested Email" value="settings.inviteRequestCreatedEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="InviteRequestCreatedEmailToAdminEnabled" text=@t"Invite Requested Email - Administrator" value="settings.inviteRequestCreatedEmailToAdminEnabled" %}
                </li>
                <li>
                    {% control checkbox name="PasswordChangedEmailEnabled" text=@t"Password Changed Email" value="settings.passwordChangedEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="UserDeactivationEmailEnabled" text=@t"User Deactivation Email" value="settings.userDeactivationEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="UserDeactivationEmailToAdminEnabled" text=@t"User Deactivation Email - Administrator" value="settings.userDeactivationEmailToAdminEnabled" %}
                </li>
                <li>
                    {% control checkbox name="UserDeletedEmailEnabled" text=@t"User Deleted Email" value="settings.userDeletedEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="UserDeletedEmailToAdminEnabled" text=@t"User Deleted Email - Administrator" value="settings.userDeletedEmailToAdminEnabled" %}
                </li>
                <li>
                    {% control checkbox name="OrderPlacedEmailEnabled" text=@t"Order Placed Email" value="settings.orderPlacedEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="OrderPlacedEmailToAdminEnabled" text=@t"Order Placed Email - Administrator" value="settings.orderPlacedEmailToAdminEnabled" %}
                </li>
                <li>
                    {% control checkbox name="OrdrePaidEmailEnabled" text=@t"Order Paid Email" value="settings.ordrePaidEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="OrderPaidEmailToAdminEnabled" text=@t"Order Paid Email - Administrator" value="settings.orderPaidEmailToAdminEnabled" %}
                </li>
                <li>
                    {% control checkbox name="ShipmentShippedEmailEnabled" text=@t"Shipment Shipped Email" value="settings.shipmentShippedEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="ShipmentDeliveredEmailEnabled" text=@t"Shipment Delivered Email" value="settings.shipmentDeliveredEmailEnabled" %}
                </li>
                <li>
                    {% control checkbox name="ShipmentDeliveredEmailToAdminEnabled" text=@t"Shipment Delivered Email - Administrator" value="settings.shipmentDeliveredEmailToAdminEnabled" %}
                </li>
                <li>
                    {% control checkbox name="ProductOutOfStockToAdminEnabled" text=@t"Product Out of Stock Email - Administrator" value="settings.productOutOfStockToAdminEnabled" %}
                </li>
            </ul>
            
            
        </div>
    </div>
</div>