{% global page_title=@t"Catalog Settings" active_menu="CatalogSettings" parent_active_menu="Settings" if="settingType == 'catalog'" %}

<div class="panel">
    <div class="panel-title">
        {{"Catalog Settings" | t}}
    </div>
    <div class="panel-body">
        <div class="form-group">
            {% control checkbox name="displayProductsFromChildCategories" text=@t"Display products from child categories" value="settings.displayProductsFromChildCategories"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Number of products per page" for="numberOfProductsPerPage" %}
            {% control number min="1" name="numberOfProductsPerPage" value="{{settings.numberOfProductsPerPage}}"%}
        </div>
        <div class="form-group">
            {% control checkbox name="displaySortOptions" text=@t"Display sort options on catalog pages" value="settings.displaySortOptions"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Pagination Style" for="catalogPaginationType" %}
            {% control select name="catalogPaginationType" value="settings.catalogPaginationType" items="catalogPaginationTypes" required="true" %}
        </div>
        <div class="form-group">
            {% control checkbox name="enableReviews" text=@t"Enable Reviews" value="settings.enableReviews"%}
        </div>
        <div class="form-group">
            {% control checkbox name="enableReviewModeration" text=@t"Moderate Reviews" value="settings.enableReviewModeration"%}
            <div class="panel-help">
                {{"When checked doesn't publish the review on the public site until manually moderated by administrator." | t}}
            </div>
        </div>
        <div class="form-group">
            {% control checkbox name="allowReviewsForStorePurchaseOnly" text=@t"Allow Reviews For Store Purchase Only" value="settings.allowReviewsForStorePurchaseOnly"%}
        </div>
        <div class="form-group">
            {% control checkbox name="allowOneReviewPerUserPerItem" text=@t"Allow one review per user per order item" value="settings.allowOneReviewPerUserPerItem"%}
        </div>
        <div class="form-group">
            {% control checkbox name="allowReviewModification" text=@t"Allow users to edit reviews" value="settings.allowReviewModification"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Number of reviews on product page" for="numberOfReviewsToDisplayOnProductPage" %}
            {% control number min="1" name="numberOfReviewsToDisplayOnProductPage" value="{{settings.numberOfReviewsToDisplayOnProductPage}}"%}
        </div>
        <div class="form-group">
            {% control label text=@t"User Name for Private Reviews" for="displayNameForPrivateReviews" %}
            {% control text name="displayNameForPrivateReviews" value="{{settings.displayNameForPrivateReviews}}" placeholder=@t"e.g. Verified Customer" %}
        </div>
        <div class="form-group">
            {% control label text=@t"Number of days to show pending reviews" for="numberOfDaysForPendingReviews" %}
            <div class="panel-help">
                {{"You can set the number of days for which customer is asked to review a product after the purchase is made." | t}}
            </div>
            {% control number min="1" name="numberOfDaysForPendingReviews" value="{{settings.numberOfDaysForPendingReviews}}"%}
        </div>
        <div class="form-group">
            {% control checkbox name="enableRelatedProducts" text=@t"Enable Related Products" value="settings.enableRelatedProducts"%}
            <div class="panel-help">
                {{"Check to show related products on the product page. You can configure related products of a product on product editor page." | t}}
            </div>
        </div>
        <div class="form-group">
            {% control label text=@t"Number of related products" for="numberOfRelatedProducts" %}
            {% control number min="1" name="numberOfRelatedProducts" value="{{settings.numberOfRelatedProducts}}"%}
        </div>
    </div>
</div>