{% global page_title=@t"Customer Settings" active_menu="UserSettings" parent_active_menu="Settings" if="settingType == 'user'" %}

<div class="panel">
    <div class="panel-title">
        {{"Customer Settings" | t}}
    </div>
    <div class="panel-body">
        <div class="form-group">
            {% control checkbox name="areUserNamesEnabled" text=@t"Enable usernames" value="settings.areUserNamesEnabled"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Registration Mode" for="userRegistrationDefaultMode" %}
            {% control select name="userRegistrationDefaultMode" value="settings.userRegistrationDefaultMode" items="registrationModes" required="true" %}
        </div>
        <div class="form-group">
            {% control checkbox name="useNumericCodeForActivationEmail" text=@t"Use numeric code for activation emails" value="settings.useNumericCodeForActivationEmail"%}
            <div class="panel-help">
                {{"Check this if a 6 digit code should be sent to user instead of activation link. Used only if registration mode is set to Activation email." | t}}
            </div>
        </div>
        <div class="form-group">
            {% control checkbox name="areProfilePicturesEnabled" text=@t"Enable profile pictures" value="settings.areProfilePicturesEnabled"%}
        </div>
        <div class="form-group">
            {% control checkbox name="activateUserForConnectedAccount" text=@t"Activate user for connected accounts" value="settings.activateUserForConnectedAccount"%}
            <div class="panel-help">
                {{"Check this if the user should be automatically activated when login through third party services such as Facebook, Google etc." | t}}
            </div>
        </div>
    </div>
</div>
