{% global page_title=@t"Security Settings" active_menu="SecuritySettings" parent_active_menu="Settings" if="settingType == 'security'" %}

<div class="panel">
    <div class="panel-title">
        {{"Security Settings" | t}}
    </div>
    <div class="panel-body">
        <div class="form-group">
            {% control checkbox name="enableCaptcha" text=@t"Enable Captcha" value="settings.enableCaptcha"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Site Key" for="siteKey" %}
            {% control text name="siteKey" value="{{settings.siteKey}}"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Site Secret" for="siteSecret" %}
            {% control text name="siteSecret" value="{{settings.siteSecret}}"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Honeypot Field Name" for="honeypotFieldName" %}
            {% control text name="honeypotFieldName" value="{{settings.honeypotFieldName}}"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Banned Ip Addresses" for="banned-ips" %}
            {% control text name="bannedIps" value="{{settings.bannedIps}}"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Admin Access Ip Addresses" for="adminRestrictedIps" %}
            {% control text name="adminRestrictedIps" value="{{settings.adminRestrictedIps}}"%}
        </div>
        <div class="form-group">
            {% control label text=@t"Shared Api Access key" for="apiAccessKey" %}
            <div class="shared-api-key alert alert-info" style="display: none"></div>
            <button type="button" class="generate-new-key btn btn-danger btn-sm">{{"Generate New Key" | t}}</button>
        </div>
        <script type="text/javascript">
            ready(function () {
                var generateKey = function() {
                    post({
                        url: "{% route api_SaveSharedSecuritySetting %}",
                        done: function(response) {
                            notify("success",
                                "{{'Successfully generated the following key. Please save the key as it will not be displayed again' | t}}");
                            jQuery(".shared-api-key").html(response.key).show();
                        }
                    });
                }
                jQuery(".generate-new-key").click(function () {
                    //{% if settings.sharedVerificationKey %}
                    var msg =
                        '{{"Regenerating a new key will cause the existing key to be reset and your existing api clients will stop working. EvenCart does not store the keys. Therefore you will need to save the keys at some safe place. Continue with reset?" | t}}';
                    confirm(msg,
                        function() {
                            generateKey();
                        });
                    //{% else %}
                        generateKey();
                    //{% endif %}

                });
                });
        </script>
    </div>
</div>