{% layout "_Layout" %}

<form action='{% route api_SaveSettings settingType="{{settingType}}" %}' method="post" id="save-setting-form">
    {% control xsrf %}
    <div class="row">
        <div class="col-md-12 col-offset-2">
        
            {% if settingType == "general" %}
                {% partial "Settings/Index.General" %}
            {% elsif settingType == "user" %}
                {% partial "Settings/Index.User" %}
            {% elsif settingType == "tax" %}
                {% partial "Settings/Index.Tax" %}
            {% elsif settingType == "media" %}
                {% partial "Settings/Index.Media" %}
            {% elsif settingType == "order" %}
                {% partial "Settings/Index.Order" %}
            {% elsif settingType == "catalog" %}
                {% partial "Settings/Index.Catalog" %}
            {% elsif settingType == "email" %}
                {% partial "Settings/Index.Email" %}
            {% elsif settingType == "url" %}
                {% partial "Settings/Index.Url" %}
            {% elsif settingType == "localization" %}
                {% partial "Settings/Index.Localization" %}
            {% elsif settingType == "gdpr" %}
                {% partial "Settings/Index.Gdpr" %}
            {% elsif settingType == "security" %}
                {% partial "Settings/Index.Security" %}
            {% elsif settingType == "affiliate" %}
                {% partial "Settings/Index.Affiliate" %}
            {% endif %}
        </div>
    </div>
    <div class="save-button-container">
        {% control hidden name="settingType" value="{{settingType}}" %}
        <button type="submit" class="btn btn-sm btn-success">{{"Save Settings" | t}}</button>
    </div>
</form>
<script type="text/javascript">
    ready(function() {
        initAjaxForm("save-setting-form",
            {
                onSuccess: function() {
                    notify("success", '{{"Settings saved successfully" | t}}');
                }
            });
    });
</script>


