{% global page_title=@t"Affiliate Settings" active_menu="AffiliateSettings" parent_active_menu="Settings" if="settingType == 'affiliate'" %}

<div class="panel">
    <div class="panel-title">
        {{"Affiliate Settings" | t}}
        <div class="panel-help">
            {{"Affiliate system is a way of marketing by paying your customers rewards for referring other customers." | t}}
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            {% control checkbox id="enableAffiliates" name="enableAffiliates" text=@t"Enable affiliates" value="settings.enableAffiliates"%}
        </div>
        <div class="form-group" data-visible="jQuery('#enableAffiliates').is(':checked')">
            {% control checkbox name="autoActivateAffiliateAccount" text=@t"Auto activate affiliates" value="settings.autoActivateAffiliateAccount" %}
            <div class="panel-help">
                {{"Specifies if affiliate account should be immediately activated or manually approved." | t}}
            </div>
        </div>
        <div class="form-group" data-visible="jQuery('#enableAffiliates').is(':checked')">
            {% control label text=@t"Affiliate Cookie Name" for="affiliateCookieName" %}
            {% control text name="affiliateCookieName" value="{{settings.affiliateCookieName}}" required="true" %}
        </div>
        <div class="form-group" data-visible="jQuery('#enableAffiliates').is(':checked')">
            {% control label text=@t"Affiliate Cookie Expiration Days" for="affiliateCookieExpirationDays" %}
            <div class="panel-help">
                {{"The number of days for which the affiliate cookie is valid. In most common cases it expires in 1 day." | t}}
            </div>
            {% control number name="affiliateCookieExpirationDays" value="{{settings.affiliateCookieExpirationDays}}" required="true" %}
        </div>
        <div class="form-group" data-visible="jQuery('#enableAffiliates').is(':checked')">
            {% control label text=@t"Commission Value" for="commissionValue" %}
            <div class="panel-help">
                {{"The number or percentage of credits that'll be credited to affiliate's account." | t}}
            </div>
            {% control number name="commissionValue" value="{{settings.commissionValue}}" required="true" %}
        </div>
        <div class="form-group" data-visible="jQuery('#enableAffiliates').is(':checked')">
            {% control checkbox name="useCommissionPercentage" text=@t"Commission value is percentage of order total" value="settings.useCommissionPercentage"%}
        </div>
        <div class="form-group" data-visible="jQuery('#enableAffiliates').is(':checked')">
            {% control checkbox name="excludeTaxFromCalculation" text=@t"Exclude tax from calculation" value="settings.excludeTaxFromCalculation"%}
        </div>
        <div class="form-group" data-visible="jQuery('#enableAffiliates').is(':checked')">
            {% control label text=@t"Signup Credit to Affiliate" for="signupCreditToAffiliate" %}
            <div class="panel-help">
                {{"The number of credits given to the affiliate when a user signs up with their affiliate code" | t}}
            </div>
            {% control number name="signupCreditToAffiliate" value="{{settings.signupCreditToAffiliate}}" required="true" %}
        </div>
        <div class="form-group">
            {% control label text=@t"Signup Credit to New User" for="signupCreditToNewUser" %}
            <div class="panel-help">
                {{"The number of credits given to the new user when a they sign up with an affiliate code" | t}}
            </div>
            {% control number name="signupCreditToNewUser" value="{{settings.signupCreditToNewUser}}" required="true" %}
        </div>
        <div class="form-group">
            {% control label text=@t"Store Credits Exchange Rate" for="storeCreditsExchangeRate" %}
            <div class="panel-help">
                {{"The rate of exchange for 1 store credit" | t}}
            </div>
            {% control currency name="storeCreditsExchangeRate" value="{{settings.storeCreditsExchangeRate}}" required="true" %}
        </div>
        <div class="form-group">
            {% control checkbox name="allowStoreCreditsForPurchases" text=@t"Allow store credits for purchases" value="settings.allowStoreCreditsForPurchases"%}
            <div class="panel-help">
                {{"Check to allow customer to use available store credits for store purchases" | t}}
            </div>
        </div>
        <div class="form-group">
            {% control label text=@t"Minimum credit to use for purchase" for="minimumStoreCreditsToAllowPurchases" %}
            <div class="panel-help">
                {{"Minimum number of credits required to use" | t}}
            </div>
            {% control number name="minimumStoreCreditsToAllowPurchases" value="{{settings.minimumStoreCreditsToAllowPurchases}}" required="true" %}
        </div>
    </div>
</div>
