{% layout "_Layout" %}
<div class="container">
    <div class="wrapper">
        {% partial "Common/Breadcrumb" %}

        <h3>
            {{"Order" | t}} # {{order.orderNumber}}
        </h3>
        <label>{{"Order Date" | t}}</label> - {{order.createdOn}}
        <div class="page-section text-dark section pb-120">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <strong>{{"Delivery Address" | t}}</strong>
                    </div>
                    <div>
                        {{order.shippingAddress.name}}
                    </div>
                    <div>
                        {{order.shippingAddress.address1}}
                    </div>
                    <div>
                        {{order.shippingAddress.address2}}
                    </div>
                    <div>
                        {{order.shippingAddress.city}} {{order.shippingAddress.zipPostalCode}}
                    </div>
                    <div>
                        {{order.shippingAddress.stateProvinceName}}
                    </div>
                    <div>
                        {{order.shippingAddress.countryName}}
                    </div>

                </div>
                <div class="col-md-2">
                    <div>
                        <strong>{{"Shipping Method" | t}}</strong>
                    </div>
                    <div>
                        {{order.shippingMethodDisplayName}}
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <strong>{{"Order Status" | t}}</strong>
                    </div>
                    <div>
                        {{order.orderStatus}}
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <strong>{{"Payment Status" | t}}</strong>
                    </div>
                    <div>
                        {{order.paymentStatus}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">
                        <div class="text-center">
                            <strong>{{"Order Summary" | t}}</strong>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>{{"Subtotal" | t}}</th>
                                    <td class="text-right">
                                        <span class="amount">
                                            {{order.subTotal | withCurrency}}
                                        </span>
                                    </td>
                                </tr>
                                {% if order.discount > 0 %}
                                <tr>
                                    <th>{{"Discount" | t}}</th>
                                    <td class="text-right">
                                        <span class="amount">
                                            -{{order.discount | withCurrency}}
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if order.shippingMethodFee > 0 %}
                                <tr>
                                    <th>{{"Shipping" | t}}</th>
                                    <td class="text-right">
                                        <span class="amount">
                                            {{order.shippingMethodFee | withCurrency}}
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if order.paymentMethodFee > 0 %}
                                <tr>
                                    <th>{{"Payment Fee" | t}}</th>
                                    <td class="text-right">
                                        <span class="amount">
                                            {{order.paymentMethodFee | withCurrency}}
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if order.tax > 0 %}
                                <tr>
                                    <th>{{"Tax" | t}}</th>
                                    <td class="text-right">
                                        <span class="amount">
                                            {{order.tax | withCurrency}}
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}

                                <tr class="order-total">
                                    <th>{{"Total" | t }}</th>
                                    <td class="text-right">
                                        <strong><span class="amount">{{order.orderTotal | withCurrency}}</span></strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
            <div class="order-items-list">
                {% for shipment in order.shipments %}
                <div class="row order-item">
                    <div class="col-md-2">
                        <div class="text-muted">{{"Tracking #" | t}} {{shipment.trackingNumber}}</div>
                        <h5>
                            {{shipment.shipmentStatus}}
                        </h5>
                    </div>
                    <div class="col-md-10">
                        {% for shipmentItem in shipment.shipmentItems %}
                        <div class="row">
                            <div class="col-md-1">
                                <img width="50px" src="{{shipmentItem.imageUrl}}" />
                            </div>
                            <div class="col-md-3">
                                <a href='{% route SingleProduct seName="{{shipmentItem.seName}}" %}'>
                                    {{shipmentItem.productName}}
                                </a>
                                <div>
                                    {{shipmentItem.attributeText | newLine2Br}}
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div>
                                    {{shipmentItem.price | withCurrency }} x {{shipmentItem.shippedQuantity}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
                {% endfor %}
                {% for orderItem in order.orderItems %}
                <div class="order-item row">
                    <div class="col-md-1">
                        <img width="50px" src="{{orderItem.imageUrl}}" />
                    </div>
                    <div class="col-md-3">
                        <a href='{% route SingleProduct seName="{{orderItem.seName}}" %}'>
                            {{orderItem.productName}}
                        </a>
                        <div>
                            {{orderItem.attributeText | newLine2Br}}
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div>
                            {{orderItem.price | withCurrency }} x {{orderItem.quantity}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center">
                {% if order.orderStatus == "New" %}
                    {% if order.paymentStatus == "Pending" %}
                    <a href='{% route CheckoutPayment orderGuid="{{order.guid}}" %}' class="btn btn-primary margin-r-5">
                        {{"Retry Payment" | t}}
                    </a>
                {% endif %}
                <form action="" method="post" id="form-cancel-order">

                </form>
                <script type="text/javascript">
                    ready(function() {
                        initAjaxForm("form-cancel-order",
                            {
                                onSuccess: function() {
                                    notify("success", "{{'Your order cancellation request as been sent' | t}}");
                                }
                            });
                    });
                </script>
                <button class="btn btn-danger">
                    {{"Cancel Order" | t}}
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
