<div class="panel">
    <div class="panel-title">
        {{"Order Info" | t}}
        {% if canCancel %}
        <form id="form-cancel-order" class="float-right" method="post" action='{% route api_CancelAdminOrder orderId="{{order.id}}" %}'>
            {% control hidden name="orderId" value="{{order.id}}" %}
            {% control xsrf %}
            <button type="submit" class="btn btn-danger btn-sm">{{"Cancel Order" | t}}</button>
        </form>
        <script type="text/javascript">
            ready(function() {
                initAjaxForm("form-cancel-order",
                    {
                        beforeSubmit: function() {
                            return confirm('{{"Are you sure you want to cancel this order?" | t}}');
                        },
                        onSuccess: function() {
                            notify("success", '{{"The order was cancelled successfully." | t}}');
                            window.location.reload();
                        }
                    });
            });
        </script>
        {% endif %}
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-borderless">
                <tr>
                    <td>
                        {{"Order Id" | t}}
                    </td>
                    <td>
                        {{order.id}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Order Number" | t}}
                    </td>
                    <td>
                        {{order.orderNumber}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Order Uid" | t}}
                    </td>
                    <td>
                        {{order.guid}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Order Status" | t}}
                    </td>
                    <td>
                        {{order.orderStatusDisplay}}
                        <small>
                            <a onclick="editOrderInfo('status');return false;" href="#" class="clickable float-right">{{"Edit" | t}}</a>
                        </small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Payment Method" | t}}
                    </td>
                    <td>
                        {{order.paymentMethodDisplayName}}
                        <small>
                            <a onclick="editOrderInfo('payment');return false;" href="#" class="clickable float-right">{{"Edit" | t}}</a>
                        </small>
                        <div><small class="text-muted">{{order.paymentMethodName}}</small></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Payment Status" | t}}
                    </td>
                    <td>
                        {{order.paymentStatusDisplay}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Shipping Method" | t}}
                    </td>
                    <td>
                        {{order.shippingMethodDisplayName}}
                        <small>
                            <a onclick="editOrderInfo('shipping');return false;" href="#" class="clickable float-right">{{"Edit" | t}}</a>
                        </small>
                        <div><small class="text-muted">{{order.shippingMethodName}}</small></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Shipping Option" | t}}
                    </td>
                    <td>
                        {{order.selectedShippingOption}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Subtotal" | t}}
                    </td>
                    <td>
                        {{order.formatted.subtotal}}
                        <small>
                            <a onclick="editOrderInfo('totals');return false;" href="#" class="clickable float-right">{{"Edit" | t}}</a>
                        </small>
                    </td>
                </tr>
                {% if order.discount > 0 %}
                <tr>
                    <td>
                        {{"Cart Discount" | t}}
                    </td>
                    <td>
                        - {{order.formatted.discount}}
                        {% if order.discountId > 0 %}
                        {{"via" | t}}
                        <a href='{% route GetDiscount discountId="{{order.discountId}}" %}'>
                            {% if order.discountCoupon != "" %}
                            {{order.discountCoupon}}
                            {% else %}
                            {{"No coupon" | t}}
                            {% endif %}
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        {{"Tax" | t}}
                    </td>
                    <td>
                        {{order.formatted.tax}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Shipping Fee" | t}}
                    </td>
                    <td>
                        {{order.formatted.shippingMethodFee}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Payment Fee" | t}}
                    </td>
                    <td>
                        {{order.formatted.paymentMethodFee}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            {{"Total" | t}}
                        </strong>
                    </td>
                    <td>
                        <strong>
                            {{order.formatted.orderTotal}}
                        </strong>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="popup-info" class="popup"></div>
<script type="text/javascript">
    var editOrderInfo = function(infoType) {
        jQuery("#popup-info").html("{{'Please wait...'}}");
        var centerPopup = showAsPopup("popup-info",
            true,
            function(result) {
                if (result == "ok") {
                    //reload the grid
                    notify("success", '{{"Order was saved successfully" | t}}');
                    window.location.reload();
                }
            });
        var url = '{% route GetOrderInfo orderId="%id%" infoType="%infoType%" %}'.replaceAll("%id%", "{{orderId}}").replaceAll("%infoType%", infoType);
        loadPage(url, true,
            null,
            function(response) {
                jQuery("#popup-info").html(response);
                centerPopup();
            });
    }
</script>