{% layout "_Layout"%}
{% global page_title=@t"Order Editor" active_menu="GetOrder" parent_active_menu="OrdersList" menu_group="OrderEdit" %}

    <div class="row">
        <div class="col-lg-6">
            {% partial "Orders/OrderEditor.OrderInfoPanel" %}
            {% partial "Orders/OrderEditor.ProductsPanel" %}
        </div>
        <div class="col-lg-6">
            {% partial "Orders/OrderEditor.CustomerInfoPanel" %}
        </div>
        <div class="save-button-container">
            <form action='{% route Admin.DownloadAdminInvoice orderId="{{order.id}}" %}' target="_blank">
                <button type="submit" class="btn btn-sm btn-success">{{"Download Invoice" | t}}</button>
            </form>
        </div>
    </div>
{% control hidden name="id" value="{{order.id}}" %}
<script type="text/javascript">
    ready(function () {
        initAjaxForm("order-editor-form",
            {
                onSuccess: function () {
                    notify("success", '{{"Order was saved successfully." | t }}');
                    setTimeout(function () {
                        navigate("{% route Admin.OrdersList %}");
                    }, 500);

                }
            });
    })

</script>
