<div class="form-group">
    {% control label text=@t"From Order Date" %}
    {% control datetime id="fromDate" %}
</div>
<div class="form-group">
    {% control label text=@t"To Order Date" %}
    {% control datetime id="toDate" %}
</div>
<script type="text/javascript">
    ready(function() {
        jQuery("#fromDate").change(function () {
            var date = jQuery(this).datepicker("getDate");
            searchParams.fromDate = date ? date.toISOString() : null;
            reloadGrid("grid-selection");
        });
        jQuery("#toDate").change(function () {
            var date = jQuery(this).datepicker("getDate");
            searchParams.toDate = date ? date.toISOString() : null;
            reloadGrid("grid-selection");
        });
    });
</script>