<form action='{% route api_SaveShipment orderId="{{orderId}}" %}' method="post" id="edit-shipment-form">
    {% control xsrf %}
    <div class="panel">
        <div class="panel-title">
            {{"Shipment Editor" | t}} - {{warehouse.name}}
            <a class="popup-close float-right">
                <span class="rbicon-x"></span>
            </a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <table id="table-items" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>{{"Item" | t }}</th>
                                <th>{{"Ordered Qty" | t }}</th>
                                <th>{{"Already Shipped Qty" | t }}</th>
                                <th>{{"Current Shipping Qty" | t }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for shipmentItem in shipment.shipmentItems %}
                            <tr>
                                <td>
                                    <div>
                                        {{shipmentItem.productName}}
                                    </div>
                                    {{shipmentItem.attributeText}}
                                </td>
                                <td>
                                    {{shipmentItem.orderedQuantity}}
                                </td>
                                <td>
                                    {{shipmentItem.shippedQuantity}}
                                </td>
                                <td>
                                    {% control hidden name="shipmentItems[{{forloop.index0}}].orderItemId" value="{{shipmentItem.orderItemId}}" %}
                                    {% control number name="shipmentItems[{{forloop.index0}}].quantity" value="{{shipmentItem.quantity}}" min="0" %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Tracking Number" for="tracking-number" %}
                        <div class="panel-help">
                            {{"If the shipment provider allows to purchase the shipping label, leave the tracking number blank. You'll get the option to purchase the label from the shipment list." | t}}
                        </div>
                        {% control text id="tracking-number" name="trackingNumber" value="{{shipment.trackingNumber}}" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Remarks" for="remarks" %}
                        {% control textarea id="remarks" value="{{shipment.remarks}}" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="popup-actions text-center">
                    {% control hidden name="orderId" value="{{orderId}}" %}
                    {% control hidden name="warehouseId" value="{{warehouse.id}}" %}
                    {% control hidden name="id" value="{{shipment.id}}" %}
                    <button type="submit" class="btn btn-sm btn-primary">{{"Save Shipment" | t}}</button>
                    <button class="btn btn-secondary btn-sm close-popup" type="reset">{{"Cancel" | t}}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    initAjaxForm("edit-shipment-form",
        {            
            onSuccess: function () {
                window['reload_shipment_list']();

                hidePopup("edit-shipment-popup");
            }
        });
</script>