/* Transition to a bigger shadow on hover */
.simplebar-content {
  overflow-x: hidden; }

.margin-r-5 {
  margin-right: 5px; }

.margin-r-10 {
  margin-right: 10px; }

.no-padding {
  padding: 0px !important; }

.no-margin {
  margin: 0px !important; }

.no-border {
  border: none !important; }

body {
  letter-spacing: 0.02rem;
  font-size: 0.9rem; }

.page-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

.sidenav {
  background-color: #555;
  color: #fff;
  width: 140px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1; }
  .sidenav .maintenance-dropup {
    position: fixed;
    bottom: 0;
    width: 140px; }
    .sidenav .maintenance-dropup button {
      display: block; }
    .sidenav .maintenance-dropup > button {
      width: 100%;
      border-radius: 0; }

.sidenav-links {
  margin: 15px 0;
  padding: 0;
  font-size: 14px; }
  .sidenav-links a {
    color: #fff;
    display: block;
    padding: 4px 20px; }
    .sidenav-links a:hover {
      text-decoration: none;
      background-color: #666; }
  .sidenav-links .rbicon {
    font-size: 1.3em; }
  .sidenav-links li {
    list-style: none; }
    .sidenav-links li.group-item {
      margin: 10px 0;
      text-transform: uppercase;
      color: #aaa;
      font-size: 0.8rem;
      padding: 0 20px; }
  .sidenav-links li.active a {
    background-color: #11a266; }

.client-main {
  position: fixed;
  left: 120px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto; }

.client-main-navlinks {
  position: fixed;
  top: 0;
  left: 140px;
  right: 0;
  padding: 0px 15px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px; }
  .client-main-navlinks ul {
    margin: 0; }
  .client-main-navlinks a {
    color: #555;
    display: inline-block;
    margin: 0 15px;
    padding-bottom: 10px;
    padding-top: 10px; }
    .client-main-navlinks a:hover {
      text-decoration: none; }
  .client-main-navlinks li.active a {
    border-bottom: solid 2px #555;
    font-weight: bold; }

.user-menu {
  padding: 5px 0px;
  font-size: 16px;
  text-align: center; }
  .user-menu > a {
    color: #fff; }
  .user-menu a:hover {
    text-decoration: none; }
  .user-menu:hover {
    background-color: #333; }
  .user-menu .workspace {
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 6px;
    white-space: nowrap; }
  .user-menu .user-info {
    font-size: 0.8em; }

.list-inline li {
  display: inline; }

.rbicon.icon2x {
  font-size: 2em; }

.client-main-content {
  position: fixed;
  bottom: 0;
  top: 43px;
  right: 0;
  left: 140px;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  overflow: auto;
  background-color: #ecf0f5; }
  .client-main-content.active-dialog {
    overflow: hidden; }

.node-list {
  display: table;
  border: solid 1px #eee;
  width: 100%; }

.node-list-header {
  display: table-caption;
  background-color: #eee; }
  .node-list-header .node-check {
    vertical-align: middle;
    padding: 8px 17px; }
  .node-list-header .actions {
    vertical-align: middle;
    padding: 8px 17px; }

.node-item {
  display: table-row; }
  .node-item .node-check {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    padding-right: 15px; }
  .node-item .node-image {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    padding-right: 10px;
    width: 75px; }
  .node-item .node-info {
    display: table-cell;
    vertical-align: middle;
    padding: 15px; }
  .node-item .action-links {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    width: 125px; }
    .node-item .action-links .btn-group {
      visibility: hidden; }
  .node-item:hover .action-links .btn-group {
    visibility: visible; }

.node-image img {
  width: 50px;
  height: 50px; }

.node-title {
  position: relative; }
  .node-title a {
    font-size: 18px;
    display: inline-block;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.node-meta {
  font-size: 13px;
  color: #999; }

.slow-shadow:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out; }

.list-no-style {
  padding: 0; }
  .list-no-style li {
    list-style: none; }

.scrollable-list {
  height: 200px;
  overflow: auto;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 5px 15px; }

.page-info {
  padding: 10px 0; }

.typeahead {
  /* width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;

    &:focus {
        border: 2px solid #0097cf;
    }*/ }

.tt-query {
  /*  width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/ }

.tt-hint {
  /*   width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    display: none;*/ }

.twitter-typeahead {
  display: block !important; }

.tt-menu {
  width: 273px;
  margin: 12px 0;
  padding: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  left: -7px !important;
  background-color: white; }

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px; }
  .tt-suggestion:hover {
    cursor: pointer;
    color: #555;
    background-color: #f8f9fa; }
  .tt-suggestion:active {
    background-color: #007bff;
    color: #fff; }
  .tt-suggestion p {
    margin: 0; }

input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='number'], textarea, select {
  border: solid 1px #eee;
  border-radius: 3px;
  padding: 0.5em;
  display: block;
  width: 100%; }

.input-group input [type='text'], .input-group input[type='password'], .input-group input[type='email'], .input-group input[type='url'], .input-group input[type='number'], .input-group textarea, .input-group select {
  display: flex;
  width: 1%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

textarea {
  min-height: 50px; }

input:focus, textarea:focus {
  outline: auto 1px rgba(0, 0, 0, 0.2); }

.popwin-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.popwin-heading {
  text-align: center;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 0;
  background-color: #eee;
  color: #555;
  border-top: solid 2px #ccc;
  border-bottom: solid 1px #ddd;
  position: relative; }

.popwin-close {
  position: absolute;
  right: 15px;
  top: -10px;
  font-size: 35px; }

.hicon {
  margin-right: 5px; }

.editor-title {
  font-size: 20px; }

.editor-icon-tabs li {
  display: inline-block;
  color: #bbb;
  font-size: 21px;
  padding: 0 8px;
  text-align: center; }

.editor-icon-tabs li a {
  width: 25px;
  color: #bbb; }

.editor-icon-tabs li.active a, .editor-icon-tabs li.used a {
  color: #555; }

.editor-icon-tabs li i {
  padding-bottom: 3px; }

.editor-icon-tabs li.active i {
  border-bottom: solid 2px #555; }

.drag-area {
  border: dashed 2px #ccc;
  border-radius: 5px;
  height: 200px;
  font-size: 15px; }

.drag-area div.msg {
  text-align: center;
  display: block;
  color: #aaa;
  margin-top: 85px; }

.popwin-content {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 41px;
  padding-top: 25px;
  padding-bottom: 30px; }

.simplebar-content {
  overflow-x: hidden; }

.save-button-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  text-align: right;
  background-color: white; }
  .save-button-container button, .save-button-container input[type='submit'], .save-button-container input[type='button'], .save-button-container a.btn {
    font-size: 13px;
    margin: 0 3px; }

.bootgrid-footer {
  background-color: #f2f2f2;
  padding: 10px 10px;
  border-top: solid 1px #ddd;
  margin: 0; }

.btn:focus {
  box-shadow: none !important;
  background-color: #999;
  color: white; }

.panel {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .panel .panel-title {
    color: #444;
    display: block;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
    border-bottom: solid 1px #f4f4f4; }
    .panel .panel-title .big {
      font-size: 25px; }
  .panel .panel-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 20px; }

h3.page-title {
  margin-bottom: 15px; }

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
  margin-bottom: 5px; }

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer; }
  .fileinput-button input[type='file'] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }

.image-block {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px; }

.draggable, .ui-sortable-handle {
  cursor: grabbing; }

.trash-link {
  cursor: pointer; }
  .trash-link:hover {
    text-decoration: none; }

#categories-container {
  margin-top: 5px; }

.bootstrap-tagsinput {
  border: 1px solid #eee; }
  .bootstrap-tagsinput input[type='text'] {
    border: solid 1px transparent !important; }

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.popup {
  position: absolute;
  z-index: 2;
  min-width: 330px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  display: none;
  background: #fff;
  border-radius: 3px; }
  .popup .panel {
    margin-bottom: 0; }
  .popup .popup-close, .popup .close-popup {
    cursor: pointer; }
  .popup .popup-actions {
    padding-bottom: 15px;
    background-color: #f2f2f2;
    padding-top: 15px;
    border-top: solid 1px #ddd; }

select.form-control {
  border: solid 1px #eee;
  border-radius: 3px;
  padding: .5em;
  display: block;
  width: 100%; }

.notification {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  top: 10px;
  border-radius: 15px;
  display: none;
  z-index: 2;
  cursor: pointer; }

.clickable {
  cursor: pointer; }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  display: none; }
  #loader .handle {
    position: absolute;
    background-color: green;
    height: 100%;
    width: 350px; }

.pagination .active a {
  background-color: #6c757d;
  color: white; }

label.error {
  color: red;
  font-weight: bold;
  display: block;
  border-top: solid 1px;
  text-align: center;
  padding: 2px 0;
  font-size: 0.7em; }

.capabilities-selector-box {
  max-height: 400px;
  overflow: auto; }
  .capabilities-selector-box label {
    display: block; }

table.table-borderless {
  border: none; }
  table.table-borderless tr, table.table-borderless td {
    border: none; }
  table.table-borderless td {
    padding: 0.3rem 0.75rem; }

.ui-sortable-handle {
  border: solid 1px #ddd;
  padding: 10px;
  margin: 5px 0;
  cursor: grab; }

tr.ui-sortable-handle td:first-child:before {
  font-family: 'rbicon' !important;
  content: "\e92e";
  float: left;
  margin-right: 15px;
  height: 25px; }

.menu-page #categories-container, .menu-page #pages-container {
  max-height: 250px;
  overflow: auto;
  border-bottom: solid 1px #eee;
  padding: 20px;
  margin-top: 0; }
  .menu-page #categories-container ul, .menu-page #pages-container ul {
    margin-left: 15px;
    padding: 0; }
    .menu-page #categories-container ul li, .menu-page #pages-container ul li {
      list-style: none; }

.disabled * {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC; }

.total-badge {
  padding: 15px;
  text-align: center;
  margin: 0 0 20px 0;
  position: relative;
  border-radius: 7px; }
  .total-badge .count {
    font-size: 3em; }
  .total-badge .heading {
    text-align: center;
    font-size: 1.2em; }
  .total-badge.red {
    background-color: #dd4b39;
    color: #fff; }
  .total-badge.golden {
    background-color: #db752c;
    color: #fff; }
  .total-badge.green {
    background-color: #28a745;
    color: #fff; }
  .total-badge.blue {
    background-color: #247edf;
    color: #fff; }

button.busy {
  background-image: url(../../../common/assets/images/submit-loader.gif);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px; }
