$primary-dark: #555;
$primary-dark-hover: #666;
$secondary-dark: #999;
$foreground-for-primary-dark: #fff;
$font_family: 'Poppins', Helvetica, sans-serif;
$sidebar-highlight: #11a266;
$user-menu-hover: #333;
$node-list-header-background: #eee;
$dropdown-menu-background-hover: #f8f9fa;
$dropdown-menu-background-active: #007bff;
$dropdown-menu-foreground-active: #fff;
$slow-shadow: rgba(0,0,0,.3);
$node-meta-color: #999;

/* Transition to a bigger shadow on hover */
.simplebar-content {
    overflow-x: hidden;
}

.margin-r-5 {
    margin-right: 5px;
}

.margin-r-10 {
    margin-right: 10px;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.no-border {
    border: none !important;
}

body {
    letter-spacing: 0.02rem;
    font-size: 0.9rem;
    background-color: #ecf0f5;
}



.page-wrapper {
    width: 98%;
    margin: 0px auto;
}

.sidenav {
    background-color: $primary-dark;
    color: $foreground-for-primary-dark;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;

    .maintenance-dropup {
        position: fixed;
        bottom: 0;
        width: 140px;

        button {
            display: block;
        }

        & > button {
            width: 100%;
            border-radius: 0;
        }
    }
}

.sidenav-links-container {
    width: 100%;
}

.sidenav-links {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
        color: $foreground-for-primary-dark;
        display: inline-block;
        padding: 14px 20px;

        &:hover {
            text-decoration: none;
            background-color: $primary-dark-hover;
        }

        cursor: pointer;
    }

    .rbicon {
        font-size: 1.3em;
    }

    .primary-sub-menu {
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        background: white;
        min-width: 200px;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

        li {
            display: block;

            a {
                display: block;
                color: #333;
                padding: 10px 15px;

                &:hover {
                    background-color: $sidebar-highlight;
                    color: white;
                }
            }
        }
    }

    & > li {
        list-style: none;
        display: inline-block;
        position: relative;

        &.group-item {
            text-transform: uppercase;
            color: #aaa;
            font-size: 0.8rem;
            padding: 0 20px;
        }

        &.active {
            a {
                background-color: $sidebar-highlight;
            }
        }

        &:hover {
            .primary-sub-menu {
                display: block;
            }
        }
    }
}

.client-main {
    padding-top: 80px;
}

.client-main-navlinks {
    font-size: 14px;

    ul {
        margin: 0;
    }

    a {
        color: #404040;
        display: block;
        margin: 0 15px;
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 1.2em;

        &:hover {
            text-decoration: none;
        }
    }

    li.active {
        a {
            font-weight: bold;
        }
    }
}

.user-menu {
    font-size: 16px;
    text-align: center;

    > a {
        color: $foreground-for-primary-dark;
        display: inline-block;
        padding: 12px;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    &:hover {
        background-color: $user-menu-hover;
    }

    .workspace {
        font-size: 1.2em;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 6px;
        white-space: nowrap;
    }

    .user-info {

        .user-name {
            display: inline-block;
        }
    }
}

.list-inline {
    li {
        display: inline;
    }
}

.rbicon.icon2x {
    font-size: 2em;
}

.client-main-content {
    background-color: #ecf0f5;

    &.active-dialog {
        overflow: hidden;
    }
}

.node-list {
    display: table;
    border: solid 1px #eee;
    width: 100%;
}

.node-list-header {
    display: table-caption;
    background-color: $node-list-header-background;

    .node-check {
        vertical-align: middle;
        padding: 8px 17px;
    }

    .actions {
        vertical-align: middle;
        padding: 8px 17px;
    }
}

.node-item {
    display: table-row;

    .node-check {
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
        padding-right: 15px;
    }

    .node-image {
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
        padding-right: 10px;
        width: 75px;
    }

    .node-info {
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
    }

    .action-links {
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
        width: 125px;

        .btn-group {
            visibility: hidden;
        }
    }

    &:hover {
        .action-links .btn-group {
            visibility: visible;
        }
    }
}

.node-image {
    img {
        width: 50px;
        height: 50px;
    }
}

.node-title {
    position: relative;

    a {
        font-size: 18px;
        display: inline-block;
        max-width: 600px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.node-meta {
    font-size: 13px;
    color: $node-meta-color;
}

.slow-shadow {
    &:hover {
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        border-color: $slow-shadow;
        transition: box-shadow 0.3s ease-in-out;
    }
}

.list-no-style {
    padding: 0;

    li {
        list-style: none;
    }
}

.scrollable-list {
    height: 200px;
    overflow: auto;
    border-radius: 5px;
    border: solid 1px #ccc;
    padding: 5px 15px;
}

.page-info {
    padding: 10px 0;
}

.typeahead {
    /* width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;

    &:focus {
        border: 2px solid #0097cf;
    }*/
}

.tt-query {
    /*  width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}

.tt-hint {
    /*   width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    display: none;*/
}

.twitter-typeahead {
    display: block !important;
}

.tt-menu {
    width: 273px;
    margin: 12px 0;
    padding: 8px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    left: -7px !important;
    background-color: white;
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;

    &:hover {
        cursor: pointer;
        color: $primary-dark;
        background-color: $dropdown-menu-background-hover;
    }

    &:active {
        background-color: $dropdown-menu-background-active;
        color: $dropdown-menu-foreground-active;
    }

    p {
        margin: 0;
    }
}

input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='number'], textarea, select {
    border: solid 1px #eee;
    border-radius: 3px;
    padding: 0.5em;
    display: block;
    width: 100%;
}

.input-group {
    input [type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='number'], textarea, select {
        display: flex;
        width: 1%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}

textarea {
    min-height: 50px;
}

input:focus, textarea:focus {
    outline: auto 1px rgba(0,0,0,0.2);
}

.popwin-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popwin-heading {
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 0;
    background-color: #eee;
    color: #555;
    border-top: solid 2px #ccc;
    border-bottom: solid 1px #ddd;
    position: relative;
}

.popwin-close {
    position: absolute;
    right: 15px;
    top: -10px;
    font-size: 35px;
}

.hicon {
    margin-right: 5px;
}

.editor-title {
    font-size: 20px;
}

.editor-icon-tabs li {
    display: inline-block;
    color: #bbb;
    font-size: 21px;
    padding: 0 8px;
    text-align: center;
}

.editor-icon-tabs li a {
    width: 25px;
    color: #bbb;
}

.editor-icon-tabs li.active a, .editor-icon-tabs li.used a {
    color: #555;
}

.editor-icon-tabs li i {
    padding-bottom: 3px;
}

.editor-icon-tabs li.active i {
    border-bottom: solid 2px #555;
}

.drag-area {
    border: dashed 2px #ccc;
    border-radius: 5px;
    height: 200px;
    font-size: 15px;
}

.drag-area div.msg {
    text-align: center;
    display: block;
    color: #aaa;
    margin-top: 85px;
}

.popwin-content {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 41px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.simplebar-content {
    overflow-x: hidden;
}

.save-button-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
    text-align: right;
    background-color: white;

    button, input[type='submit'], input[type='button'], a.btn {
        font-size: 13px;
        margin: 0 3px;
    }
}

.bootgrid-footer {
    background-color: #f2f2f2;
    padding: 10px 10px;
    border-top: solid 1px #ddd;
    margin: 0;
}

.btn:focus {
    box-shadow: none !important;
    background-color: #999;
    color: white;
}

.panel {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    .panel-title {
        color: #444;
        display: block;
        padding: 10px 20px;
        position: relative;
        font-size: 20px;
        border-bottom: solid 1px #f4f4f4;

        .big {
            font-size: 25px;
        }
    }

    .panel-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 20px;
    }
}

h3.page-title {
    margin-bottom: 15px;
}

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

    input[type='file'] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        font-size: 100px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.image-block {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.draggable, .ui-sortable-handle {
    cursor: grabbing;
}

.trash-link {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

#categories-container {
    margin-top: 5px;
}

.bootstrap-tagsinput {
    border: 1px solid #eee;

    input[type='text'] {
        border: solid 1px transparent !important;
    }
}

.overlay {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 16;
}

.popup {
    position: absolute;
    z-index: 17;
    min-width: 330px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    display: none;
    background: #fff;
    border-radius: 3px;

    .panel {
        margin-bottom: 0;
    }

    .popup-close, .close-popup {
        cursor: pointer;
    }

    .popup-actions {
        padding-bottom: 15px;
        background-color: #f2f2f2;
        padding-top: 15px;
        border-top: solid 1px #ddd;
    }

    .panel-body {
        max-height: 600px;
        overflow: auto;
    }
}

select {
    &.form-control {
        border: solid 1px #eee;
        border-radius: 3px;
        padding: .5em;
        display: block;
        width: 100%;
    }
}


.notification {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 10px 20px;
    top: 10px;
    border-radius: 15px;
    display: none;
    z-index: 2;
    cursor: pointer;

    ul {
    }
}

.clickable {
    cursor: pointer;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    display: none;

    .handle {
        position: absolute;
        background-color: green;
        height: 100%;
        width: 350px;
    }
}

.pagination {
    .active {
        a {
            background-color: #6c757d;
            color: white;
        }
    }
}

label {
    font-size: 1.1em;
}

label.error {
    color: red;
    font-weight: bold;
    display: block;
    border-top: solid 1px;
    text-align: center;
    padding: 2px 0;
    font-size: 0.7em;
}

.capabilities-selector-box {
    max-height: 400px;
    overflow: auto;
    width: 350px;

    label {
        display: block;
    }
}

table.table-borderless {
    border: none;

    tr, td {
        border: none;
    }

    td {
        padding: 0.3rem 0.75rem;
    }
}


.ui-sortable-handle {
    border: solid 1px #ddd;
    padding: 10px;
    margin: 5px 0;
    cursor: grab;
}

tr.ui-sortable-handle td:first-child:before {
    font-family: 'rbicon' !important;
    content: "\e9a5";
    float: left;
    margin-right: 15px;
    height: 25px;
}

.menu-page {
    #categories-container, #pages-container {
        max-height: 250px;
        overflow: auto;
        border-bottom: solid 1px #eee;
        padding: 20px;
        margin-top: 0;

        ul {
            margin-left: 15px;
            padding: 0;

            li {
                list-style: none;
            }
        }
    }
}

.disabled {
    * {
        pointer-events: none;
        /* for "disabled" effect */
        opacity: 0.5;
        background: #CCC;
    }
}

.total-badge {
    padding: 15px;
    text-align: center;
    margin: 0 0 20px 0;
    position: relative;
    border-radius: 7px;

    .count {
        font-size: 3em;
    }

    .heading {
        text-align: center;
        font-size: 1.2em;
    }

    &.red {
        background-color: #dd4b39;
        color: #fff;
    }

    &.golden {
        background-color: #db752c;
        color: #fff;
    }

    &.green {
        background-color: #28a745;
        color: #fff;
    }

    &.blue {
        background-color: #247edf;
        color: #fff;
    }
}

button.busy {
    background-image: url(../../../common/assets/images/submit-loader.gif);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 25px;
}

.mobile-navigation {
    display: none !important;
}

.mobile-secondary-navigation {
    display: none;
}

@media only screen and (max-width:1000px) {
    .sidenav {
        left: -140px;
    }

    .client-main {
        left: 0px;
    }

    .client-main-navlinks {
        left: 0px;
    }

    .client-main-content {
        left: 0px;
    }

    .mobile-navigation {
        display: inline-block !important;
    }

    .desktop-secondary-navigation {
        display: none !important;
    }

    .mobile-navigation-select {
        width: auto;
        padding: 0;
        display: inline-block;
        border: none;
    }
}

.footer {
    bottom: 0;
    padding: 2px;
    text-align: right;
    right: 0;
    font-weight: bold;
    color: gray;
}

.panel-help {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 15px;
}

.trumbowyg-box, .trumbowyg-editor {
    margin: initial;
}
