<form action='{% route api_Admin.SaveTaxRate taxId="{{taxRate.taxId}}" %}' method="post" id="tax-rate-editor-form">
    {% control xsrf %}
    <div class="panel">
        <div class="panel-title">
            {{"Tax Rate Editor" | t}}
            <a class="popup-close float-right">
                <span class="rbicon-x"></span>
            </a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        {% control label text=@t"Country" for="country" %}
                        {% control select id="country" name="countryId" value="taxRate.countryId" required="true" items="availableCountries" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"State or Province" for="state" %}
                        {% control select id="state" name="stateOrProvinceId" value="taxRate.stateOrProvinceId" items="availableStates" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Postal Code" for="postalCode" %}
                        <div class="panel-help">
                            {{"Enter if you wish to restrict this tax to some specific postal code. Leave empty to apply the tax to the entire state." | t}}
                        </div>
                        {% control text id="postalCode" name="zipOrPostalCode" value="{{taxRate.zipOrPostalCode}}" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Rate" for="rate" %}
                        {% control number id="rate" name="rate" value="{{taxRate.rate}}" %}
                    </div>
                    <script type="text/javascript">
                        ready(function() {
                            initCountryState("country", "state", null, "{{taxRate.stateOrProvinceId}}");
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="popup-actions text-center">
                    {% control hidden name="id" value="{{taxRate.id}}" %}
                    <button type="submit" class="btn btn-sm btn-primary">{{"Save Tax Rate" | t}}</button>
                    <button class="btn btn-secondary btn-sm close-popup" type="reset">{{"Cancel" | t}}</button>
                </div>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    initAjaxForm("tax-rate-editor-form",
        {
            onSuccess: function() {
                hidePopup("edit-tax-popup");
            }
        });

</script>