{% secondary_navigation url="{% route GetSettings settingType="general" %}" title=@t"General" systemName="GeneralSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="user" %}" title=@t"Customer" systemName="UserSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="vendor" %}" title=@t"Vendor" systemName="VendorSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="tax" %}" title=@t"Tax" systemName="TaxSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="media" %}" title=@t"Media" systemName="MediaSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="order" %}" title=@t"Orders" systemName="OrderSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="catalog" %}" title=@t"Catalog" systemName="CatalogSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="email" %}" title=@t"Email" systemName="EmailSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="gdpr" %}" title=@t"Gdpr" systemName="GdprSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="url" %}" title=@t"Url" systemName="UrlSettings" %}
{% secondary_navigation url="{% route GetSettings settingType="localization" %}" title=@t"Localization" systemName="LocalizationSettings" %}
{% secondary_navigation url="{% route ScheduledTasksList %}" title=@t"Scheduled Tasks" systemName="ScheduledTasksList" %}