<!-- PAGE SECTION START -->
<div class="page-section section" id="cart-section">
    {% if cart.conflictingProducts %}
    <div class="alert alert-danger">
        {{"Your cart contains both subscription and one-time purchase products. Please remove one of them to continue checkout." | t}}
    </div>
    {% endif %}
    {% if cart.items.size > 0 %}
    <div class="row">
        <div class="col-12">
            <div class="cart-table table-responsive mb-40">

                <table>
                    <thead>
                        <tr>
                            <th class="pro-thumbnail"></th>
                            <th class="pro-title">{{"Product" | t}}</th>
                            <th class="pro-price">{{"Price" | t}}</th>
                            <th class="pro-quantity">{{"Quantity" | t}}</th>
                            <th class="pro-subtotal">{{"Total" | t}}</th>
                            {% if checkout == "false" %}
                            <th class="pro-remove">{{"Remove" | t}}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for cartItem in cart.items %}
                        <tr>
                            <td class="pro-thumbnail">
                                <a href='{% route SingleProduct seName="{{cartItem.slug}}" %}'>
                                    <img src="{{cartItem.imageUrl}}" alt="" />
                                </a>
                            </td>
                            <td class="pro-title">
                                <a href='{% route SingleProduct seName="{{cartItem.slug}}" %}'>{{cartItem.productName}}</a>
                                <p>
                                    {{cartItem.attributeText | newLine2Br}}
                                </p>
                                {% unless cartItem.productSaleType == "OneTime" %}
                                <p>
                                    {{"repeats every" | t}}
                                    <strong>
                                        {{cartItem.CycleCount}}
                                        {% if cartItem.subscriptionCycle == "Daily" %}
                                        {{"day(s)" | t}}
                                        {% endif %}
                                        {% if cartItem.subscriptionCycle == "Monthly" %}
                                        {{"month(s)" | t}}
                                        {% endif %}
                                    </strong>
                                </p>
                                {% endunless %}
                            </td>
                            <td class="pro-price">
                                {% if cartItem.comparePrice > 0 %}
                                <div>
                                    <del>{{cartItem.comparePriceFormatted}}</del>
                                </div>
                                {% endif %}
                                <strong>
                                    <span class="amount">{{cartItem.priceFormatted}}</span>
                                </strong>
                            </td>
                            <td class="pro-quantity">
                                <div class="product-quantity">
                                    <form action="{% route api_UpdateCart %}" method="post" id="form-cart-{{cartItem.id}}">
                                        {% control xsrf %}
                                        <input name="quantity" id="quantity-{{cartItem.id}}" class="no-spinner" type="number" min="1" value="{{cartItem.quantity}}" />
                                        {% control hidden name="cartItemId" value="{{cartItem.id}}" %}
                                    </form>
                                    <script type="text/javascript">
                            ready(function() {
                                initAjaxForm("form-cart-{{cartItem.id}}",
                                    {
                                        onSuccess: function() {
                                            //reload cart
                                            reloadComponent("CartSection",
                                                {
                                                    checkout: "{{checkout}}"
                                                },
                                                "#cart-section");
                                        }
                                    });
                                jQuery("#btn-update-cart").click(function() {
                                    jQuery("#form-cart-{{cartItem.id}}").submit();
                                });
                                jQuery("#quantity-{{cartItem.id}}").change(function() {
                                    jQuery("#form-cart-{{cartItem.id}}").submit();
                                });
                            });
                                    </script>
                                </div>
                            </td>
                            <td class="pro-subtotal">{{cartItem.subTotalFormatted}}</td>
                            {% if checkout == "false" %}
                            <td class="pro-remove">
                                <form action="{% route api_UpdateCart %}" method="post" id="remove-form-cart-{{cartItem.id}}">
                                    {% control xsrf %}
                                    <input name="quantity" id="remove-quantity-{{cartItem.id}}" type="hidden" value="0" />
                                    {% control hidden name="cartItemId" value="{{cartItem.id}}" %}
                                    <span href="#" id="a-remove-form-cart-{{cartItem.id}}" class="clickable">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </form>
                                <script type="text/javascript">
                                    ready(function() {
                                        initAjaxForm("remove-form-cart-{{cartItem.id}}",
                                            {
                                                onSuccess: function() {
                                                    //reload cart
                                                    reloadComponent("CartSection",
                                                        {
                                                            checkout: "{{checkout}}"
                                                        },
                                                        "#cart-section");
                                                    reloadComponent("MiniCart", { success: true }, "#mini-cart");
                                                }
                                            });

                                        jQuery("#a-remove-form-cart-{{cartItem.id}}").click(function (e) {
                                            e.preventDefault();
                                            jQuery("#remove-form-cart-{{cartItem.id}}").submit();
                                        });
                                    });
                                </script>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-8">
            {% if checkout == "false" %}
            <div class="cart-buttons mb-30">
                <a href="{% route Home %}">{{"Shop more" | t}}</a>
            </div>
            <div class="cart-coupon mb-40">
                <h4>{{"Discount Coupon" | t}}</h4>

                <form action="{% route api_UpdateCart %}" method="post" id="form-discount-coupon">
                    {% control xsrf %}
                    {% if cart.discountCoupon != "" %}
                    <span class="text-uppercase">
                        {{cart.discountCoupon}}
                    </span>
                    <input type="hidden" name="removeCoupon" value="true" />
                    <a id="link-remove" href="">
                        <span class="fa fa-times"></span>
                    </a>
                    <script type="text/javascript">
                        ready(function () {
                            jQuery("#link-remove").click(function (e) {
                                e.preventDefault();
                                jQuery("#form-discount-coupon").submit();
                            });
                        })
                    </script>
                    {% else %}
                    <div class="text-danger" id="discount-error"></div>
                    {% control label for="discountCoupon" text=@t"Enter your coupon code if you have one." %}
                    {% control text name="discountCoupon" id="discountCoupon" placeholder=@t"Enter coupon code" class="text-uppercase" required="true" %}
                    {% control validator for="discountCoupon" required="true" %}
                    <input type="submit" value='{{"Apply Coupon" | t}}' />
                    {% endif %}

                </form>
                <script type="text/javascript">
            ready(function() {
                initAjaxForm("form-discount-coupon",
                    {
                        onSuccess: function() {
                            //reload cart
                            reloadComponent("CartSection",
                                {
                                    checkout: "{{checkout}}"
                                },
                                "#cart-section");
                        },
                        onError: function(response) {
                            var msg = "";
                            switch (response.status) {
                            case "InvalidCode":
                                msg = '{{"The coupon code is not valid" | t}}';
                                break;
                            case "NotEligibleForCart":
                                msg = '{{"The coupon is not eligible or has already been used" | t}}';
                                break;
                            }
                            jQuery("#discount-error").html("<label>" + msg + "</label>");

                        },
                        errorPlacement: function(error, element) {
                            jQuery("#discount-error").html(error);
                        }
                    });
            });
                </script>
            </div>

            {% else %}
            {% if cart.shippingMethodName %}
            <h3>{{"Delivery Options" | t}}</h3>
            <label>{{"Shipping Method" | t}}</label>
            <div class="text-dark">
                {{cart.shippingMethodName}}
            </div>
            <label>{{"Shipping Option" | t}}</label>
            <div class="text-dark">
                {{cart.shippingOptionName}}
            </div>
            {% endif %}
            {% endif %}

        </div>
        <div class="col-12 col-md-4 mb-40">
            <div class="cart-total mb-40">
                <h3>{{"Cart Summary" | t}}</h3>
                <table class="mb-40">
                    <tbody>
                        <tr class="cart-subtotal">
                            <th>{{"Subtotal" | t}}</th>
                            <td>
                                <span class="amount">
                                    {{cart.subTotalFormatted}}
                                </span>
                            </td>
                        </tr>
                        {% if cart.discount > 0 %}
                        <tr class="cart-subtotal">
                            <th>{{"Discount" | t}}</th>
                            <td>
                                <span class="amount">
                                    -{{cart.discountFormatted}}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if cart.tax > 0 %}
                        <tr class="cart-subtotal">
                            <th>{{"Tax" | t}}</th>
                            <td>
                                <span class="amount">
                                    {{cart.taxFormatted}}
                                </span>
                            </td>
                        </tr>
                        {% endif %}

                        {% unless checkout == "false" %}
                        {% if cart.shippingMethodFee > 0 %}
                        <tr class="cart-subtotal">
                            <th>{{"Shipping" | t}}</th>
                            <td>
                                <span class="amount">
                                    {{cart.shippingMethodFee | withCurrency}}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% endunless %}
                        <tr class="order-total">
                            <th>{{"Total" | t }}</th>
                            <td>
                                <strong><span class="amount">{{cart.finalAmountFormatted}}</span></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% if checkout == "false" %}
                {% unless cart.conflictingProducts %}
                <div class="proceed-to-checkout section mt-30">
                    <a class="btn btn-primary" href="{% route CheckoutAddress %}">{{"Proceed to Checkout" | t}}</a>
                </div>
                {% endunless %}
                {% endif %}
            </div>
        </div>

    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <i class="fa fa-shopping-cart fa-5x"></i>
                <h4>{{"Your shopping cart is empty" |t}}</h4>
            </div>
        </div>
    </div>
    {% endif %}

</div>
<!-- PAGE SECTION END -->
<script type="text/javascript">
    ready(function () {
        window.styleQty();
    });
</script>