<h4>License</h4>
<div class="license">
    <pre>{{license}}</pre>
</div>
<p  class="text-center">
    <strong>
        By using the software, you agree to abide by the license terms
    </strong>
</p>
<div class="wizard-navigation">
    <a href="" class="btn btn-secondary float-left prev-link" onclick="stepDown()">Back</a>
    <a href="" class="btn btn-primary float-right next-link" onclick="stepUp()">Next</a>
</div>
<style>
    .license {
        height: 400px;
        overflow: auto;
        margin-bottom: 40px;
        padding: 5px;
    }
    .license pre {
        white-space: pre-line;
    }
</style>