{% primary_navigation url="" title=@t"Dashboard" systemName="Dashboard" %}
{% primary_navigation url="{% route OrdersList %}" title=@t"Orders" systemName="OrdersList" %}
{% primary_navigation url="{% route ProductsList %}" title=@t"Products" systemName="ProductsList" %}
{% primary_navigation url="{% route UsersList %}" title=@t"Users" systemName="UsersList" %}
{% primary_navigation url="{% route ContentPagesList %}" title=@t"Pages" systemName="ContentPagesList" %}
{% primary_navigation url="{% route DiscountsList %}" title=@t"Promotions" systemName="DiscountsList" %}
{% primary_navigation url="{% route EmailMessagesList %}" title=@t"Emails" systemName="EmailsList" %}
{% primary_navigation url="{% route CountriesList %}" title=@t"Countries" systemName="CountriesList" %}
{% primary_navigation url="{% route TaxesList %}" title=@t"Taxes" systemName="TaxesList" %}
{% primary_navigation url="{% route PluginsList %}" title=@t"Plugins" systemName="PluginsList" %}
{% primary_navigation url="{% route GetSettings settingType="general" %}" title=@t"Settings" systemName="Settings" %}
