{% primary_navigation url="{% route Dashboard %}" title=@t"Dashboard" systemName="Dashboard" %}

{% primary_navigation group=@t"Store" order="1" id="store" %}
{% primary_navigation url="{% route OrdersList %}" title=@t"Orders" systemName="OrdersList" groupId="store" %}
{% primary_navigation url="{% route ProductsList %}" title=@t"Catalog" systemName="ProductsList" groupId="store" %}
{% primary_navigation url="{% route UsersList %}" title=@t"Users" systemName="UsersList" groupId="store" %}
{% primary_navigation url="{% route ContentPagesList %}" title=@t"Pages" systemName="ContentPagesList" groupId="store" %}
{% primary_navigation url="{% route DiscountsList %}" title=@t"Promotions" systemName="DiscountsList" groupId="store" %}

{% primary_navigation group=@t"Masters" order="2" id="masters" %}
{% primary_navigation url="{% route EmailMessagesList %}" title=@t"Emails" systemName="EmailsList" groupId="masters" %}
{% primary_navigation url="{% route CountriesList %}" title=@t"Countries" systemName="CountriesList" groupId="masters" %}
{% primary_navigation url="{% route TaxesList %}" title=@t"Taxes" systemName="TaxesList" groupId="masters" %}
{% primary_navigation url="{% route MenuList %}" title=@t"Navigation" systemName="Navigation" groupId="masters" %}

{% primary_navigation group=@t"Config" order="2" id="settings" %}
{% primary_navigation url="{% route PluginsList %}" title=@t"Plugins" systemName="PluginsList" groupId="settings" %}
{% primary_navigation url="{% route ConsentGroupsList %}" title=@t"GDPR" systemName="Gdpr" groupId="settings" %}
{% primary_navigation url="{% route GetSettings settingType="general" %}" title=@t"Settings" systemName="Settings" groupId="settings" %}
