{% layout "_Layout"%}
{% global page_title=@t"Discount Editor" active_menu="GetDiscount" parent_active_menu="DiscountsList"%}
{% partial "Navigation/DiscountEditSecondaryNavigation" %}

<h3 class="page-title">
    {% if discount.id != 0 %}
    {{ discount.name }}
    {% else %}
    {{"Add Discount" | t }}
    {% endif %}
</h3>
<form action="{% route api_SaveDiscount %}" method="post" id="save-discount-form">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        {% control label text=@t"Name" for="name" %}
                        {% control text name="name" id="name" placeholder=@t"e.g. 10% off above $500 or Christmas 2018 Offer" value="{{discount.name}}"%}
                        {% control validator for="name" required="true" %}
                    </div>
                    <div class="form-group">
                        {% control checkbox name="hasCouponCode" value="discount.hasCouponCode" text=@t"Require coupon code?" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Coupon Code" for="couponCode" %}
                        {% control text name="couponCode" id="couponCode" placeholder=@t"e.g. DISC50 or pyz10" value="{{discount.couponCode}}"%}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Calculate as" for="calculationType" %}
                        {% control select name="calculationType" id="calculationType" items="availableCalculationTypes"  value="discount.calculationTypeDisplay" %}
                    </div>
                    <div class="form-group">
                        {% control label text=@t"Discount Value" for="discountValue" %}
                        {% control number name="discountValue" id="discountValue" value="{{discount.discountValue}}" %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% control label text=@t"No. of times per user" for="numberOfTimesPerUser" %}
                                {% control text name="numberOfTimesPerUser" id="numberOfTimesPerUser" value="{{discount.numberOfTimesPerUser}}"%}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% control label text=@t"Max. no. of times" for="totalNumberOfTimes" %}
                                {% control text name="totalNumberOfTimes" id="totalNumberOfTimes" value="{{discount.totalNumberOfTimes}}"%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-title">
                    {{"Coupon Life" | t }}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control checkbox name="enabled" value="discount.enabled" text=@t"Active" %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% control label text=@t"Start Date" for="startDate" %}
                                {% control datetime name="startDate" id="startDate" value="{{discount.startDate}}"%}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% control label text=@t"End Date" for="endDate" %}
                                {% control datetime name="endDate" id="endDate" value="{{discount.endDate}}"%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-title">
                    {{"Discount Type" | t}}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% control label text=@t"Apply to" for="restrictionType" %}
                        {% control select name="restrictionType" id="restrictionType" value="discount.restrictionTypeDisplay" items="availableRestrictionTypes" %}

                    </div>
                    <div class="form-group">
                        <div id="selector-grid-area" style="display: none;">
                            <button class="btn btn-sm btn-primary" type="button" id="btn-add-restriction">
                                {{"Add" | t}}
                            </button>
                            <table id="grid-restriction-list" class="table table-hover table-condensed" style="display: none; margin-top: 15px;">
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false" style="display: none">ID</th>
                                        <th data-column-id="name" data-formatter="restriction-item-name">{{"Name" | t}}</th>
                                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="popup-selector" style="width: 800px; min-height: 200px; display: none"></div>
                        <script type="text/javascript">
                           
                            ready(function () {
                                var currentType = "{{discount.restrictionTypeDisplay}}";
                                var savedRows = [];
                                savedRows[currentType] = [];

                                var fillRowTypes = function(type) {
                                    if (savedRows[type]) {
                                        savedRows[type].forEach(function(item) {
                                            addRestrictionRow(item);
                                        });
                                    }
                                }
                                //generation restriction grid
                                generateGrid({
                                    element: "grid-restriction-list",
                                    selection: false,
                                    navigation: 0,
                                    columnSelection: false,
                                    formatters: {
                                        "restriction-item-name": function (column, row) {
                                            return row.fullCategoryPath || row.name;
                                        },
                                        "commands": function (column, row) {
                                            return "<button type='button' class='btn btn-danger btn-sm command-preview' data-row-id='" +
                                                row.id +
                                                "' onclick='deleteRestriction(\"" +
                                                row.id +
                                                "\")'><span class='rbicon-trash-2'></span></button>";
                                        }
                                    }
                                });

                                var selectedType = currentType;
                                jQuery("#restrictionType").focus(function() {
                                    selectedType = jQuery(this).val();
                                });
                                jQuery("#restrictionType").change(function(e) {
                                    var value = jQuery(this).val();
                                    if (currentType !== value) {
                                        var currentGridRows = getGridRows("grid-restriction-list");
                                        savedRows[selectedType] = currentGridRows;
                                        if (savedRows[currentType].length > 0) {
                                            if (!confirm(
                                                '{{"This will clear current restrictions. Are you sure you want to continue?" | t}}',
                                                function() {
                                                    clearGrid("grid-restriction-list");
                                                    fillRowTypes(value);
                                                })) {
                                                e.preventDefault();
                                            }
                                        }
                                    } else {
                                        fillRowTypes(currentType);
                                    }
                                    
                                    var label = '{{"Add" | t}}';
                                    switch (value) {
                                    case "Products":
                                        label = '{{"Add products" | t }}';
                                        break;
                                    case "Categories":
                                        label = '{{"Add categories" | t }}';
                                        break;
                                    case "Users":
                                        label = '{{"Add users" | t }}';
                                        break;
                                    case "UserGroups":
                                        label = '{{"Add user groups" | t }}';
                                        break;
                                    case "Roles":
                                        label = '{{"Add roles" | t }}';
                                        break;
                                    case "Vendors":
                                        label = '{{"Add vendors" | t }}';
                                        break;
                                    case "Manufacturers":
                                        label = '{{"Add manufacturers" | t }}';
                                        break;
                                    case "PaymentMethods":
                                        label = '{{"Add payment methods" | t }}';
                                        break;
                                    case "ShippingMethods":
                                        label = '{{"Add shipping methods" | t }}';
                                        break;
                                    case "OrderTotal":
                                        break;
                                    case "OrderSubTotal":
                                        break;
                                    }

                                    if (value !== "0" && value !== "OrderTotal" && value !== "OrderSubTotal") {
                                        jQuery("#selector-grid-area").show();
                                    } else {
                                        jQuery("#selector-grid-area").hide();
                                    }

                                    jQuery("#btn-add-restriction").text(label);
                                });

                                jQuery("#btn-add-restriction").click(selectRestriction);

                                //add any existing rows
                                /*{% for r in discount.restrictionValues %}*/
                                var r = {
                                    id: "{{r.restrictionIdentifier}}",
                                    name: "{{r.name}}"
                                };
                                savedRows[currentType].push(r);
                                addRestrictionRow(r);
                                /*{% endfor %}*/
                                jQuery("#restrictionType").trigger("change");
                            });

                            var addRestrictionRow = function (row) {
                                addRowsToGrid("grid-restriction-list", [row]);
                                jQuery("#grid-restriction-list").show();
                            }

                            var selectRestriction = function() {
                                var type = jQuery("#restrictionType").val();
                                if (!type || type == "0")
                                    return;
                                jQuery("#popup-selector").html("{{'Please wait...'}}");
                                var centerPopup = showAsPopup("popup-selector",
                                    true,
                                    function(result, data) {
                                        if (result == "ok") {
                                            data.forEach(function(d) {
                                                addRestrictionRow({
                                                    id: d.id.toString(),
                                                    name: d.fullCategoryPath || d.name
                                                });
                                            });

                                        }
                                    });
                                var url =
                                    '{% route SelectorDialog entityName="%" multiSelect="true" %}'.replace("%", type);
                                loadPage(url,
                                    true,
                                    null,
                                    function(response) {
                                        jQuery("#popup-selector").html(response);
                                        centerPopup();
                                    });
                            }

                            var deleteRestriction = function(id) {
                                function deleteImpl() {
                                    var url = '{% route api_DeleteDiscountRestriction %}';
                                    post({
                                        url: url,
                                        data: {
                                            discountId: "{{discountId}}",
                                            restrictionIdentifier: id
                                        },
                                        done: function() {
                                            removeRowFromGrid("grid-restriction-list", id);
                                        }
                                    });
                                }

                                if ("{{discountId}}" !== "0") {
                                    var msg =
                                        '{{"Are you sure you want to continue? The action can not be undone." | t}}';
                                    confirm(msg, deleteImpl);
                                } else {
                                    removeRowFromGrid("grid-restriction-list", id);
                                }

                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% control hidden name="id" value="{{discountId}}" %}
    <div class="save-button-container">
        <button type="submit" class="btn btn-success">{{"Save Discount" | t}}</button>
        <a class="btn btn-default" href="{% route UsersList %}">{{"Cancel" | t}}</a>
    </div>
</form>
<script type="text/javascript">
    ready(function () {
        initAjaxForm("save-discount-form",
            {
                extraData: function() {
                    //get restrictions
                    var restrictionRows = getGridRows("grid-restriction-list");
                    var restrictions = [];
                    restrictionRows.forEach(function(row) {
                        restrictions.push({
                            restrictionIdentifier: row.id
                        });
                    });
                    return {
                        restrictionValues : restrictions
                    }
                },
                onSuccess: function () {
                    notify("success", '{{"Discount was saved successfully." | t }}');
                    setTimeout(function () {
                        navigate("{% route DiscountsList %}");
                    }, 500);

                }
            });
    })

</script>

