<ul class="account-navigation">
    <li>
        <a href="{% route AccountProfile %}" class='{% if active_menu == "AccountProfile" %}active{% endif %}'>{{"Profile" | t}}</a>
    </li>
    <li>
        <a href="{% route AccountGdpr %}" class='{% if active_menu == "AccountGdpr" %}active{% endif %}'>{{"Privacy" | t}}</a>
    </li>
    <li>
        <a href="{% route AccountAddresses %}" class='{% if active_menu == "AccountAddresses" %}active{% endif %}'>{{"Saved Addresses" | t}}</a>
    </li>
    <li>
        <a href="{% route AccountOrders %}" class='{% if active_menu == "AccountOrders" %}active{% endif %}'>{{"Orders" | t}}</a>
    </li>
    <li>
        <a href="{% route AccountWishlist %}" class='{% if active_menu == "AccountWishlist" %}active{% endif %}'>{{"Wishlist" | t}}</a>
    </li>
    <li>
        <a href="{% route AccountReviews %}" class='{% if active_menu == "AccountReviews" %}active{% endif %}'>{{"Review Center" | t}}</a>
    </li>
    {% if withSignout %}
    <li>
        <a href="{% route ForgotPassword %}">{{"Change Password" | t}}</a>
    </li>
    {% if currentUser.isAdministrator %}
    <li>
        <a href="{% route Dashboard %}">{{"Administration" | t}}</a>
    </li>
    {% endif %}
    <li>
        <a href="{% route Logout %}">{{"Signout" | t}}</a>
    </li>
    {% assign withSignout=false %}
    {% endif %}
</ul>