<form action="{% route api_Admin.SaveCustomLabel %}" method="post" id="customLabel-editor-form">
    {% control xsrf %}
    <div class="panel">
        <div class="panel-title">
            {{"Custom Label Editor" | t}}
            <a class="popup-close float-right">
                <span class="rbicon-x"></span>
            </a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        {% control label text=@t"Text" for="customLabel-name" %}
                        {% control text id="customLabel-name" name="text" placeholder=@t"Text" value="{{customLabel.text}}" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="popup-actions text-center">
                    {% control hidden name="id" value="{{customLabel.id}}" %}
                    {% control hidden name="labelType" value="{{customLabel.labelType}}" %}
                    <button type="submit" class="btn btn-sm btn-primary">{{"Save Custom Label" | t}}</button>
                    <button class="btn btn-secondary btn-sm close-popup" type="reset">{{"Cancel" | t}}</button>
                </div>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    initAjaxForm("customLabel-editor-form",
        {
            onSuccess: function() {
                hidePopup("edit-customLabel-popup");
            }
        });

</script>