{% if relatedProducts.size > 0 %}
<!-- PRODUCT SECTION START -->
<div class="product-section section pb-120">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-12 mb-10">
                <h3>{{"Related Products" | t}}</h3>
            </div>
            {% for product in relatedProducts %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                {% partial "Products/_ProductBox" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- PRODUCT SECTION END -->
{% endif %}
